// SASS items shared across all stylesheets ------------------------------------------------

// Set up our mixins -------------------------------------------------------------------------

// Border radius
@mixin border-radius($radius) {
  border-radius:$radius;
  -moz-border-radius:$radius;
  -webkit-border-radius:$radius;
}

// Box shadow
@mixin box-shadow($shadow-1,
  $shadow-2: false, $shadow-3: false,
  $shadow-4: false, $shadow-5: false,
  $shadow-6: false, $shadow-7: false,
  $shadow-8: false, $shadow-9: false) {

  $full: $shadow-1;
  $shadows: $shadow-2, $shadow-3,
            $shadow-4, $shadow-5,
            $shadow-6, $shadow-7,
            $shadow-8, $shadow-9;

  @each $shadow in $shadows {
    @if $shadow {
      $full: $full, $shadow;
    }
  }
  -webkit-box-shadow: $full;
  -moz-box-shadow: $full;
  -o-box-shadow: $full;
  box-shadow: $full;
}

// Gradient fills
@mixin gradient-fill($color1, $color2) {
  background-color: $color2;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($color1), to($color2));
  background-image: -moz-linear-gradient(top, $color1, $color2);
  background-image: -ms-linear-gradient(top, $color1, $color2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
  background-image: -webkit-linear-gradient(top, $color1, $color2);
  background-image: -o-linear-gradient(top, $color1, $color2);
  background-image: linear-gradient(top, $color1, $color2);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color1}', endColorstr='#{$color2}', GradientType=0);
}

// Transitions
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

// Box sizing
@mixin box-sizing($sizing-type) {
  -moz-box-sizing:$sizing-type;
  -webkit-box-sizing:$sizing-type;
  box-sizing:$sizing-type;
}

// Background-clip
@mixin background-clip($sizing-type) {
  -moz-background-clip:$sizing-type;
  -webkit-background-clip:$sizing-type;
  background-clip:$sizing-type;
} 

// Opacity
@mixin opacity($opacity: 100) {
  filter: alpha(opacity=#{$opacity});
  -khtml-opacity: $opacity / 100;
  -moz-opacity: $opacity / 100;
  opacity: $opacity / 100;
}

// Columns
@mixin columns($count: 3, $gap: 10) {
  -webkit-column-count: $count;
  -moz-column-count:    $count;
  column-count:         $count;
  -webkit-column-gap:   $gap;
  -moz-column-gap:      $gap;
  column-gap:           $gap;
}

// Custom functions ------------------------------------------------------------------------

@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

@function shade($color, $percent){
  @return mix(black, $color, $percent);
}