// Tribe called quest - Oh my god -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #AD8030;
$background-color: #ffffff;

body {
  background:url("../images/atcq/book_background.jpg") repeat-y top center fixed;
  background-size: cover;
  color:$primary-color;
  @media screen and (max-width: 500px) {
    background-size: 1300px;
  }
}
a {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$primary-color;
  }
}
#header {
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: $secondary-color;
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
#footer {
  background-color: rgba($primary-color, 0.95);
  color: $secondary-color;
  a {
    color: $secondary-color;
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $secondary-color;
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: $secondary-color;
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $secondary-color;
}
.iTunesPreviewPlayer:after {
  color: $secondary-color;
}
#main {
  font: 400 150%/1.5 "skolar", 'Georgia', 'Palatino Linotype', Times New Roman, Times, serif;
}
article {
  margin: 0 auto 3em;
  max-width: 600px;
  position: relative;
  width: 100%;
  header {
    max-width: 700px;
    opacity: 0.2;
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: -1;
    > h1 {
      color: $secondary-color;
      display: block;
      font-weight:400;
      font-size:16em;
      font-style: italic;
      line-height:0.8;
      @media screen and (max-width: 500px) {
        font-size:12em;
      }
    }
  }
  > figure {
    margin:0 auto;
    position:relative;
    text-shadow: 0 0 2px rgba($primary-color, 0.6);
    width: 100%;
    p {
      margin-bottom: 3em;
      @include columns(2, 6%);
      @media screen and (max-width: 600px) {
        @include columns(1, 0);
      } 
      &:first-letter {
        border: 4px solid $primary-color;
        box-shadow: 0 0 2px rgba($primary-color, 0.6);
        float: left;
        font-size: 3em;
        line-height: 0.7;
        margin: 8px 20px 0 0;
        padding: 15px;
      }
    }
    > figcaption {
      font-size: 0.8em;
      font-style: italic;
      width: 60%;
      > cite {
        font-style: italic;
      }
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}