// Tribe called quest - Oh my god -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #AD8030;
$background-color: #ffffff;

body {
  background:url("../images/atcq/book_background.jpg") no-repeat top center fixed;
  background-size: cover;
  color:$primary-color;
  font: 400 150%/1.5 "skolar", 'Georgia', 'Palatino Linotype', Times New Roman, Times, serif;
  *font-size:small;
}
a {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$primary-color;
  }
}
#header {
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.overlay-nav {
  background-color: rgba($primary-color, 0.98)
}
#footer {
  background-color: $primary-color;
  color: $secondary-color;
  a {
    color: $secondary-color;
  }
}
.iTunesPreviewPlayer {
  background-color: $secondary-color;
}
.iTunesPreviewPlayer:after {
  color: $secondary-color;
}
article {
  margin: 0 auto 3em;
  max-width: 600px;
  position: relative;
  width: 100%;
  header {
    max-width: 700px;
    opacity: 0.2;
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: -1;
    > h1 {
      color: $secondary-color;
      display: block;
      font-weight:400;
      font-size:16em;
      font-style: italic;
      line-height:0.8;
    }
  }
  > figure {
    margin:0 auto;
    position:relative;
    text-shadow: 0 0 2px rgba($primary-color, 0.6);
    width: 100%;
    p {
      margin-bottom: 3em;
      @include columns(2, 6%);
    }
    > figcaption {
      font-size: 0.8em;
      font-style: italic;
      > cite {
        font-style: italic;
      }
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}