// Tribe called quest - Oh my god -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #AD8030;
$background-color: #ffffff;

body {
  background:url("../images/atcq/book_background.jpg") no-repeat top center fixed;
  background-size: cover;
  color:$primary-color;
  font:125%/1.5 "adobe-garamond-pro", 'Georgia', 'Palatino Linotype', Times New Roman, Times, serif;
  *font-size:small;
}
a, label {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$primary-color;
  }
}
#main {
  background-color: transparent;
  height: 100%;
  width: 100%;
}
#navigation {
  background-color: $primary-color;
  li {
    border-color: lighten($primary-color, 8%);
    a:hover {
      background-color: lighten($primary-color, 10%);
    }
  }
}
#header {
  #logo {
    opacity: 0.2;
    @include transition(opacity 0.1s linear);
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover {
      opacity: 1;
    }
  }
}
article {
  margin: 0 auto 3em;
  max-width: 500px;
  width: 100%;
  h1 {
    display: block;
    font-weight:400;
    font-size:18em;
    line-height:0.8;
    text-align: justify;
    margin:0.1em auto;
    max-width: 700px;
    padding: 0.1em 0;
    width:100%;
  }
  > figure {
    margin:0 auto;
    position:relative;
    width: 100%;
  }
  cite {
    display: block;
    font-style: normal;
    max-width: 700px;
    text-align: justify;
    width: 100%;
    a {
      display: block;
    }
  }
}
@media screen and (max-width: 500px) {
  article p {
    @include columns(1, 0);
  }
} 

// Audio player
.iTunesPreviewPlayer {
  background-color: $secondary-color;
  @include transition(background-color 0.1s linear);
  &:hover {
    background-color: $primary-color;
  }
}
.iTunesPreviewPlayer::before {
  border-left-color: #fff;
}
.iTunesPreviewPlayer:not(.error).loaded:active::before {
  border-left-color: #FFF;
}
.iTunesPreviewPlayer.playing::before {
  border-color: #fff;
}
.iTunesPreviewPlayer.playing:not(.error).loaded:active::before {
  border-color: #FFF;
}




















/*article {
  background:url(../images/atcq/book_background.jpg) no-repeat top center;
  background-size: 100% auto;
  height:1191px;
  margin:0 auto 100px;
  max-width: 868px;
  position:relative;
  width:100%;
  > header {
    > h2 {
      color:rgba(#AD8030, 0.2);
      font-weight:400;
      font-size:21.111em;
      font-style:italic;
      line-height:0.9;
      left:30px;
      margin:0 auto 80px;
      position:absolute;
      top:60px;
      z-index:1;
    }
  }
  > blockquote {
    color:#000;
    padding:100px 50px 50px;
    position:relative;
    z-index:2;
    > p {
      font-style:italic;
      margin-bottom:1.5em;
      &:first-of-type {
        &:first-letter {
          float:left;
          font-size:2.8em;
          line-height:0.8;
          padding:10px 0 0 0;
          margin:0 10px -10px 0;
          text-transform: uppercase;
        }
      }
      > cite {
        font-size:0.889em;
        > a {
          color:#000;
          &:hover {
            text-decoration:none;
          }
        }
      }
    }
    &:after {
      display: table;
      content: "";
      zoom: 1;
      clear: both;
    }
  }
}*/