// Aesop Rock - Battery -----------------------------------------------------------------

@import "partials/common";

$primary-color:#76251C;
$secondary-color:#404e4f;

@font-face {
    font-family: 'veneerlowresregular';
    src: url('/fonts/veneerlowres-webfont.eot');
    src: url('/fonts/veneerlowres-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/veneerlowres-webfont.woff') format('woff'),
         url('/fonts/veneerlowres-webfont.ttf') format('truetype'),
         url('/fonts/veneerlowres-webfont.svg#veneerlowresregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  background-color:#e13131;
  color:$primary-color;
  font:112.5%/1.5 georgia, serif;
  *font-size:small;
  font-weight:300;
}
#main {
  background-color: #ddd4b7;
}
#navigation {
  background-color: $primary-color;
  li {
    border-color: darken($primary-color, 5%);
    a:hover {
      background-color: darken($primary-color, 2%);
    }
  }
}
#header {
  #logo path {
    fill: $primary-color;
  }
  label:hover {
    color: $secondary-color;
  }
}
#footer {
  color:shade($primary-color, 40%);
  a {
    color:$primary-color;
    &:hover {
      text-decoration:underline;
    }
  }
}
article {
  margin:0 auto;
  max-width:848px;
  width: 100%;
  > header {
    background:url(../images/gun.svg) no-repeat bottom left;
    background-size: 91% auto;
    padding-bottom:471px;
    > h1 {
      border-bottom:15px solid #fff;
      font-family:"veneerlowresregular", 'Helvetica Neue', Helvetica, arial, sans-serif;
      font-weight:400;
      font-size:18em;
      line-height:0.8;
      text-align: justify;
      margin:0 auto 30px;
      width:80%;
      > b {
        border-bottom:15px solid #fff;
        display:block;
        font-family: "brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
        font-size:0.375em;
        font-weight:300;
        margin-bottom:30px;
        padding-bottom:20px;
        text-align:justify;
        text-transform:uppercase;
        width: 80%;
      }
    }
  }
  > figure {
    font-weight: 400;
    margin:0 auto;
    position:relative;
    top:-130px;
    right:-180px;
    width:60%;
    > p {
      margin-bottom:1.5em;
      &.chorus {
        border-left:15px solid #fff;
        font-family:"bebas-neue", "Impact", "Arial Narrow Bold", Arial, sans-serif;
        font-size:2.111em;
        font-weight:400;
        line-height:1.2;
        margin:0 0 0.5em -100px;
        padding-left:30px;
      }
      > cite {
        top:-328px;
        color:#e13131;
        font-size:0.833em;
        letter-spacing:2px;
        left:-255px;
        position:absolute;
        font-style:normal;
        text-transform:uppercase;
        width:678px;
        > a {
          color:#e13131;
          &:hover {
            text-decoration:none;
          }
        }
      }
    }
  }
}

// Audio player

.audiojs {
  background-color:#fff;
  .time {
    color:$primary-color;
  }
  .loaded {
    background-color:$primary-color;
  }
  .play {
    border-left-color:$primary-color;
  }
  .progress {
    background-color:shade($primary-color, 20%);
  }
  .pause {
    border-color:$primary-color;
  }
}