// Aesop Rock - Battery -----------------------------------------------------------------

@import "partials/common";
@import "fonts/veneer";

$primary-color:#76251C;
$secondary-color:#404e4f;
$background-color: #ddd4b7; 

body {
  background-color:$background-color;
  color:$primary-color;
}
a {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$secondary-color;
  }
}
#main {
  background-color: $background-color;
  font: 300 112.5%/1.5 georgia, serif;
}
#header {
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: $secondary-color;
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: darken($primary-color, 20%);
  a {
    color: darken($primary-color, 20%);
    &:hover {
      color: #fff;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: darken($primary-color, 10%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: darken($primary-color, 10%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: darken($primary-color, 10%);
}
.iTunesPreviewPlayer:after {
  color: darken($primary-color, 20%);
}
article {
  margin: 0 auto 3em;
  max-width: 700px;
  width: 100%;
  @media screen and (max-width: 768px) {
    padding: 0 3em;
  }
  @media screen and (max-width: 500px) {
    padding: 0;
  }
  h1, p.chorus, figcaption {
    background-image: url("../images/aesop-rock/header_border.png"), url("../images/aesop-rock/header_border.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    display: block;
    font-family:"veneerlowresregular";
    font-weight:400;
    font-size:18em;
    line-height:0.8;
    text-align: justify;
    margin:0.1em auto;
    max-width: 700px;
    padding: 0.1em 0;
    width:100%;
    span:first-child,
    span:nth-child(3n) {
      color: $secondary-color;
    }
  }
  > figure {
    margin:0 auto;
    position:relative;
    width: 100%;
  }
  p {
    text-align: left;
    @include columns(2, 6%);
    &.chorus {
      @include columns(1, 0);
    }
    @media screen and (max-width: 500px) {
      @include columns(1, 0);
    }
  }
  cite {
    display: block;
    font-style: normal;
    max-width: 700px;
    text-align: justify;
    width: 100%;
    a {
      display: block;
    }
  }
}