// Aesop Rock - Battery -----------------------------------------------------------------

@import "partials/common";

$primary-color:#76251C;
$secondary-color:#404e4f;
$background-color: #ddd4b7; 

@font-face {
    font-family: 'veneerlowresregular';
    src: url('/fonts/veneerlowres-webfont.eot');
    src: url('/fonts/veneerlowres-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/veneerlowres-webfont.woff') format('woff'),
         url('/fonts/veneerlowres-webfont.ttf') format('truetype'),
         url('/fonts/veneerlowres-webfont.svg#veneerlowresregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  background-color:$background-color;
  color:$primary-color;
}
a {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$secondary-color;
  }
}
#main {
  background-color: $background-color;
  font: 300 112.5%/1.5 georgia, serif;
}
#header {
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
.overlay-nav {
  background-color: rgba($primary-color, 0.98)
}
#footer {
  background-color: $primary-color;
  color: darken($primary-color, 20%);
  a {
    color: darken($primary-color, 20%);
  }
}
.iTunesPreviewPlayer {
  background-color: darken($primary-color, 10%);
}
.iTunesPreviewPlayer:after {
  color: darken($primary-color, 20%);
}
article {
  margin: 0 auto 3em;
  max-width: 700px;
  width: 100%;
  h1, p.chorus, figcaption {
    background-image: url("../images/aesop-rock/header_border.png"), url("../images/aesop-rock/header_border.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    display: block;
    font-family:"veneerlowresregular", 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-weight:400;
    font-size:18em;
    line-height:0.8;
    text-align: justify;
    margin:0.1em auto;
    max-width: 700px;
    padding: 0.1em 0;
    width:100%;
    span:first-child,
    span:nth-child(3n) {
      color: $secondary-color;
    }
  }
  > figure {
    margin:0 auto;
    position:relative;
    width: 100%;
  }
  p {
    text-align: justify;
    @include columns(2, 6%);
    &.chorus {
      @include columns(1, 0);
    } 
  }
  cite {
    display: block;
    font-style: normal;
    max-width: 700px;
    text-align: justify;
    width: 100%;
    a {
      display: block;
    }
  }
}
@media screen and (max-width: 500px) {
  article p {
    @include columns(1, 0);
  }
} 