// Alkaholiks Contents Unda Pressure -----------------------------------------------------------------

@import "partials/common";

$primary-color: #47D6C1;
$secondary-color: #000000;

@include loader($primary-color);

html {
  background: #fff;
}
body {
  background: #fff;
  color: #fff;
  font-family: "katarine-web", sans-serif;
  font-weight: 400;
  width: 100%;
  @include box-sizing(border-box);
}
a {
  color: $primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $secondary-color;
  }
}
p {
  margin-bottom: 2em;
}
#header {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 20;
}
#logo {
  path {
    fill: $secondary-color;
    pointer-events: all;
  }
  &:hover path {
    fill: #fff;
  }
}
#footer.sticky {
  background-color: rgba($secondary-color, 0.95);
  color: $primary-color;
  a {
    color: $primary-color;
    &:hover {
      color: #ffffff;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $primary-color;
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: $primary-color;
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $primary-color;
}
.iTunesPreviewPlayer:after {
  color: $primary-color;
}
.iTunesPreviewPlayer:hover:after {
  color: #ffffff;
}
#main {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 0 0 5rem 0;
  overflow: hidden;
  visibility: visible;
}
h1 {
  color: #fff;
  font-family: "corpulent-web", sans-serif;
  font-size: 10vw;
  font-weight: 400;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
article {
  margin: 0 auto;
  position: relative;
  width: 100%;

  header {
    margin: 0 auto;
    padding: 5rem 0 5rem;
    position: relative;
    width: 100%;

    &:after {
      background-color: $primary-color;
      border-radius: 0 0 50% 50%;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: -1;

      @media screen and (max-width: 800px) {
        height: 95%;
      }

      @media screen and (max-width: 500px) {
        height: 90%;
      }
    }
  }

  img {
    left: 50%;
    margin: -27.5% 0 0 -27.5%;
    position: absolute;
    right: 0;
    top: 50%;
    width: 55%;
  }
}
figure {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
}
blockquote {
  color: #000;
  margin: 4rem auto 0;
  max-width: 1600px;
  left: 0;
  overflow: hidden;
  padding: 0 2rem;
  // position: absolute;
  // right: 0;
  // top: 0;
  width: 80%;

  div {
    float: left;
    margin-right: 5%;
    text-align: justify;
    width: 30%;

    &:last-of-type {
      margin-right: 0;
    }

    @media screen and (max-width: 700px) {
      float: none;
      margin: 0;
      width: 100%;
    }
  }
  p {
    hyphens: auto;
    margin: 0;
    position: relative;

    @media screen and (max-width: 700px) {
      margin-bottom: 2rem;
      top: 0 !important;
    }
  }
}
@supports (shape-outside: circle()) {
  blockquote {
    margin: -25vw auto -10%;

    @media screen and (max-width: 1280px) {
      margin: -25vw auto 0;
    }

    @media screen and (max-width: 700px) {
      margin: 0 auto;
    }

    div:nth-child(1) {
      p {
        top: 2rem;
      }
    }

    div:nth-child(2) {
      p {
        top: 4.6rem;
      }
    }

    div:nth-child(3) {
      p {
        top: 2.3rem;
      }
    }
  }
  [class^="shape"] {
    background-color: transparent;
    height: auto;
    padding-top: 100vw;
    width: 100vw;

    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  .shape-one {
    float: right; 
    shape-outside: circle(50% at 108vw -25%);
  }
  .shape-two {
    float: left; 
    shape-outside: circle(50% at 24vw -25%);;
  }
  .shape-three {
    float: left; 
    shape-outside: circle(50% at -8vw -25%);
  }
}
figcaption {
  color: #fff;
  font-family: "corpulent-web", sans-serif;
  font-size: 3.2vw;
  font-weight: 400;
  left: 50%;
  line-height: 1;
  margin-top: 38%;
  margin-left: -20%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 5;
  width: 40%;

  @media screen and (max-width: 700px) {
    margin-top: 45%;
  }
}