// AZ - Rather Unique -----------------------------------------------------------------

@import url("https://use.typekit.net/jsv0omn.css");

@import "partials/common";

$primary-color: #000000;
$secondary-color: #CF1111;
$background-color: #ffffff;

@include loader($primary-color);

body {
  background-color: $background-color;
  color:$primary-color;
}
b {
  font-weight: 500;
}
a {
  color:$secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$primary-color;
  }
}
#header {
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: $secondary-color;
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: lighten($primary-color, 40%);
  a {
    color: lighten($primary-color, 40%);
    &:hover {
      color: #fff;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 40%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 40%);
}
#main {
  font: 500 125%/1.5 "freight-sans-pro", sans-serif; 
  overflow: hidden;
}
article {
  margin: 0 auto 3em;
  max-width: 1000px;
  position: relative;
  h1 {
    display: inline-block;
    font-size: 1.2em;
    font-weight:500;
    line-height:0.8;
    margin-left: 1em;
  }
  span,b {
    display: inline-block;
    font-family: "kepler-std", 'Georgia', 'Palatino Linotype', Times New Roman, Times, serif;
    font-style: italic;
    font-weight:400;
    position: relative;
  }
  span,b {
    color: rgba($primary-color, 0.8);
    line-height: 0.5;
    text-transform: lowercase;
    &:before, &:after {
      position: absolute;
    }
    &:before {
      color: rgba(#E8E50B, 0.8);
      left: -5px;
      top: 0;
    }
    &:after {
      color: rgba($secondary-color, 0.8);
      left: 0;
      top: 5px;
    }
  }
  b:after {
    content: "";
  }
  b.word1 {
    font-size: 25em;
    &:before {
      color: rgba(#1159CF, 0.8);
      content: "az";
      left: 0;
      top: 10px;
    }
    > span {
      &:before, &:after {
        content: "az";
      }
    }
  }
  b.word3 {
    display: block;
    font-size: 15em;
    letter-spacing: -5px;
    margin: 30px 0 0 120px;
    &:before {
      color: rgba(#1159CF, 0.8);
      content: "rather";
      left: 0;
      top: 10px;
    }
    > span {
      &:before, &:after {
        content: "rather";
      }
    }
  }
  b.word4, .chorus>b {
    display: block;
    font-size: 10em;
    letter-spacing: -5px;
    margin: 30px 0 0 -50px;
    &:before {
      color: rgba(#1159CF, 0.8);
      content: "unique";
      left: 0;
      top: 10px;
    }
    > span {
      &:before, &:after {
        content: "unique";
      }
    }
  }
  .word2 {
    display: none;
  }
  .chorus {
    &.one {
      font-size: 4em;
      margin-left: 1em;
    }
    &.two {
      font-size: 3em;
      margin-left: -650px;
      @media screen and (max-width: 800px) {
        margin-left: -900px;
      }
      @media screen and (max-width: 500px) {
        margin-left: -1000px;
      }
    }
    &.three {
      font-size: 4em;
    }
  }
  .verse {
    @include box-sizing(border-box);
    @include columns(2, 6%);
    position: relative;
    &.one {
      left: 40%;
      top: 3em;
      width: 60%;
    }
    &.two {
      left: 40%;
      top: 3em;
      margin-bottom: 3em;
      width: 60%;
    }
    &.three {
      left: 40%;
      margin: 4em 0 1em;
      width: 60%;
    }
    @media screen and (max-width: 800px) {
      &.one, &.two, &.three {
        left: 20%;
        width: 80%;
      }
      &.one {
        margin-top: 4em;
      }
    }
    @media screen and (max-width: 600px) {
      @include columns(1, 0);
    }
    @media screen and (max-width: 500px) {
      &.one, &.two, &.three {
        left: 0;
        width: 100%;
      }
    }
  }
  figure {
    margin:0 auto;
    position:relative;
    width: 100%;
  }
  figcaption {
    clear: both;
    font-size: 1.4em;
    left: 40%;
    margin: 3em 0;
    position: relative;
    width: 40%;
    @media screen and (max-width: 600px) {
      left: 0;
      width: 100%;
    }
  }
}