// Bahamadia - Rugged Ruff -----------------------------------------------------------------

@import "partials/common";

$primary-color: #CB5B10;
$secondary-color: #423A34;

body {
  background-color: $primary-color;
  color:lighten($primary-color, 20%);
}
b {
  font-weight: 500;
}
a {
  color:$secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:lighten($primary-color, 20%);
  }
}
#header {
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      fill: lighten($primary-color, 20%);
    }
  }
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: lighten($primary-color, 20%);
    }
  }
}
#footer.sticky {
  background-color: rgba($secondary-color, 0.95);
  color: lighten($secondary-color, 40%);
  a {
    color: lighten($secondary-color, 40%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($secondary-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($secondary-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: darken($secondary-color, 5%);
}
.iTunesPreviewPlayer:after {
  color: lighten($secondary-color, 40%);
}
#main {
  font: 400 100%/1.5 'Whitney SSm A', 'Whitney SSm B', "helvetica", Arial, sans-serif;
  opacity: 1;
}
article {
  margin: 0 auto 3em;
  max-width: 1000px;
  position: relative;
  width: 100%;
  @media screen and (max-width: 1000px) {
    max-width: 90%;
  }
  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
  h1 {
    color: $secondary-color;
    display: inline-block;
    font-family: 'Tungsten A', 'Tungsten B', impact, sans-serif;
    font-weight:700;
    font-size: 13.75em;
    left: 26%;
    line-height: 0.85;
    position: absolute;
    text-transform: uppercase;
    top: 125px;
    > .word1, .word2 {
      display: none;
    }
    > .word4 {
      display: block;
      font-size: 1.6em;
      margin:-25px 0 0 0.73em;
    }
    @media screen and (max-width: 1000px) {
      font-size: 11em;
      top: 120px;
      > .word4 {
        margin: -10px 0 0 0.77em;
      }
    }
    @media screen and (max-width: 900px) {
      font-size: 13.5em;
      left: 34%;
      > .word4 {
        font-size: 0.8em;
        margin: 0 0 0 1.45em;
      }
    }
    @media screen and (max-width: 768px) {
      font-size: 12em;
      left: 34%;
      > .word4 {
        font-size: 0.8em;
        margin: 0 0 0 1.57em;
      }
    }
    @media screen and (max-width: 700px) {
      left: 0;
      > .word4 {
        margin: 0 0 0 1.4em;
      }
    }
    @media screen and (max-width: 500px) {
      font-size: 7.5em;
      top: 0;
      > .word4 {
        margin: 0 0 0 1.5em;
      }
    }
  }
  figure {
    margin:0 auto;
    position:relative;
    width: 100%;
  }
  blockquote {
    overflow: hidden;
  }
  .verse {
    float: left;
    letter-spacing: -0.5px;
    margin-left: 2%;
    position: relative;
    text-align: left;
    width: 24%;
    @include css-hyphens(auto);
    @media screen and (max-width: 500px) {
      float: none;
      margin-left: 0;
      width: 100%;
    }
    &:first-child {
      margin-left: 0;
    }
    &:first-letter,
    &.one:before {
      font-family: 'Tungsten A', 'Tungsten B', impact, sans-serif;
      font-size: 12em;
      font-weight:700;
      line-height: 0.7;
    }
    &:first-letter {
      float: left;
      margin: 5px 10px 0 0;
    }
    &.one {
      padding-top: 130px;
      position: relative;
      &:before {
        color: $secondary-color;
        content: '“';
        font-size: 360px;
        left: 0;
        position: absolute;
        top: -15px;
      }
    }
    &.two {
      margin-top: 310px;
    }
    &.three {
      margin-top: 580px;
      &:after {
        color: $secondary-color;
        content: '”';
        font-family: 'Tungsten A', 'Tungsten B', impact, sans-serif;
        font-size: 37.5em;
        font-weight:700;
        line-height: 0.1;
        right: -210px;
        position: absolute;
        bottom: -80px;
        @media screen and (max-width: 1000px) {
          display: block;
          line-height: 0.5;
          position: relative;
          right: 0;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      &.two {
        margin-top: 278px;
      }
      &.three {
        margin-top: 500px;
      }
    }
    @media screen and (max-width: 900px) {
      width: 32%;
      &.two {
        margin-top: 310px;
      }
      &.three {
        margin-top: 458px;
      }
    }
    @media screen and (max-width: 768px) {
      width: 32%;
      &.two {
        margin-top: 290px;
      }
      &.three {
        margin-top: 420px;
      }
    }
    @media screen and (max-width: 700px) {
      float: none;
      margin: 0 0 2em 34%;
      padding: 0;
      width: 60%;
      &.one {
        margin: 0 0 2em 34%;
        padding-top: 420px;
        &:before {
          left: -120px;
          top: 275px;
        }
      }
      &.two {
        margin: 0 0 2em 34%;
      }
      &.three {
        margin: 0 0 0 34%;
      }
    }
    @media screen and (max-width: 500px) {
      margin: 0;
      width: 100%;
      &.one {
        margin: 0 0 1.5em;
        padding-top: 190px;
        &:before {
          font-size: 14em;
          left: 20%;
          top: 0.44em;
        }
      }
      &.two, &.three {
        margin: 0 0 1.5em;
      }
    }
  }
  figcaption {
    font-family: 'Tungsten A', 'Tungsten B', impact, sans-serif;
    font-size: 2.125em;
    font-weight:700;
    line-height: 1.2;
    left: 26.5%;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    > cite {
      display: block;
      > a:first-child:after {
        content: "";
        display: block;
      }
    }
    @media screen and (max-width: 768px) {
      left: 34.5%;
    }
    @media screen and (max-width: 500px) {
      position: static;
    }
  }
}