// Big L - Ebonics -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;

body {
  background: url("../images/big-l/linedpaper.png");
  color: $primary-color;
}
b {
  font-weight: 500;
}
a {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:lighten($primary-color, 20%);
  }
}
#header {
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: lighten($primary-color, 20%);
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: lighten($primary-color, 20%);
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: lighten($primary-color, 40%);
  a {
    color: lighten($primary-color, 40%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 40%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 40%);
}
#main {
  font: 400 1.25em/1.25 "minion-pro", Georgia, serif;
}
article {
  margin: -0.1em 0 3em;
  max-width: 1000px;
  padding-left: 35%;
  position: relative;
  @media screen and (max-width: 720px) {
    padding-left: 0;
  }
  h1 {
    font-size: 3.7em;
    font-weight:400;
    font-variant: small-caps;
    line-height: 1;
    margin: -0.07em 0 0.33em;
    text-transform: uppercase;
    @include css-hyphens(none);
    br {
      display: none;
    }
    > span {
      display: block;
      font-size: 0.23em;
      line-height: 1.5;
      margin-top: 1.1em;
    }
    @media screen and (max-width: 975px) {
      br {
        display: block;
      }
    }
    @media screen and (max-width: 475px) {
      @include css-hyphens(auto);
      //word-break: break-all;
    }
  }
  figure {
    display: block;
    margin:0 auto;
    position:relative;
  }
  p {
    margin-bottom: 2.5em;
    position: relative;
    > .chorus {
      font-size: 0.7em;
      font-variant: small-caps;
      line-height: 1.79;
      left: -280px;
      padding-top: 5.3em;
      position: absolute;
      text-align: right;
      top: 0.2em;
      width: 240px;
      &:before {
        content: '“';
        font-size: 23em;
        line-height: 0.7;
        position: absolute;
        top: 0;
        right: 0;
      }
      @media screen and (max-width: 720px) {
        display: block;
        left: 0;
        margin-top: 5.4em;
        position: relative;
        text-align: left;
      }
    }
    @media screen and (max-width: 475px) {
      br {
        display: none;
      }
    }
  }
  figcaption {
    line-height: 1.2;
  }
}