// Blackalicious - Alphabet Aerobics -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #858585;

@include loader($primary-color);

body {
  background-color: #fff;
  color: $primary-color;
}
b {
  font-weight: 500;
}
a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}
label {
  color: #fff;
  &:hover {
    color: $secondary-color;
  }
}
#header {
  background-color: $primary-color;
  .toggle-nav {
    rect {
      fill: #fff;
    }
    &:hover rect {
      fill: darken(#fff, 20%);
    }
  }
  #logo {
    path {
      fill: #fff;
      pointer-events: all;
    }
    &:hover path {
      fill: darken(#fff, 20%);
    }
  }
  a {
    color: #fff;
    &:hover {
      color: $secondary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: lighten($primary-color, 40%);
  a {
    color: lighten($primary-color, 40%);
    &:hover {
      color: #fff;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 40%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 40%);
}
#main {
  font: 400 112.5%/1.25 Georgia, serif;
}
article {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  width: 100%;
  h1 {
    display: none;
  }
  figure {
    display: block;
    position:relative;
  }
  ol {
    letter-spacing: -4px;
    list-style: none;
    counter-reset: alphabet-counter;
    margin: 0 auto 3em;
    text-align: center;
    word-spacing: -4px;
    width: 100%;
    li {
      border-top: 1px solid $secondary-color;
      color: #858585;
      display: inline-block;
      letter-spacing: 0;
      margin-right: 2%;
      padding: 3em 0 1em;
      text-align: left;
      width: 18.4%;
      word-spacing: 0;
      vertical-align: top;
      &:before {
        border-bottom: 2px solid $primary-color;
        color: $primary-color;
        content: counter(alphabet-counter, upper-alpha);
        counter-increment: alphabet-counter;
        display: block;
        font-size: 8.889em;
        line-height: 1;
        margin-bottom: 0.1em;
        text-align: center;
        text-transform: uppercase;
      }
      &:nth-of-type(5n) {
        margin-right: 0;
      }
      &:nth-of-type(-n+5) {
        border-top: 0;
        padding-top: 0;
      }
      &:last-child {
        margin-right: 0;
        text-align: center;
        width: 79.6%;
        > span {
          font-size: 4.444em;
        }
        &:before {
          content: "Good..."
        }
      }
      @media screen and (max-width: 800px) {
        margin-right: 3.333333333%;
        width: 22.8%;
        &:nth-of-type(-n+5) {
          border-top: 1px solid $secondary-color;
          padding-top: 3em;
        }
        &:nth-of-type(5n) {
          margin-right: 3.333333333%;
        }
        &:nth-of-type(-n+4) {
          border-top: 0;
          padding-top: 0;
        }
        &:nth-of-type(4n) {
          margin-right: 0;
        }
        &:last-child {
          display: block;
          width: 100%;
        }
      }
      @media screen and (max-width: 690px) {
        margin-right: 3.33333333%;
        width: 30%;
        &:nth-of-type(-n+4) {
          border-top: 1px solid $secondary-color;
          padding-top: 3em;
        }
        &:nth-of-type(4n) {
          margin-right: 3.33333333%;
        }
        &:nth-of-type(-n+3) {
          border-top: 0;
          padding-top: 0;
        }
        &:nth-of-type(3n) {
          margin-right: 0;
        }
        &:last-child {
          display: block;
          width: 100%;
          > span {
            font-size: 3em;
          }
          &:before {
            font-size: 7em;
          }
        }
      }
      @media screen and (max-width: 520px) {
        margin-right: 6%;
        width: 47%;
        &:nth-of-type(-n+3) {
          border-top: 1px solid $secondary-color;
          padding-top: 3em;
        }
        &:nth-of-type(3n) {
          margin-right: 6%;
        }
        &:nth-of-type(-n+2) {
          border-top: 0;
          padding-top: 0;
        }
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        &:last-child {
          display: block;
          width: 100%;
          > span {
            font-size: 3em;
          }
          &:before {
            font-size: 6em;
          }
        }
      }
      @media screen and (max-width: 460px) {
        margin-right: 0;
        width: 80%;
        &:nth-of-type(-n+2) {
          border-top: 1px solid $secondary-color;
          padding-top: 3em;
        }
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        &:nth-of-type(1) {
          border-top: 0;
          padding-top: 0;
        }
        &:last-child {
          display: block;
          width: 100%;
          > span {
            font-size: 1.5em;
          }
          &:before {
            font-size: 4em;
          }
        }
      }
    }
  }
  figcaption {
    border-top: 1px solid $secondary-color;
    color: $secondary-color;
    font-style: italic;
    padding: 2em 0;
    text-align: center;
    cite {
      font-style: italic;
    }
  }
}