// Big L - Ebonics -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #858585;

body {
  background-color: #fff;
  color: $primary-color;
}
b {
  font-weight: 500;
}
a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}
label {
  color: #fff;
  &:hover {
    color: $secondary-color;
  }
}
#header {
  background-color: $primary-color;
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: lighten($primary-color, 20%);
    }
  }
  #logo {
    path {
      fill: #fff;
      pointer-events: all;
    }
    &:hover path {
      fill: darken(#fff, 20%);
    }
  }
  a {
    color: #fff;
    &:hover {
      color: $secondary-color;
    }
  }
}
.overlay-nav {
  background-color: rgba($primary-color, 0.98)
}
#footer {
  background-color: $primary-color;
  color: lighten($primary-color, 40%);
  a {
    color: lighten($primary-color, 40%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 40%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 40%);
}
#main {
  font: 500 112.5%/1.25 Georgia, serif;
}
article {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  h1 {
    display: none;
  }
  figure {
    display: block;
    margin-left: -30px;
    position:relative;
  }
  ol {
    letter-spacing: -4px;
    list-style: none;
    counter-reset: alphabet-counter;
    margin: 0 auto 3em;
    word-spacing: -4px;
    width: 1040px;
    li {
      border-top: 1px solid $secondary-color;
      color: #858585;
      display: inline-block;
      letter-spacing: 0;
      margin-left: 30px;
      padding: 3em 0 1em;
      width: 176px;
      word-spacing: 0;
      vertical-align: top;
      &:before {
        border-bottom: 2px solid $primary-color;
        color: $primary-color;
        content: counter(alphabet-counter, upper-alpha);
        counter-increment: alphabet-counter;
        display: block;
        font-size: 8.889em;
        line-height: 1;
        margin-bottom: 0.1em;
        text-align: center;
        text-transform: uppercase;
      }
      &:nth-child(-n+5) {
        border-top: 0;
        padding-top: 0;
      }
      &:last-child {
        text-align: center;
        width: 784px;
        > span {
          font-size: 4.444em;
        }
        &:before {
          content: "Good..."
        }
      }
    }
  }
  figcaption {
    border-top: 1px solid $secondary-color;
    color: $secondary-color;
    margin-left: 30px;
    font-style: italic;
    padding: 2em 0;
    text-align: center;
    width: 980px;
    cite {
      font-style: italic;
    }
  }
}