// Camp Lo - Luchini (This is it) -----------------------------------------------------------------

@import "partials/common";

$primary-color: #e10000;
$secondary-color: #000000;
$tertiary-color: #FFFFFF;
$shadow-primary: darken($primary-color, 10%);

@include loader($primary-color);

@function multiple-text-shadow($depth, $color) {
  $value: '1px 1px 0 #{$color}';
  @for $i from 2 through $depth {
    $value: '#{$value} , #{$i * +1}px #{$i * +1}px 0 ' + $color;
  }

  @return unquote($value);
}
html {
  overflow-x: hidden;
}
body {
  background-color: #f5f3cf;
  color: #000;
  position: relative;
  width: 100%;
}
a {
  color: $primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: darken($primary-color, 20%);
  }
}
p {
  margin-bottom: 2em;
}
#logo {
  path {
    fill: $primary-color;
    pointer-events: all;
  }
  &:hover path {
    fill: $secondary-color;
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: $secondary-color;
  a {
    color: $secondary-color;
    &:hover {
      color: darken($primary-color, 20%);
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $secondary-color;
      }
      &:hover:after {
        border-right-color: darken($primary-color, 20%);
      }
    }
    > a.next {
      &:after {
        border-left-color: $secondary-color;
      }
      &:hover:after {
        border-left-color: darken($primary-color, 20%);
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $secondary-color;
}
.iTunesPreviewPlayer:after {
  color: $secondary-color;
}
.iTunesPreviewPlayer:hover:after {
  color: darken($primary-color, 10%);
}
#main {
  font: 400 150%/1.5 "news-gothic-std", helvetica neue, arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  @extend %clearfix;
}
article {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  width: 100%;
  header {
    position: relative;
  }
  h1 {
    color: #e10000;
    font-family: "soap";
    font-size: 15vw;
    line-height: 1;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0.1em 0 1em;
    position: relative;
    text-shadow: multiple-text-shadow(60, $shadow-primary);
    width: 100%;
    @include box-sizing(border-box);
    @media screen and (max-width: 1000px) {
      text-shadow: multiple-text-shadow(40, $shadow-primary);
    }
    @media screen and (max-width: 900px) {
      text-shadow: multiple-text-shadow(30, $shadow-primary);
    }
    @media screen and (max-width: 700px) {
      text-shadow: multiple-text-shadow(20, $shadow-primary);
    }
    span {
      display: block;
      position: relative;
      //position: absolute;
      > span {
        display: inline;
        position: relative;
      }
    }
    .word1 {
      position: relative;
      .char1 {
        font-size: 2.4em;
      }
      .char2,.char3 {
        left: -0.065em;
        top: -0.4em;
      }
      .char4 {
        font-size: 2.4em;
        left: -0.08em;
        line-height: 0.5;
        z-index: 10;
      }
    }
    .word2 {
      left: 1.45em;
      top: -1.05em;
      z-index: 10;
      .char1 {
        font-size: 2em;
      }
      .char2 {
        left: -0.45em;
        //font-size: 1.1em;
        position: relative;
        top: -0.65em;
      }
    }
    .word3 {
      display: none;
    }
    .word4 {
      left: 0.45em;
      top: -2.75em;
      .char1 {
        font-size: 2.4em;
        z-index: 10;
        &:after {
          background: url("../images/camp-lo/car.png") no-repeat;
          background-size: 100%;
          top: 75%;
          display: block;
          content: "";
          height: 1000px;
          //content: url("../images/camp-lo/luchini-person-one.png");
          left: -55%;
          position: absolute;
          transform: rotate(5deg);
          z-index: 100;
          width: 180%;
        }
      }
      span:not(.char1) {
        font-size: 0.9em;
      }
      .char5,.char6,.char7 {
        left: -2em;
        top: 0.8em;
        z-index: 40;
      }
      .char4,.char3,.char2 {
        left: 0.05em;
        top: 0.05em;
        z-index: 20;
      }
      .char7:after {
        content: "-";
        display: inline;
        right: -0.85em;
        position: absolute;
        top: -0.6em;
      }
      &:before {
        background: url("../images/camp-lo/luchini-person-two.png") no-repeat;
        background-size: 100%;
        content: "";
        height: 1500px;
        //content: url("../images/camp-lo/luchini-person-one.png");
        left: -20%;
        position: absolute;
        //transform: scale(1);
        top: 0;
        z-index: 0;
        width: 50%;
      }
      &:after {
        background: url("../images/camp-lo/luchini-person-one.png") no-repeat;
        background-size: 100%;
        content: "";
        height: 2000px;
        //content: url("../images/camp-lo/luchini-person-one.png");
        right: 30%;
        position: absolute;
        //transform: scale(1);
        top: -15%;
        z-index: 10;
        width: 40%;
      }
    }
  }
  blockquote {
    max-width: 1500px;
    margin: -25% auto 0;
    padding: 0 2em 0 40%;
    position: relative;
    width: 100%;
    @include box-sizing(border-box);
    @media screen and (max-width: 1100px) {
      max-width: 1000px;
    }
    @media screen and (max-width: 700px) {
      padding: 2em;
    }
    @media screen and (max-width: 500px) {
      padding: 1em;
    }
  }
  p {
    margin: 0 0 1.5em;
    &.chorus {
      color: $primary-color;
      font-family: "soap";
      font-size: 3.6em;
      line-height: 1;
      left: -20%;
      margin: 0 0 0.5em;
      position: relative;
      text-shadow: multiple-text-shadow(16, $shadow-primary);
      width: 120%;
      @media screen and (max-width: 950px) {
        left: 0;
        font-size: 3em;
        width: 100%;
      }
      @media screen and (max-width: 800px) {
        font-size: 2em;
        text-shadow: multiple-text-shadow(10, $shadow-primary);
      }
    }
  }
}
figcaption {
  bottom: 0;
  color: $primary-color;
  font-size: 5vw;
  font-family: "soap";
  left: 0;
  line-height: 1.2;
  margin-bottom: -200px;
  overflow: hidden;
  padding: 0.3em 2em 0;
  text-shadow: multiple-text-shadow(30, $shadow-primary);
  width: 100%;
  @include box-sizing(border-box);
  @media screen and (max-width: 850px) {
    text-shadow: multiple-text-shadow(25, $shadow-primary);
    margin-bottom: 0;
  }
  @media screen and (max-width: 700px) {
    text-shadow: multiple-text-shadow(15, $shadow-primary);
    margin-bottom: 0;
  }
  @media screen and (max-width: 500px) {
    padding: 0.3em 1em;
  }
  span {
    display: block;
    position: relative;
    &:first-letter {
      position: relative;
    }
  }
  .word3 {
    font-size: 2em;
    &:first-letter {
      float: left;
      font-size: 1.8em;
      line-height: 0.8;
      left: -0.02em;
      margin-top: -0.1em;
      vertical-align: middle;
    }
  }
  .word4 {
    font-size: 1.2em;
    left: 0.25em;
    position: relative;
    top: -0.6em;
  }
  .word6 {
    font-size: 2em;
    left: 2.25em;
    top: -1.14em;
    &:first-letter {
      float: left;
      font-size: 1.8em;
      line-height: 0.6;
      left: -0.02em;
      margin-top: 0.15em;
      vertical-align: middle;
    }
  }
  .word7 {
    font-size: 2em;
    left: 4.45em;
    letter-spacing: -50px;
    top: -2.35em;
    z-index: 10;
    @media screen and (max-width: 1000px) {
      letter-spacing: -40px;
    }
    @media screen and (max-width: 700px) {
      letter-spacing: -25px;
    }
    &:first-letter {
      float: left;
      font-size: 1.8em;
      line-height: 0.6;
      right: -1em;
      margin: 0.18em 0.03em 0 0;
      vertical-align: middle;
    }
  }
  .word13 {
    left: 2.6em;
    font-size: 1.3em;
    top: -4.15em;
    z-index: 10;
    // @media screen and (max-width: 700px) {
    //   left: 3.5em;
    // }
  }
  .word17 {
    font-size: 2.5em;
    left: 1em;
    top: -2.48em;
    z-index: 10;
    &:first-letter {
      float: left;
      font-size: 1.8em;
      line-height: 0.6;
      left: -0.02em;
      margin-top: -0.15em;
      vertical-align: middle;
    }
  }
  .word18,.word19,.word20 {
    display: inline;
    font-size: 1.6em;
    left: 2em;
    top: -4.4em;
    z-index: 10;
  }
}

// IE9 fixes 

.ie9 {
  article {
    h1 {
      font-size: 12vw;
      padding-left: 0.5em;
      zoom: 1;
    }
    blockquote {
      margin-top: -40%;
    }
  }
  figcaption {
    font-size: 3vw;
  }
}