// Common - I Used to Love H.E.R. -----------------------------------------------------------------

@import "partials/common";

$primary-color: #ce4f4f;
$secondary-color: #E8E8D2;

@font-face {
  font-family: 'plainblackwidenormal';
  src: url('/fonts/Plain_Black_Wide-webfont.eot');
  src: url('/fonts/Plain_Black_Wide-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Plain_Black_Wide-webfont.woff') format('woff'),
       url('/fonts/Plain_Black_Wide-webfont.ttf') format('truetype'),
       url('/fonts/Plain_Black_Wide-webfont.svg#plainblackwidenormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $secondary-color;
  color: $primary-color;
}
a {
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 20%);
  }
}
label {
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 20%);
  }
}
#header {
  background-color: transparent;
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: darken($primary-color, 20%);
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: darken($primary-color, 20%);
    }
  }
}
#footer {
  background-color: rgba($primary-color, 0.95);
  color: lighten($primary-color, 30%);
  a {
    color: lighten($primary-color, 30%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($primary-color, 30%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($primary-color, 30%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: darken($primary-color, 10%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 30%);
}
#main {
  font: 500 100%/1.25 Georgia, serif;
}
article {
  margin: 6em auto;
  max-width: 1000px;
  position: relative;
  width: 100%;
  h1 {
    font-family: 'plainblackwidenormal';
    font-size: 12em;
    font-weight: normal;
    letter-spacing: -4px;
    line-height: 1;
    margin-bottom: 0.5em;
    padding-left: 22%;
    position: relative;
    &:first-letter {
      color: rgba($primary-color, 0.2);
      font-size: 2em;
      left: 0;
      float: left;
      margin: 0 -3em 0 -22%;
      position: absolute;
      z-index: -1;
    }
    > .word3, .word5 {
      margin-left: -50px;
    }
    > .word1 {
      margin-left: -80px;
    }
    @media screen and (max-width: 900px) {
      font-size: 10em;
    }
    @media screen and (max-width: 800px) {
      font-size: 9em;
      padding-left: 22%;
      &:first-letter {
        margin: 0 -3em 0 -22%;
      }
    }
    @media screen and (max-width: 700px) {
      font-size: 8em;
      > .word3, .word5 {
        margin-left: -30px;
      }
      > .word1 {
        margin-left: -60px;
      }
    }
    @media screen and (max-width: 650px) {
      font-size: 7em;
      padding-left: 18%;
      &:first-letter {
        margin: 0 -3em 0 -18%;
      }
    }
    @media screen and (max-width: 500px) {
      font-size: 6em;
    }
    @media screen and (max-width: 450px) {
      font-size: 4em;
      letter-spacing: 0;
      &:first-letter {
        margin: 0 -3em 0 -18%;
      }
      > .word3, .word5 {
        margin-left: -20px;
      }
      > .word4 {
        margin-left: -20px;
      }
    }
  }
  figure {
    display: block;
    padding-top: 8em;
    position:relative;
  }
  blockquote {
    overflow: hidden;
    p {
      float: left;
      margin-left: 5%;
      width: 30%;
      &:first-child {
        margin-left: 0;
      }
      &:first-letter {
        font-family: 'plainblackwidenormal';
        font-size: 5em;
        float: left;
        margin: 0 15px 0 0;
      }
      @media screen and (max-width: 650px) {
        float: none;
        margin: 0 auto 3em auto;
        width: 80%;
        &:first-child {
          margin: 3em auto 3em auto;
        }
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }
  figcaption {
    border-top: 3px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    font-style: italic;
    left: 0;
    padding: 2em 0;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    cite {
      font-style: italic;
    }
  }
}