// Danger Doom - Old School -----------------------------------------------------------------

@import "partials/common";

$primary-color: #E7E9D3;
$secondary-color: #ffffff;

body {
  background: url("../images/danger-doom/old-school-background.jpg");
  color: $primary-color;
  font: 125%/1.5 "felt-tip-roman", Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: relative;
  width: 100%;
}
a, label {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$secondary-color;
  }
}
#navigation {
  background-color: $primary-color;
  li {
    border-color: lighten($primary-color, 8%);
    a:hover {
      background-color: lighten($primary-color, 10%);
    }
  }
}
#header {
  position: relative;
  z-index: 1;
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      opacity: 0.8;
    }
  }
}
#main {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  @extend %clearfix;
}
#footer {
  z-index: 100;
  ul {
    padding: 0.5em 1em;
  }
}
article {
  text-align: left;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    margin: 0 auto;
    position: relative;
    text-align: justify;
    > h1 {
      font-size: 14em;
      font-weight: 900;
      line-height: 0.8;
      margin: 0 auto;
      text-transform: uppercase;
    }
  }
  figure {
    margin: 0 auto;
    position: relative;
    text-align: justify;
    @include box-sizing(border-box);
    > blockquote {
      > p {
        display: block;
        &:first-child, &:last-child {
          margin: 0 auto;
          width: 40%;
        }
      }
    }
    figcaption {
      font-family: "alternate-gothic-no-1-d";
      line-height: 0.9;
      margin: 0.8em auto;
      text-transform: uppercase;
      width: 40%;
    }
  }
}

// Audio player
.iTunesPreviewPlayer {
  background-color: $primary-color;
}
.iTunesPreviewPlayer::before {
  border-left-color: $primary-color;
}
.iTunesPreviewPlayer:not(.error).loaded:active::before {
  border-left-color: $primary-color;
}
.iTunesPreviewPlayer.playing::before {
  border-color: $primary-color;
}
.iTunesPreviewPlayer.playing:not(.error).loaded:active::before {
  border-color: $primary-color;
}