// Danger Doom - Old School -----------------------------------------------------------------

@import "partials/common";

$primary-color: #E7E9D3;
$secondary-color: #ffffff;

body {
  background: url("../images/danger-doom/old-school-background.jpg") top center fixed;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
  @media screen and (max-width: 500px) {
    background: none;
    background-color: lighten(#6f3132, 10%);
  }
}
a {
  color: $primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$secondary-color;
  }
}
#header {
  position: relative;
  z-index: 3;
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      opacity: 0.8;
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      opacity: 0.8;
    }
  }
}
#footer.sticky {
  background-color: rgba(#6f3132, 0.95);
  color: lighten(#6f3132, 20%);
  a {
    color: lighten(#6f3132, 20%);
    &:hover {
      color: #fff;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten(#6f3132, 20%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten(#6f3132, 20%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten(#6f3132, 10%);
}
.iTunesPreviewPlayer:after {
  color: lighten(#6f3132, 20%);
}
#main {
  font: 400 150%/1.5 "felt-tip-roman", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  @extend %clearfix;
}
article {
  text-align: left;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    margin: 0 auto;
    text-align: justify;
    > h1 {
      color: $primary-color;
      font-size: 12em;
      font-weight: 900;
      line-height: 0.8;
      margin: 0 auto;
      opacity: 0.2;
      position: fixed;
      text-transform: uppercase;
      width: 50%;
    }
  }
  figure {
    color: $primary-color;
    margin: 0 auto;
    max-width: 550px;
    position: relative;
    text-align: center;
    width: 100%;
    @include box-sizing(border-box);
    p {
      margin-bottom: 2em;
      &:nth-child(2) {
        font-size: 4em;
        line-height: 0.8;
        margin-bottom: 0.5em;
      }
    }
    figcaption {
      font-size: 4em;
      line-height: 0.8;
      margin-bottom: 0.5em;
    }
  }
}