// Danger Doom - Old School -----------------------------------------------------------------

@import "partials/common";

$primary-color: #E7E9D3;
$secondary-color: #ffffff;

body {
  background: url("../images/danger-doom/old-school-background.jpg");
  color: $primary-color;
  position: relative;
  width: 100%;
}
a {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$secondary-color;
  }
}
#header {
  position: relative;
  z-index: 1;
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      opacity: 0.8;
    }
  }
}
.overlay-nav {
  background-color: rgba($primary-color, 0.98)
}
#footer {
  background-color: #6f3132;
  color: lighten(#6f3132, 40%);
  a {
    color: lighten(#6f3132, 40%);
  }
}
.iTunesPreviewPlayer {
  background-color: lighten(#6f3132, 5%);
}
.iTunesPreviewPlayer:after {
  color: lighten(#6f3132, 40%);
}
#main {
  font: 400 125%/1.5 "felt-tip-roman", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  @extend %clearfix;
}
article {
  text-align: left;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    margin: 0 auto;
    text-align: justify;
    > h1 {
      font-size: 14em;
      font-weight: 900;
      line-height: 0.8;
      margin: 0 auto;
      text-transform: uppercase;
    }
  }
  figure {
    margin: 0 auto;
    position: relative;
    text-align: justify;
    @include box-sizing(border-box);
    figcaption {
      font-family: "alternate-gothic-no-1-d";
      line-height: 0.9;
      margin: 0.8em auto;
      text-transform: uppercase;
      width: 40%;
    }
  }
}