// Eric B & Rakim - Paid in Full -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #F1E300;

@font-face {
  font-family: 'blackoutmidnight';
  src: url('/fonts/blackout-midnight-webfont.eot');
  src: url('/fonts/blackout-midnight-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/blackout-midnight-webfont.woff') format('woff'),
       url('/fonts/blackout-midnight-webfont.ttf') format('truetype'),
       url('/fonts/blackout-midnight-webfont.svg#blackoutmidnight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $secondary-color;
  color: $primary-color;
}
a {
  color: $primary-color;
  &:hover {
    border: none;
    color: darken($primary-color, 20%);
  }
}
#header {
  background-color: transparent;
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: #ffffff;
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: #ffffff;
    }
  }
}
.overlay-nav {
  background-color: rgba($primary-color, 0.98)
}
#footer {
  background-color: $primary-color;
  color: lighten($primary-color, 40%);
  a {
    color: lighten($primary-color, 40%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 20%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 40%);
}
#main {
  font: 500 100%/1.25 "blackoutmidnight", sans serif;
  @media only screen and (max-width:375px) {
    font-size: 87.5%;
  }
}
article {
  background: url("../images/rakim_background.jpg");
  background-size: cover;
  border: 10px solid #fff;
  color: #fff;
  font-size: 1.875em;
  line-height: 0.8;
  margin: 0 auto 0.5em;
  max-width: 1000px;
  position: relative;
  width: 100%;
  @include box-sizing(border-box);
  @media only screen and (max-width:550px) {
    background-position: -200px 0;
  }
  @media only screen and (max-width:450px) {
    background-position: -400px 0;
  }
  &:before {
    background-color: rgba($primary-color, 0.2);
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  a {
    border-color: #fff;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  h1 {
    font-size: 7.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    > .word2 {
      margin-left: -80px;
    }
    > .word3 {
      float: right;
      margin: -20px -20px 0 0;
    }
    @media only screen and (max-width:814px) {
      font-size: 6.4em;
      > .word3 {
        margin: -10px -20px 0 0;
      }
    }
    @media only screen and (max-width:656px) {
      font-size: 6em;
      > .word2 {
        margin-left: 0;
      }
      > .word3 {
        float: none;
        margin: -40px;
      }
    }
    @media only screen and (max-width:615px) {
      font-size: 5em;
      > .word1 {
        display: block;
      }
    }
    @media only screen and (max-width:530px) {
      > .word1, > .word2, > .word3 {
        display: block;
        margin: -5px 0 0;
      }
    }
  }
  figure {
    display: block;
    position:relative;
    z-index: 1;
  }
  blockquote {
    margin: 3em -3px 0 0;
    overflow: hidden;
    p {
      float: right;
      text-align: right;
      width: 60%;
    }
    span {
      display: block;
      font-size: 3em;
      margin-right: -5px;
      &:last-child {
        font-size: 1.8em;
      }
    }
    @media only screen and (max-width:630px) {
      p {
        width: 80%;
      }
    }
    @media only screen and (max-width:510px) {
      p {
        width: 100%;
      }
    }
    @media only screen and (max-width:375px) {
      span {
        font-size: 2em;
      }
      br {
        display: none;
      }
    }
  }
  figcaption {
    margin: 1.5em 0 1em;
  }
}
.copyright {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}