// Gang Starr - Battle  -----------------------------------------------------------------

@import "partials/common";

$primary-color: #e70000;
$secondary-color: #000000;
$background-color: #ffffff;

body {
  background-color: $background-color;
  color:$primary-color;
  font:1.125em/1.5 "Hoefler Text", Georgia, Times New Roman, Times, serif;
  font-weight: 400;
}
a, label {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $secondary-color;
  }
}
#navigation {
  background-color: $primary-color;
  li {
    border-color: darken($primary-color, 2%);
    a:hover {
      background-color: darken($primary-color, 4%);
    }
  }
}
#header {
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
article {
  margin: 0 auto 3em;
  max-width: 1200px;
  position: relative;
  text-align: center;
  width: 100%;
  img {
    max-width: 100%;
    width: 100%;
  }
  h1 {
    font-size: 4.111em;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1px;
    margin: 0;
    padding: 0 100px;
    quotes: "\201C""\201D""\2018""\2019";
    &:before,
    &:after {
      display: inline-block;
      font-size: 3em;
      line-height: 0.1;
      margin: 0;
      height: 0;
      opacity: 0.4;
      position: relative;
      vertical-align: bottom;
    }
    &:before {
      content: open-quote;
      margin-left: -120px;
    }
    &:after {
      content: close-quote;
      margin: 0 -90px 0 0;
      top: 0.1em;
    }
  }
  figure {
    margin:0 auto;
    position:relative;
    width: 60%;
  }
  blockquote {
    overflow: hidden;
  }
  figcaption {
    
  }
}

// Audio player
.iTunesPreviewPlayer {
  background-color: $secondary-color;
  &:hover {
    background-color: lighten($primary-color, 20%);
  }
}
.iTunesPreviewPlayer::before {
  border-left-color: #fff;
}
.iTunesPreviewPlayer:not(.error).loaded:active::before {
  border-left-color: #FFF;
}
.iTunesPreviewPlayer.playing::before {
  border-color: #fff;
}
.iTunesPreviewPlayer.playing:not(.error).loaded:active::before {
  border-color: #FFF;
}