// Gang Starr - Full Clip -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #e1d2cc;

body {
  background-color: #fff;
  color:$primary-color;
  font:100%/1.5 "kepler-std", Georgia, serif;
  font-weight: 500;
}
b {
  font-weight: 500;
}
a, label {
  color: $secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:lighten($primary-color, 20%);
  }
}
#header {
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: lighten($primary-color, 20%);
    }
  }
}
.overlay-nav {
  background-color: rgba($primary-color, 0.98)
}
#footer {
  background-color: $primary-color;
  color: lighten($primary-color, 40%);
  a {
    color: lighten($primary-color, 40%);
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 20%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 40%);
}
article {
  margin: 0 auto;
  max-width: 610px;
  position: relative;
  width: 100%;
  header {
    display: none;
  }
  img {
    width: 100%;
  }
  figure {
    margin:0 auto;
    padding: 0 8% 0 50%;
    position:relative;
    width: 100%;
    @include box-sizing(border-box);
    p {
      margin-bottom: 1.5em;
      width: 100%;
      &.chorus {
        left: 40px;
        position: absolute;
        top: 0;
        width: 40%;
      }
      &:not(.chorus):first-letter {
        float: left;
        font-size: 5.6em;
        line-height: 0.9;
        margin-bottom: -20px;
        width: 60px;
      }
    }
    .chorus, figcaption {
      color: $secondary-color;
      font-family: "superclarendon";
      font-weight: 700;
      line-height: 0.9;
      letter-spacing: -2;
      text-transform: uppercase;
      span {
        display: block;
      }
    }
    @media only screen and (max-width:550px) {
      padding: 0 10%;
      p.chorus {
        position: static;
        width: 100%;
      }
    }
    .chorus {
      span {
        &:nth-child(1) {
          line-height: 1;
        }
        &:nth-child(2) {
          line-height: 0.8;
        }
        &:nth-child(3) {
          line-height: 1.8;
        }
        &:nth-child(4) {
          line-height: 0.8;
        }
        &:nth-child(5) {
          line-height: 1;
        }
        &:nth-child(6) {
          line-height: 0.8;
        }
        &:nth-child(7) {
          line-height: 1.4;
        }
        &:nth-child(8) {
          line-height: 0.7;
        }
        &:nth-child(9) {
          line-height: 1.3;
        }
        &:nth-child(10) {
          line-height: 0.7;
        }
        &:nth-child(11) {
          line-height: 1.6;
        }
        &:nth-child(12) {
          line-height: 0.6;
        }
        &:nth-child(13) {
          line-height: 1.2;
        }
      }
    }
  }
}