// Gang Starr - Battle  -----------------------------------------------------------------

@import "partials/common";

$primary-color: #e70000;
$secondary-color: #000000;
$background-color: #ffffff;

body {
  background-color: $background-color;
  color:$primary-color;
}
a {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $secondary-color;
  }
}
#header {
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: $secondary-color;
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: lighten($primary-color, 40%);
  a {
    color: lighten($primary-color, 40%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 20%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 40%);
}
#main {
  font: 400 1.125em/1.5 "Hoefler Text", Georgia, Times New Roman, Times, serif;
}
article {
  margin: 0 auto 3em;
  max-width: 1200px;
  position: relative;
  text-align: center;
  width: 100%;
  img {
    max-width: 100%;
    width: 100%;
  }
  h1 {
    font-size: 4.111em;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1px;
    margin: 0;
    padding: 0 100px;
    quotes: "\201C""\201D""\2018""\2019";
    @media screen and (max-width: 500px) {
      font-size: 2.5em;
      margin-top: 2em;
      padding: 0;
    }
    &:before,
    &:after {
      display: inline-block;
      font-size: 3em;
      line-height: 0.1;
      margin: 0;
      height: 0;
      opacity: 0.4;
      position: relative;
      vertical-align: bottom;
      @media screen and (max-width: 500px) {
        display: block;
        height: auto;
        line-height: 0.1;
      }
    }
    &:before {
      content: open-quote;
      margin-left: -120px;
      @media screen and (max-width: 500px) {
        margin: 0;
      }
    }
    &:after {
      content: close-quote;
      margin: 0 -90px 0 0;
      top: 0.1em;
      @media screen and (max-width: 500px) {
        margin: 0.6em 0 0;
        top: 0;
      }
    }
  }
  figure {
    margin:0 auto;
    position:relative;
    width: 80%;
    @media screen and (max-width: 500px) {
      font-size: 1.2em;
      width: 100%;
    }
  }
  blockquote {
    overflow: hidden;
  }
}