// Gang Starr - Battle  -----------------------------------------------------------------

@import "partials/common";

$primary-color: #4e4e4e;
$secondary-color: #ffffff;
$background-color: #000000;

body {
  background: $background-color url("../images/gravediggaz/six_feet_background.jpg") top center fixed;
  color: $primary-color;
}
a {
  color:$secondary-color;
  &:hover {
    color: $primary-color;
  }
  &.toggle-nav {
    color: $primary-color;
    &:hover {
      color:$secondary-color;
    }
  }
}
#header {
  .toggle-nav {
    opacity: 0.8;
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: $secondary-color;
    }
  }
  #logo {
    opacity: 0.8;
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
#footer {
  background-color: rgba($background-color, 0.95);
  color: lighten($background-color, 40%);
  a {
    color: lighten($background-color, 40%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($background-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($background-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($background-color, 20%);
}
.iTunesPreviewPlayer:after {
  color: lighten($background-color, 40%);
}
#main {
  font: 400 1.375em/1.5 "jaf-lapture", Georgia, Times New Roman, Times, serif;
}
article {
  margin: 0 auto 3em;
  opacity: 0.7;
  position: relative;
  text-align: center;
  width: 100%;
  h1 {
    font-size: 5.909em;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1px;
    margin: 0;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px $background-color;
    @media screen and (max-width: 500px) {
      font-size: 4em;
    }
  }
  figure {
    margin:0 auto;
    position:relative;
    text-shadow: -1px -1px 1px $background-color;
    width: 100%;
  }
  p {
    &:after,
    &:first-child:before {
      background: url("../images/gravediggaz/break_small.png") no-repeat top left;
      content: "";
      display: block;
      height: 42px;
      margin: 2em auto;
      width: 136px;
    }
  }
}