// J-Live - Braggin' Writes -----------------------------------------------------------------

@import "partials/common";

$primary-color: #6DCFF6;
$secondary-color: #252525;
$secondary-color-light: lighten($secondary-color, 20%);

body {
  background-color: $secondary-color;
  color:$secondary-color-light;
  position: relative;
  width: 100%;
  &:after {
    background-color: darken($secondary-color, 5%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 35%;
    z-index: -1;
    @media screen and (max-width: 500px) {
      width: 100%;
      z-index: -1;
    }
  }
}
a {
  color:$primary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $secondary-color-light;
  }
}
#header {
  position: relative;
  z-index: 1;
  .toggle-nav {
    rect {
      fill: $secondary-color-light;
    }
    &:hover rect {
      fill: $primary-color;
    }
  }
  #logo {
    path {
      fill: $secondary-color-light;
      pointer-events: all;
    }
    &:hover path {
      fill: $primary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: darken($primary-color, 30%);
  a {
    color: darken($primary-color, 30%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: darken($primary-color, 30%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: darken($primary-color, 30%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: darken($primary-color, 10%);
}
.iTunesPreviewPlayer:after {
  color: darken($primary-color, 30%);
}
#main {
  font: 400 100%/1.5 "pragmatica-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
}
article {
  overflow: hidden;
  text-align: left;
  width: 100%;
  z-index: 2;
  header {
    margin: 0 auto;
    position: fixed;
    left: 40%;
    text-align: left;
    width: 80%;
    > h1 {
      color: $primary-color;
      font-family: "corpulent-web";
      font-size: 14.375em;
      font-weight: 400;
      line-height: 0.9;
    }
  }
  figure {    
    float: left;
    margin:0 5% 0 0;
    padding: 0 2em 2em;
    position: relative;
    width: 35%;
    @include box-sizing(border-box);
    @media screen and (max-width: 500px) {
      color: #fff;
      width: 80%;
    }
    p {
      margin-bottom: 1.5em;
      width: 100%;
      &.chorus {
        color: $primary-color;
      }
    }
  }
}