// Krumb Snatcha - Closer to God -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #ffffff;

body {
  background: url("../images/krumbsnatcha/wood-background.jpg");
  color: rgba($secondary-color, 0.4);
  font-weight: 400;
  position: relative;
  width: 100%;
}
a {
  color:$secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$secondary-color;
  }
}
#header {
  position: relative;
  z-index: 1;
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      opacity: 0.8;
    }
  }
  #logo {
    path {
      fill: rgba($secondary-color, 0.4);
      pointer-events: all;
    }
    &:hover path {
      fill: $primary-color;
    }
  }
}
#footer {
  background-color: rgba(#000, 0.95);
  color: $secondary-color;
  a {
    color: $secondary-color;
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $secondary-color;
      }
      &:hover:after {
        border-right-color: lighten($primary-color, 30%);
      }
    }
    > a.next {
      &:after {
        border-left-color: $secondary-color;
      }
      &:hover:after {
        border-left-color: lighten($primary-color, 30%);
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 30%);
}
.iTunesPreviewPlayer:after {
  color: $secondary-color;
}
#main {
  font: 400 81.3%/1.5 "adriane", Georgia, serif;
  @extend %clearfix;
}
article {
  text-align: left;
  margin: 2em auto;
  max-width: 1200px;
  width: 100%;
  z-index: 2;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    margin: 0 auto;
    position: relative;
    text-align: justify;
    width: 80%;
    > h1 {
      font-size: 8em;
      line-height: 0.8;
      margin: 0 auto;
      text-transform: uppercase;
      width: 40%;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      > h1 {
        width: 60%;
      }
    }
  }
  figure {
    margin: 0 auto;
    position: relative;
    width: 80%;
    @include box-sizing(border-box);
    &:before {
      content: " ";
      float: left;
      height: 200px;
      width: 30%;
    }
    > blockquote {
      > p {
        display: block;
        margin: 0;
        text-align: justify;
        > .left {
          content: " ";
          float: left;
          padding-bottom: 1000px;
          width: 30%;
          @media screen and (max-width: 500px) {
            padding-bottom: 1200px;
          }
        }
        > .right {
          content: " ";
          float: right;
          padding-bottom: 1000px;
          width: 30%;
        }
      }
      &:before {
        content: " ";
        float: right;
        height: 200px;
        width: 30%;
      }
    }
    figcaption {
      font-size: 2em;
      margin: 3em auto;
      text-align: center;
      width: 100%;
      a:hover {
        color: darken($primary-color, 15%);
      }
      // .bigtext-line0 {
      //   line-height: 0.8;
      // }
      // .bigtext-line1 {
      //   line-height: 1;
      // }
      // #bigtext-id3 {
      //   .bigtext-line0 {
      //     line-height: 0.9;
      //   }
      //   .bigtext-line1 {
      //     line-height: 0.2;
      //   }
      //   .bigtext-line2 {
      //     line-height: 1.6;
      //   }
      //   .bigtext-line3 {
      //     line-height: 0;
      //   }
      //}
      @media screen and (max-width: 600px) {
        width: 60%;
      }
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      &:before {
        width: 20%;
      }
      > blockquote {
        > p {
          > .left, .right {
            padding-bottom: 1200px;
            width: 20%;
          }
        }
        &:before {
          width: 20%;
        }
      }
    }
    @media screen and (max-width: 500px) {
      > blockquote {
        > p {
          > .left, .right {
            padding-bottom: 1450px;
          }
        }
      }
    }
  }
}