// Jeru - Static -----------------------------------------------------------------

@import "partials/common";

$primary-color: #41D1C6;
$secondary-color: #ffffff;

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: 400;
  position: relative;
  width: 100%;
}
a {
  color:$secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$secondary-color;
  }
}
#header {
  position: relative;
  z-index: 1;
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      opacity: 0.8;
    }
  }
}
.overlay-nav {
  background-color: rgba($secondary-color, 0.98)
}
#footer {
  background-color: $secondary-color;
  color: lighten($secondary-color, 40%);
  a {
    color: lighten($secondary-color, 40%);
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($secondary-color, 20%);
}
.iTunesPreviewPlayer:after {
  color: lighten($secondary-color, 40%);
}
#main {
  font: 400 81.3%/1.5 "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  padding: 0 2em;
  @extend %clearfix;
}
article {
  text-align: left;
  margin: 6em auto;
  max-width: 1200px;
  width: 100%;
  z-index: 2;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    margin: 0 auto;
    position: relative;
    text-align: justify;
    width: 70%;
    > h1 {
      font-size: 8em;
      font-family: "alternate-gothic-no-1-d";
      line-height: 0.8;
      margin: 0 auto;
      text-transform: uppercase;
      width: 40%;
    }
  }
  figure {
    margin: 0 auto;
    position: relative;
    width: 70%;
    @include box-sizing(border-box);
    &:before {
      content: " ";
      float: left;
      height: 200px;
      width: 30%;
    }
    > blockquote {
      > p {
        display: block;
        margin: 0;
        text-align: justify;
        > .left {
          content: " ";
          float: left;
          padding-bottom: 1000px;
          width: 30%;
        }
        > .right {
          content: " ";
          float: right;
          padding-bottom: 1000px;
          width: 30%;
        }
      }
      &:before {
        content: " ";
        float: right;
        height: 200px;
        width: 30%;
      }
    }
    figcaption {
      font-family: "alternate-gothic-no-1-d";
      line-height: 0.9;
      margin: 0.8em auto;
      text-transform: uppercase;
      width: 40%;
      span, a {
        display: block;
        margin: 0 auto;
      }
      .bigtext-line0 {
        line-height: 0.8;
      }
      .bigtext-line1 {
        line-height: 1;
      }
      #bigtext-id3 {
        .bigtext-line0 {
          line-height: 0.9;
        }
        .bigtext-line1 {
          line-height: 0.2;
        }
        .bigtext-line2 {
          line-height: 1.6;
        }
        .bigtext-line3 {
          line-height: 0;
        }
      }
    }
  }
}