// Ludicris - MVP -----------------------------------------------------------------

@import "partials/common";

$primary-color: #ffffff;
$secondary-color: #000000;

body {
  background-color: $primary-color;
  color: $secondary-color;
  position: relative;
  width: 100%;
}
a {
  color: $secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: rgba($secondary-color, 0.4);
  }
}
#header {
  position: relative;
  z-index: 1;
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      fill: rgba($secondary-color, 0.4);
    }
  }
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: rgba($secondary-color, 0.4);
    }
  }
}
.overlay-nav {
  background-color: rgba($secondary-color, 0.98)
}
#footer {
  background-color: lighten($secondary-color, 20%);
  color: lighten($secondary-color, 60%);
  a {
    color: lighten($secondary-color, 60%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($secondary-color, 60%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($secondary-color, 60%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($secondary-color, 40%);
}
.iTunesPreviewPlayer:after {
  color: lighten($secondary-color, 60%);
}
#main {
  font: 300 150%/1.5 "refrigerator-deluxe";
  margin: 0 auto;
  padding: 0;
  width: 100%;
  @extend %clearfix;
}
article {
  text-align: left;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2em;
    position: relative;
    text-align: justify;
    > h1 {
      font-size: 14em;
      font-weight: 900;
      line-height: 0.8;
      margin: 0 auto;
      text-transform: uppercase;
    }
  }
  figure {
    background: $secondary-color url("../images/ludacris/microphone.jpg") no-repeat center top;
    background-size: 100%;
    color: $primary-color;
    margin: -3em auto 0;
    position: relative;
    @include box-sizing(border-box);
    > blockquote {
      max-width: 1000px;
      margin: 0 auto;
      padding: 5em 2em;
      @extend %clearfix;
      > p {
        margin-bottom: 4em;
        &:first-child {
          float: left;
          width: 32%;
        }
        + p {
          float: right;
          text-align: right;
          width: 32%;
        }
      }
      > h3 {
        clear: both;
        font-size: 2em;
        font-weight: 900;
        line-height: 0.8;
        text-transform: uppercase;
        text-align: center;
      }
    }
    figcaption {
      color: $primary-color;
      margin: 0 auto;
      padding-bottom: 6em;
      text-align: center;
      width: 50%;
      a {
        color: rgba($primary-color, 0.5);
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}