// Nas - I gave you power -----------------------------------------------------------------

@import "partials/common";

$red:#e13131;

body {
  background-color:#fff;
  color:#000;
  font:112.5%/1.5 "brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
  *font-size:small;
  font-weight:300;
}
#header {
  > a {
    background:url(../images/logo_black.png) no-repeat top left;
  }
}
#footer a {
  color:#fff;
  &:hover {
    text-decoration:underline;
  }
}
article {
  margin:0 auto;
  width:670px;
  > header {
    position:relative;
    > h2 {
      border-bottom:15px solid #fff;
      font-family:"bebas-neue", "Impact", "Arial Narrow Bold", Arial, sans-serif;
      font-weight:400;
      font-size:18.4em;
      line-height:0.8;
      margin:0 auto 30px;
      width:678px;
      > b {
        border-bottom:15px solid #fff;
        display:block;
        font-family: "brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
        font-size:0.375em;
        font-weight:300;
        margin-bottom:30px;
        padding-bottom:20px;
        text-align:justify;
        text-transform:uppercase;
      }
      span {
        left:-13px;
        position:relative;
      }
    }
    > h3 {
      bottom:435px;
      color:#e13131;
      font-family: "brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
      font-size:0.833em;
      letter-spacing:1px;
      left:100px;
      position:absolute;
      text-transform:uppercase;
      > a {
        color:#e13131;
        &:hover {
          text-decoration:none;
        }
      }
    }
  }
  > blockquote {
    margin:0 auto;
    position:relative;
    top:-130px;
    right:-180px;
    width:500px;
    > p {
      margin-bottom:1.5em;
      &.chorus {
        border-left:15px solid #fff;
        font-family:"bebas-neue", "Impact", "Arial Narrow Bold", Arial, sans-serif;
        font-size:2.111em;
        font-weight:400;
        line-height:1.2;
        margin:0 0 0.5em -100px;
        padding-left:30px;
      }
    }
  }
}

// Audio player

.audiojs {
  background-color:#fff;
  .time {
    color:$red;
  }
  .loaded {
    background-color:$red;
  }
  .play {
    border-left-color:$red;
  }
  .progress {
    background-color:shade($red, 20%);
  }
  .pause {
    border-color:$red;
  }
}