// Ludicris - MVP -----------------------------------------------------------------

@import "partials/common";

$primary-color: #ffffff;
$secondary-color: #000000;

body {
  background-color: $primary-color;
  color: $secondary-color;
  font: 150%/1.5 "refrigerator-deluxe", Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: relative;
  width: 100%;
}
a, label {
  color:$secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:$secondary-color;
  }
}
#header {
  position: relative;
  z-index: 1;
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      opacity: 0.8;
    }
  }
}
.overlay-nav {
  background-color: rgba($secondary-color, 0.98)
}
#footer {
  background-color: $secondary-color;
  color: lighten($secondary-color, 40%);
  a {
    color: lighten($secondary-color, 40%);
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($secondary-color, 20%);
}
.iTunesPreviewPlayer:after {
  color: lighten($secondary-color, 40%);
}
#main {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  @extend %clearfix;
}
article {
  text-align: left;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    margin: 0 auto;
    position: relative;
    text-align: justify;
    > h1 {
      font-size: 14em;
      font-weight: 900;
      line-height: 0.8;
      margin: 0 auto;
      text-transform: uppercase;
    }
  }
  figure {
    margin: 0 auto;
    position: relative;
    text-align: justify;
    @include box-sizing(border-box);
    > blockquote {
    
    }
    figcaption {
      font-family: "alternate-gothic-no-1-d";
      line-height: 0.9;
      margin: 0.8em auto;
      text-transform: uppercase;
      width: 40%;
    }
  }
}