// Mobb Deep - Survival of the Fittest -----------------------------------------------------------------

@import "partials/common";

$primary-color: #E13742;
$secondary-color: #D4E6DD;
$tertiary-color: #332E25;

body {
  background-color: $secondary-color;
  color: $tertiary-color;
  position: relative;
  width: 100%;
}
a {
  color: $tertiary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: #fff;
  }
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .toggle-nav {
    rect {
      fill: $tertiary-color;
    }
    &:hover rect {
      fill: #fff;
    }
  }
  #logo {
    path {
      fill: $tertiary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: #fff;
    }
  }
}
.overlay-nav {
  background-color: rgba($tertiary-color, 0.98)
}
#footer {
  background-color: $tertiary-color;
  color: lighten($tertiary-color, 40%);
  a {
    color: lighten($tertiary-color, 40%);
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($tertiary-color, 40%);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($tertiary-color, 40%);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($tertiary-color, 20%);
}
.iTunesPreviewPlayer:after {
  color: lighten($tertiary-color, 40%);
}
#main {
  font: 300 125.0%/1.5 "adelle", georgia, Times New Roman, serif;
  margin: 0 auto;
  padding: 0 0 6em;
  width: 100%;
  @extend %clearfix;
}
article {
  padding-top: 40%;
  text-align: left;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    background-color: $primary-color;
    color: #fff;
    position: fixed;
    height: 50%;
    left: -3em;
    top: -3em;
    right: -2em;
    @media screen and (max-width: 700px) {
      left: -3em;
      right: -24em;
      top: -5em;
    }
    svg {
      height: 110%;
      left: 0;
      position: absolute;
      text-transform: uppercase;
      top: 0;
      width: 115%;
    }
  }
  figure {
    //background-color: $secondary-color;
    margin: 0 auto;
    position: relative;
    @include box-sizing(border-box);
    > blockquote {
      p {
        padding: 2em 2em 2em 30%;
        width: 40%;
        @media screen and (max-width: 700px)  {
          width: 60%;
          &:first-child {
            padding-top: 8em;
          }
        }
        @media screen and (max-width: 500px)  {
          @include box-sizing(border-box);
          padding: 2em;
          width: 90%;
          &:first-child {
            padding-top: 10em;
          }
        }
        &:last-child {
          background-color: $tertiary-color;
          border-bottom: 5px solid $primary-color;
          color: #fff;
        }
        &:first-letter {
          background-color: $primary-color;
          box-shadow: 5px 5px 0 darken($primary-color, 20%);
          color: #fff;
          float: left;
          font-size: 5em;
          font-weight: 700;
          line-height: 1.2;
          margin: 0.05em 0.2em 0.2em 0;
          padding: 0 0.2em;
        }
      }
    }
    figcaption {
      background-color: $primary-color;
      box-shadow: 5px 5px 0 darken($primary-color, 20%);
      @include box-sizing(border-box);
      color: #fff;
      font-size: 2em;
      font-weight: 700;
      line-height: 1.2;
      margin-left: 30%;
      padding: 0.2em 0.5em 0.5em;
      width: 40%;
      @media screen and (max-width: 700px) {
        width: 60%;
      }
      @media screen and (max-width: 500px) {
        margin-left: 0;
        width: 80%;
      }
    }
  }
}