// Mos Def - Mathematics -----------------------------------------------------------------

@import "partials/common";

$primary-color: #ffffff;
$secondary-color: #FF0090;

body {
  background: #000 url("../images/mos-def/background-mathmatics.jpg") top center fixed;
  background-size: cover;
  color: $primary-color;
  position: relative;
  width: 100%;
}
a, label {
  color: $secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: #fff;
  }
}
#header {
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: #fff;
    }
  }
}
.overlay-nav {
  background-color: rgba(#000, 0.98)
}
#footer {
  background-color: #000;
  color: lighten(#000, 40%);
  a {
    color: lighten(#000, 40%);
  }
}
.iTunesPreviewPlayer {
  background-color: lighten(#000, 20%);
}
.iTunesPreviewPlayer:after {
  color: lighten(#000, 40%);
}
#main {
  font: 300 150.0%/1.5 'Tungsten A', 'Tungsten B', impact, sans-serif;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  @extend %clearfix;
}
article {
  text-align: left;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    display: none;
  } 
  figure {
    font-weight:700;
    font-size: 5em;
    line-height: 1;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    @include box-sizing(border-box);
    p {
      margin: 0;
      padding: 0 20% 1em;
      > span {
        color: $secondary-color;
      }
      &:last-child {
        background-color: rgba($secondary-color, 0.8);
        padding-top: 1em;
        > span {
          color: #000;
        }
      }
    }
    figcaption {
      padding: 1em 10%;
    }
  }
}