// Nas - I gave you power -----------------------------------------------------------------

@import "partials/common";

$red:#e13131;

body {
  background-color:#e13131;
  color:#fff;
  font:112.5%/1.5 "brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
  *font-size:small;
  font-weight:300;
}
#header {
  #logo path {
    fill: #fff;
  }
  > nav a {
    background-color:#fff;
    color:$red;
    font-size:0.611em;
    &:hover {
      background-color:shade($red, 40%);
      color:#fff;
    }
  }
}
#footer {
  color:shade($red, 40%);
  a {
    color:#fff;
    &:hover {
      text-decoration:underline;
    }
  }
}
article {
  margin:0 auto;
  max-width:848px;
  width: 100%;
  > header {
    background:url(../images/gun.svg) no-repeat bottom left;
    background-size: 91% auto;
    padding-bottom:471px;
    > h1 {
      border-bottom:15px solid #fff;
      font-family:"bebas-neue", "Impact", "Arial Narrow Bold", Arial, sans-serif;
      font-weight:400;
      font-size:18em;
      line-height:0.8;
      text-align: justify;
      margin:0 auto 30px;
      width:80%;
      > b {
        border-bottom:15px solid #fff;
        display:block;
        font-family: "brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
        font-size:0.375em;
        font-weight:300;
        margin-bottom:30px;
        padding-bottom:20px;
        text-align:justify;
        text-transform:uppercase;
        width: 80%;
      }
    }
  }
  > figure {
    font-weight: 400;
    margin:0 auto;
    position:relative;
    top:-130px;
    right:-180px;
    width:60%;
    > p {
      margin-bottom:1.5em;
      &.chorus {
        border-left:15px solid #fff;
        font-family:"bebas-neue", "Impact", "Arial Narrow Bold", Arial, sans-serif;
        font-size:2.111em;
        font-weight:400;
        line-height:1.2;
        margin:0 0 0.5em -100px;
        padding-left:30px;
      }
      > cite {
        top:-328px;
        color:#e13131;
        font-size:0.833em;
        letter-spacing:2px;
        left:-255px;
        position:absolute;
        font-style:normal;
        text-transform:uppercase;
        width:678px;
        > a {
          color:#e13131;
          &:hover {
            text-decoration:none;
          }
        }
      }
    }
  }
}

// Audio player

.audiojs {
  background-color:#fff;
  .time {
    color:$red;
  }
  .loaded {
    background-color:$red;
  }
  .play {
    border-left-color:$red;
  }
  .progress {
    background-color:shade($red, 20%);
  }
  .pause {
    border-color:$red;
  }
}