// Nas - N.Y. State of Mind -----------------------------------------------------------------

@import "partials/common";

$primary-color: #ffee00;
$secondary-color: #ffffff;

body {
  background-color: $primary-color;
  color:#fff;
}
a {
  color: #000;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: #3e3e3e;
  }
}
#header {
 margin-bottom: 0;
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      fill: darken($primary-color, 20%);
    }
  }
  #logo {
    path {
      fill: #000;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba(#000, 0.95);
  color: $secondary-color;
  a {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $secondary-color;
      }
      &:hover:after {
        border-right-color: $primary-color;
      }
    }
    > a.next {
      &:after {
        border-left-color: $secondary-color;
      }
      &:hover:after {
        border-left-color: $primary-color;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten(#000,30%);
}
.iTunesPreviewPlayer:after {
  color: $secondary-color;
}
.iTunesPreviewPlayer:hover:after {
  color: $primary-color;
}
#main {
  font: 400 112.5%/1.5 'Sentinel SSm A', 'Sentinel SSm B', Georgia, Times-New-roman, sans-serif;
}
article {
  margin:0 auto 6em;
  max-width:1200px;
  position: relative;
  width: 100%;
  > header {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: -1;
    width: 100%;
    h1 {
      color: $secondary-color;
      font: 400 20.9em/0.79 'Knockout 47 A', 'Knockout 47 B', helvetica neue, arial, sans-serif;
      padding-top: 50%;
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: 1175px) {
        font-size: 18em;
      }
      @media screen and (max-width: 900px) {
        font-size: 16em;
      }
      @media screen and (max-width: 768px) {
        font-size: 14em;
      }
      @media screen and (max-width: 700px) {
        font-size: 12em;
      }
      @media screen and (max-width: 600px) {
        font-size: 10em;
      }
      @media screen and (max-width: 500px) {
        font-size: 9em;
      }
    }
  }
  blockquote {
    height: 0;
    display: block;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 225%;
    position: relative;
    width: 50%;
    > svg {
      left: 0;
      position: absolute;
      top: 0;
    }
    @media screen and (max-width: 500px) {
      padding-top: 450%;
      width: 100%;
    }
  }
  figcaption {
    color: #000;
    font-size: 1em;
    font-weight: 700;
    margin-top: 0.3em;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 768px) {
      font-size: 0.9em;
    }
  }
}