// Nas - I gave you power -----------------------------------------------------------------

@import "partials/common";

$primary-color: #e13131;
$secondary-color: #ffffff;

body {
  background-color: $primary-color;
  color:#fff;
}
a {
  color: $secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color:lighten($primary-color, 20%);
  }
}
#header {
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      fill: darken($primary-color, 20%);
    }
  }
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: darken($primary-color, 20%);
    }
  }
}
.overlay-nav {
  background-color: $primary-color;
}
#footer {
  background-color: $secondary-color;
  color: $primary-color;
  a {
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 20%);
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $primary-color;
      }
      &:hover:after {
        border-right-color: darken($primary-color, 20%);
      }
    }
    > a.next {
      &:after {
        border-left-color: $primary-color;
      }
      &:hover:after {
        border-left-color: darken($primary-color, 20%);
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $primary-color;
}
.iTunesPreviewPlayer:after {
  color: $primary-color;
}
.iTunesPreviewPlayer:hover:after {
  color: darken($primary-color, 20%);
}
#main {
  font: 400 112.5%/1.5 "brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
}
article {
  margin:0 auto;
  max-width:848px;
  width: 100%;
  > header {
    background:url(../images/gun.svg) no-repeat bottom left;
    background-size: 91% auto;
    padding-bottom: 58%;
    > h1 {
      border-bottom: 15px solid #fff;
      font-family: "bebas-neue", "Impact", "Arial Narrow Bold", Arial, sans-serif;
      font-weight: 400;
      font-size: 18em;
      line-height: 0.7;
      margin: 0 auto 30px;
      padding-bottom: 0.1em;
      width: 80%;
      > span:first-child {
        border-bottom: 15px solid #fff;
        display: block;
        font-family: "brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
        font-size: 0.375em;
        font-weight: 300;
        margin-bottom: 30px;
        padding-bottom: 0.2em;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
  > figure {
    font-weight: 400;
    margin:0 auto;
    position:relative;
    top:-180px;
    right:-180px;
    width:60%;
    p {
      margin-bottom:1.5em;
      &.chorus {
        border-left:15px solid #fff;
        font-family:"bebas-neue", "Impact", "Arial Narrow Bold", Arial, sans-serif;
        font-size:2.111em;
        font-weight:400;
        line-height:1.2;
        margin:0 0 0.5em -100px;
        padding-left:30px;
      }
      > cite {
        top:-328px;
        color:#e13131;
        font-size:0.833em;
        letter-spacing:2px;
        left:-255px;
        position:absolute;
        font-style:normal;
        text-transform:uppercase;
        width:678px;
        > a {
          color:#e13131;
          &:hover {
            text-decoration:none;
          }
        }
      }
    }
  }
}