// Nas, Raekwon & Ghostface - Verbal Intercourse -----------------------------------------------------------------

@import "partials/common";

body {
  background:url(../images/nas_raekwon_ghostface/natural_paper.png);
  color:#000;
  font:112.5%/1.5 "adelle", 'Georgia', 'Palatino Linotype', Times New Roman, Times, serif;
  *font-size:small;
  font-weight:400;
}
h1,h2,h3 {
  font-weight:400;
}
#header {
  #logo path {
    fill: #000;
  }
  > nav a {
    background-color:#000;
    color:#fff;
    font-size:0.611em;
    &:hover {
      background-color:tint(#000, 40%);
      color:#fff;
    }
  }
}
#footer {
  a {
    color:#000;
    &:hover {
      text-decoration:underline;
    }
  }
}
article {
  margin:0 auto;
  width:940px;
  > header {
    > h1 {
      font-weight:900;
      font-size:5.556em;
      line-height:0.8;
      margin:0 auto 80px;
      padding-bottom:30px;
      text-align:center;
    }
  }
  > blockquote {
    margin:0 auto 80px;
    position:relative;
    > p {
      margin-bottom:1.5em;
      &.column {
        float:left;
        margin-right:20px;
        width:300px;
      }
      &#quote_three {
        margin-right:0;
      }
      &#chrous {
        bottom:0;
        font-size:1.889em;
        left:-50px;
        position:absolute;
        width:620px;
      }
      > span {
        display:block;
        margin-bottom:1.5em;
        font-size:1.722em;
      }
      > img {
        display:block;
        margin-bottom:1.5em;
      }
      > cite {
        border-top:1px solid #000;
        border-bottom:1px solid #000;
        font-size:0.889em;
        left:0;
        letter-spacing:1px;
        padding:10px 0;
        position:absolute;
        font-style:normal;
        text-align:center;
        top:-80px;
        width:940px;
        > a {
          color:#000;
          &:hover {
            text-decoration:none;
          }
        }
      }
    }
    &:after {
      display: table;
      content: "";
      zoom: 1;
      clear: both;
    }
  }
}

// Audio player

.audiojs {
  background-color:#000;
  .time {
    color:#e1e1e1;
  }
  .loaded {
    background-color:#e1e1e1;
  }
  .play {
    border-left-color:#e1e1e1;
  }
  .progress {
    background-color:shade(#e1e1e1, 20%);
  }
  .pause {
    border-color:#e1e1e1;
  }
}