// Nas - I gave you power -----------------------------------------------------------------

@import "partials/common";

$red:#e13131;

body {
  background:url(../images/nas_raekwon_ghostface/natural_paper.png);
  color:#000;
  font:137.5%/1.5 "garamond-premier-pro-display", 'Palatino Linotype', Times New Roman, Times, serif;
  *font-size:small;
  font-weight:400;
}
#header {
  > a {
    background:url(../images/logo_black.png) no-repeat top left;
  }
  > nav a {
    background-color:#fff;
    color:$red;
    font-size:0.611em;
    &:hover {
      background-color:shade($red, 40%);
      color:#fff;
    }
  }
}
#footer {
  color:shade($red, 40%);
  a {
    color:#fff;
    &:hover {
      text-decoration:underline;
    }
  }
}
article {
  margin:0 auto;
  overflow:hidden;
  width:940px;
  > header {
    > h2 {
      font-weight:700;
      font-size:6.5em;
      line-height:0.8;
      margin:0 auto 30px;
    }
  }
  > blockquote {
    margin:0 auto;
    position:relative;
    float:left;
    margin-right:20px;
    width:300px;
    > p {
      margin-bottom:1.5em;
      &.chorus {
        border-left:15px solid #fff;
        font-size:2.111em;
        font-weight:400;
        line-height:1.2;
        margin:0 0 0.5em -100px;
        padding-left:30px;
      }
      > cite {
        top:-328px;
        color:#e13131;
        font-size:0.833em;
        letter-spacing:2px;
        left:-255px;
        position:absolute;
        font-style:normal;
        text-transform:uppercase;
        width:678px;
        > a {
          color:#e13131;
          &:hover {
            text-decoration:none;
          }
        }
      }
    }
  }
}

// Audio player

.audiojs {
  background-color:#fff;
  .time {
    color:$red;
  }
  .loaded {
    background-color:$red;
  }
  .play {
    border-left-color:$red;
  }
  .progress {
    background-color:shade($red, 20%);
  }
  .pause {
    border-color:$red;
  }
}