// Notorious BIG - 10 Crack Commandments -----------------------------------------------------------------

@import "//cloud.typography.com/613014/639904/css/fonts.css";

@import "partials/common";

$primary-color: #ffffff;
$secondary-color: #000000;

@include loader($primary-color);

html {
  height: auto;
}
body {
  background-color: $secondary-color;
  color: $primary-color;
  position: relative;
  overflow-z: hidden; 
  width: 100%;
}
a {
  color: $primary-color;
  text-decoration: none;
  @include transition(opacity 0.1s linear);
  &:hover {
    color: rgba($primary-color, 0.5);
  }
}
#header {
  position: relative;
  z-index: 1;
  .toggle-nav {
    rect {
      fill: $primary-color;
    }
    &:hover rect {
      fill: rgba($primary-color, 0.5);
    }
  }
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: rgba($primary-color, 0.5);
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: $secondary-color;
  a {
    color: $secondary-color;
    &:hover {
      color: rgba($secondary-color, 0.5);
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $secondary-color;
      }
      &:hover:after {
        border-right-color: rgba($secondary-color, 0.5);
      }
    }
    > a.next {
      &:after {
        border-left-color: $secondary-color;
      }
      &:hover:after {
        border-left-color: rgba($secondary-color, 0.5);
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $secondary-color;
}
.iTunesPreviewPlayer:after {
  color: $secondary-color;
}
.iTunesPreviewPlayer:hover:after {
  color: rgba($secondary-color, 0.5);
}
#main {
  font: 400 137.5%/1.5 'Sentinel SSm A', 'Sentinel SSm B', Georgia, Times New Roman, serif;
  padding: 0 2em;
  overflow: hidden;
  @extend %clearfix;
  @media screen and (max-width: 500px) {
    font-size: 115%;
  }
}
article {
  color: $primary-color;
  text-align: left;
  margin: 6em auto;
  max-width: 800px;
  width: 100%;
  z-index: 2;
  @extend %clearfix;
  @include box-sizing(border-box);
  @media screen and (max-width: 500px) {
    margin: 2em auto;
  }
  header {
    display: none;
  }
  figure {
    h3 {
      font-weight: 800;
      font-size: 1.2em;
    }
    blockquote > h3,
    blockquote > p {
      text-align: center;
    }
    blockquote > h3 {
      font-size: 3em;
      line-height: 1;
      margin-bottom: 0.5em;
    }
    ol {
      counter-reset: counter;
      list-style-type: none;
      li {
        margin: 3em 0;
        padding-left: 2.5em;
        position: relative;
        vertical-align: middle;
        width: 100%;
        @include box-sizing(border-box);
        &:first-child {
          margin-top: 0;
        }
        > h3 {
          line-height: 1.2;
        }
        &:after {
          content: counter(counter);
          counter-increment: counter;
          font-weight: 800;
          font-size: 10em;
          line-height: 0.7;
          letter-spacing: -2px;
          left: -.05em;
          opacity: 0.15;
          top: 0;
          position: absolute;
          z-index: -1;
        }
        &:nth-child(1) {
          &:before {
            background: url('../images/notorious-big/coke-one.jpg') no-repeat;
            background-size: 105%;
            content: '';
            float: right;
            height: 400px;
            margin: 10% 0 20% 5%;
            width: 60%;
            z-index: -1;
          }
        }
        &:nth-child(2) {
          &:after{
            left: 40%;
            z-index: 10;
          }
        }
        &:nth-child(3) {
          margin-left: 12.5%;
          width: 85%;
        }
        &:nth-child(4) {
          text-align: right;
          &:after{
            left: auto;
            right: -5%;
          }
          &:before {
            background: url('../images/notorious-big/coke-two.jpg') no-repeat;
            background-size: 100%;
            content: '';
            float: left;
            height: 500px;
            margin: 3% -10% -20% -10%;
            position: relative;
            width: 70%;
            z-index: -1;
            @media screen and (max-width: 670px) {
              margin-top: 18%;
            }
          }
        }
        &:nth-child(5) {
          clear: right;
          float: right;
          text-align: right;
          width: 40%;
          &:after{
            left: 0;
          }
        }
        &:nth-child(6) {
          clear: right;
          padding-top: 1em;
          &:before {
            content: url('../images/notorious-big/coke-three.jpg');
            float: right;
            margin: 0 0 -5% 10%;
            position: relative;
            width: 50%;
            z-index: -1;
          }
        }
        &:nth-child(7) {
          width: 50%;
          &:after{
            left: 60%;
          }
        }
        &:nth-child(8) {
          text-align: right;
          &:before {
            background: url('../images/notorious-big/coke-four.jpg') no-repeat;
            background-size: 100%;
            content: '';
            float: left;
            height: 500px;
            margin: 0 -10% -20% -10%;
            padding-left: 3em;
            position: relative;
            width: 50%;
            z-index: -1;
            @media screen and (max-width: 670px) {
              margin: 10% 0 0 -30%;
              padding-left: 0;
            }
          }
          &:after{
            left: auto;
            right: 5%;
            top: -50%;
          }
        }
        &:nth-child(9) {
          float: right;
          text-align: right;
          width: 48%;
          @media screen and (max-width: 670px) {
            width: 70%;
          }
        }
        &:nth-child(10) {
          clear: right;
          margin-top: 0;
          position: relative;
          top: -2em;
          width: 60%;
          @media screen and (max-width: 670px)  {
            top: 0;
            width: 80%;
          }
        }
      }
      @media screen and (max-width: 500px) {
        li {
          float: none !important;
          margin: 0 0 3em !important;
          padding: 0 !important;
          text-align: left !important;
          width: 100% !important;
          &:after, &:before {
            display: block !important;
            float: none !important;
            height: auto !important;
            margin: 0 0 3em !important;
            width: 100% !important;
          }
        }
      }
    }
    p {
      margin: 0 0 3em 0;
    }
    > figcaption {
      font-weight: 800;
      font-size: 1.2em;
      text-align: center;
      a {
        color: rgba($primary-color, 0.5);
        &:hover {
          color:$primary-color;
        }
      }
    }
  }
}