// Notorious BIG - 10 Crack Commandments -----------------------------------------------------------------

@import "partials/common";

$primary-color: #ffffff;
$secondary-color: #000000;

html {
  height: auto;
}
body {
  background-color: $secondary-color;
  color: $primary-color;
  font:137.5%/1.5 'Sentinel SSm A', 'Sentinel SSm B', Georgia, Times New Roman, serif;
  font-weight: 400;
  position: relative;
  width: 100%;
}
a, label {
  color:$primary-color;
  text-decoration: none;
  @include transition(opacity 0.1s linear);
  &:hover {
    opacity: 0.5;
  }
}
#navigation {
  background-color: $primary-color;
  li {
    border-color: lighten($primary-color, 8%);
    a:hover {
      background-color: lighten($primary-color, 10%);
    }
  }
}
#header {
  position: relative;
  z-index: 1;
  #logo {
    path {
      fill: $primary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $secondary-color;
    }
  }
}
#main {
  padding: 0 2em;
  @extend %clearfix;
}
article {
  color: $primary-color;
  text-align: left;
  margin: 6em auto;
  max-width: 800px;
  width: 100%;
  z-index: 2;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    display: none;
  }
  figure {
    h3 {
      font-weight: 800;
      font-size: 1.2em;
    }
    ol {
      list-style-type: none;
      counter-reset: counter;
      li {
        margin: 4em 0;
        padding-left: 100px;
        position: relative;
        width: 60%;
        &:before {
          content: counter(counter);
          counter-increment: counter;
          font-weight: 800;
          font-size: 10em;
          line-height: 0.7;
          letter-spacing: -2px;
          left: 0;
          opacity: 0.2;
          top: 0;
          position: absolute;
          z-index: -1;
        }
      }
    }
    p {
      margin: 0 0 6em 0;
    }
    > figcaption {
    }
  }
}

// Audio player
.iTunesPreviewPlayer {
  background-color: $primary-color;
  &:hover:after {
    opacity: 0.7;
  }
}
.iTunesPreviewPlayer::before {
  border-left-color: $secondary-color;
}
.iTunesPreviewPlayer:not(.error).loaded:active::before {
  border-left-color: $secondary-color;
}
.iTunesPreviewPlayer.playing::before {
  border-color: $secondary-color;
}
.iTunesPreviewPlayer.playing:not(.error).loaded:active::before {
  border-color: $secondary-color;
}