// O.C. - Word...Life -----------------------------------------------------------------

@import "partials/common";

$primary-color: #6e8fe5;
$secondary-color: #000000;

html {
  height: auto;
}
body {
  background-color: #f2f2f2;
  color: $secondary-color;
  position: relative;
  width: 100%;
}
a {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}
#header {
  position: relative;
  z-index: 1;
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      fill: $primary-color;
    }
  }
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $primary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba($secondary-color, 0.95);
  color: #fff;
  a {
    color: #fff;
    &:hover {
      color: $primary-color;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: #fff;
      }
      &:hover:after {
        border-right-color: $primary-color;
      }
    }
    > a.next {
      &:after {
        border-left-color: #fff;
      }
      &:hover:after {
        border-left-color: $primary-color;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $primary-color;
}
.iTunesPreviewPlayer:after {
  color: #fff;
}
.iTunesPreviewPlayer:hover:after {
  color: $primary-color;
}
#main {
  font: 400 125%/1.5 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;
  opacity: 1;
  overflow: hidden;
  @extend %clearfix;
}
article {
  text-align: left;
  margin: 6em auto;
  max-width: 1200px;
  width: 100%;
  z-index: 2;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    h1 {
      color: rgba($primary-color, 0.8);
      font: 800 14em/0.9 'Gotham SSm A', 'Gotham SSm B', sans-serif; 
      letter-spacing: -10px;
      margin: 0 0 0.2em 10%;
      white-space: nowrap;
      &:first-letter {
        float: left;
        margin-right: -23px;
      }
      @media screen and (max-width: 900px) {
        font-size: 12em;
        letter-spacing: -10px;
        top: 30%;
        &:first-letter {
          float: left;
          margin-right: -20px;
        }
      }
      @media screen and (max-width: 800px) {
        font-size: 10em;
        letter-spacing: -5px;
        &:first-letter {
          float: left;
          margin-right: -15px;
        }
      }
      @media screen and (max-width: 700px) {
        font-size: 8em;
        letter-spacing: -5px;
        margin-left: 0;
        &:first-letter {
          float: left;
          margin-right: -15px;
        }
      }
      @media screen and (max-width: 500px) {
        font-size: 6em;
      }
    }
  }
  figure {
    p {
      margin: 0 auto 4em;
      position: relative;
      width: 50%;
      z-index: -1;
      &:first-line {
        font-family: 'Gotham SSm A', 'Gotham SSm B'; 
        font-size: 4em;
      }
      @media screen and (max-width: 700px) {
        width: 80%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
        &:first-line {
          font-family: 'Gotham SSm A', 'Gotham SSm B'; 
          font-size: 2em;
        }
      }
    }
    > figcaption {
      color: rgba($primary-color, 0.8);
      font: 800 4em/1.2 'Gotham SSm A', 'Gotham SSm B'; 
      letter-spacing: -5px;
      margin: 1em 10% 0 10%;
      @media screen and (max-width: 700px) {
        margin-left: 0;
      }
      @media screen and (max-width: 500px) {
        font-size: 3em;
      }
    }
  }
}