// O.C. - Word...Life -----------------------------------------------------------------

@import "partials/common";

$primary-color: #6e8fe5;
$secondary-color: #000000;

html {
  height: auto;
}
body {
  background-color: #f2f2f2;
  color: $secondary-color;
  position: relative;
  width: 100%;
}
a {
  color: $secondary-color;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}
#header {
  position: relative;
  z-index: 1;
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $primary-color;
    }
  }
}
.overlay-nav {
  background-color: $secondary-color;
}
#footer {
  background-color: $secondary-color;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      color: $primary-color;
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $primary-color;
}
.iTunesPreviewPlayer:after {
  color: #fff;
}
.iTunesPreviewPlayer:hover:after {
  color: $primary-color;
}
#main {
  font: 400 125%/1.5 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;
  padding: 0 2em;
  @extend %clearfix;
}
article {
  text-align: left;
  margin: 6em auto;
  max-width: 1400px;
  width: 100%;
  z-index: 2;
  @extend %clearfix;
  @include box-sizing(border-box);
  header {
    h1 {
      color: rgba($primary-color, 0.8);
      font-size: 18em;
      font-family: 'Gotham SSm A', 'Gotham SSm B'; 
      font-weight: 800;
      left: 0;
      line-height: 0.9;
      letter-spacing: -20px;
      position: absolute;
      top: 45%;
      &:first-letter {
        float: left;
        margin-right: -30px;
      }
    }
  }
  figure {
    padding-left: 5%;
    p {
      float: left;
      margin-right: 5%;
      position: relative;
      width: 30%;
      z-index: -1;
      > span {
        color: rgba($primary-color, 0.8);
        display: block;
        font-size: 18em;
        font-family: 'Gotham SSm A', 'Gotham SSm B'; 
        font-weight: 800;
        line-height: 0.9;
        left: -0.2em;
        position: absolute;
        top: -0.3em;
      }
      &:nth-child(2) {
        margin-top: 16em;
      }
      &:last-child {
        margin: 6em 0 0 0;
      }
    }
    > figcaption {
    }
  }
}