// Ocean Wisdom - Revvin' -----------------------------------------------------------------

@import "partials/common";

$primary-color: #ffffff;
$secondary-color: #000000;

@include loader($primary-color);

html {
  background: $secondary-color;
}
body {
  background: $secondary-color;
  color: $primary-color;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-weight: 400;
  width: 100%;
  @include box-sizing(border-box);
}
a {
  color: #999;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: #fff;
  }
}
p {
  margin-bottom: 2em;
}
#header {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 20;
}
#logo {
  path {
    fill: $primary-color;
    pointer-events: all;
  }
  &:hover path {
    fill: #999;
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: $secondary-color;
  a {
    color: $secondary-color;
    &:hover {
      color: rgba($secondary-color, 0.5);
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $secondary-color;
      }
      &:hover:after {
        border-right-color: $secondary-color;
      }
    }
    > a.next {
      &:after {
        border-left-color: $secondary-color;
      }
      &:hover:after {
        border-left-color: $secondary-color;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $secondary-color;
}
.iTunesPreviewPlayer:after {
  color: $secondary-color;
}
.iTunesPreviewPlayer:hover:after {
  color: rgba($secondary-color, 0.5);
}
#main {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 0 0 5rem 0;
  overflow: hidden;
  visibility: visible;
}
h1 {
  color: #fff;
  font-family: "Nitro A", "Nitro B", sans-serif;
  font-size: 46vw;
  font-weight: 400;
  line-height: 0.7;
  margin: 0 auto 0 -10vw;
  padding-top: 14vw;
  position: relative;
  z-index: 2;

  span {
    display: block;
    position: relative;

    &:first-child,
    &:last-child {
      text-align: right;
    }

    &:first-child {
      left: 9vw;
      position: relative;
    }

    &:last-child {
      left: -1.6vw;
      position: relative;
    }
  }

  &:before {
    background-color: $primary-color;
    content: "";
    height: 8vw;
    left: 51vw;
    position: absolute;
    top: 7vw;
    width: 100vw;

    @include transform(skew(-30deg));
  }

  @media screen and (max-width: 650px) {
    margin-top: 6rem;

    span:nth-child(1):before,
    span:nth-child(3):before {
      background-color: $primary-color;
      content: "";
      height: 28vw;
      right: 83.5vw;
      position: absolute;
      top: 4.2vw;
      width: 100vw;

      @include transform(skew(-29deg));
    }

    span:nth-child(2):before {
      background-color: $primary-color;
      content: "";
      height: 28vw;
      left: 67vw;
      position: absolute;
      top: 4.5vw;
      width: 100vw;

      @include transform(skew(-29deg));
    }

    span:nth-child(3):before {
      right: 63vw;

      @include transform(skew(-28deg));
    }
  }
}
article {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
figure {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
}
blockquote {
  color: #fff;
  font-size: .72vw;
  left: 0;
  line-height: 1.6;
  overflow: hidden;
  padding: 18.2vw 0 5vw;
  position: absolute;
  text-align:justify;
  top: 0;
  width: 100%;
  z-index: 10;

  p {
    margin: 0;
  }

  @media screen and (min-width: 700px) {
    font-size: .74vw;
  }

  @media screen and (min-width: 740px) and (max-width: 930px) {
    font-size: .72vw;
  }

  @media screen and (min-width: 1300px) {
    font-size: .76vw;
  }

  @media screen and (max-width: 650px) {
    font-size: 1.2rem;
    line-height: 1.6;
    padding-top: 12vw;
    position: relative;
    text-align: left;
  }
}

[class^="verse"] {
  height: 28.5vw;
  margin-bottom: 3.8vw;
  position: relative;

  &:nth-child(1),
  &:nth-child(3) {
    padding-left: 2rem;

    .shape {
      float: right;
    }
  }

  &:nth-child(2) {
    margin-bottom: 3.4vw;
    padding-right: 2rem;

    .shape {
      float: left;
    }
  }

  @media screen and (max-width: 650px) {
    height: auto;
    margin: 0 auto 2rem;
    max-width: 80vw;
    width: 100%;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding: 0;
    }
  }
}

.shape {
  height: 100%;

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.verse-one .shape {
  width: 81vw;
  shape-outside: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.verse-two .shape {
  width: 64vw;
  shape-outside: polygon(0% 0%, 100% 0%, 77% 100%, 0% 100%);
}

.verse-three .shape {
  width: 71.5vw;
  shape-outside: polygon(21% 0%, 100% 0%, 0% 100%, 0% 100%);
}

.caption-wrapper {
  height: 8.2vw;
  margin-top: 3.8vw;
  padding: 0 6rem 0 25vw;
  position: relative;

  .shape {
    float: left;
    margin-left: -15vw;
    width: 20vw;
    shape-outside: polygon(0 0%, 100% 0%, 20% 100%, 0% 100%);
  }

  &:before {
    background-color: $primary-color;
    content: "";
    height: 100%;
    margin-right: -25vw;
    right: 100%;
    position: absolute;
    top: 0;
    width: 50vw;

    @include transform(skew(-30deg));
  }

  @media screen and (max-width: 650px) {
    margin: 2rem 0 3rem;
    padding: 0;

    &:before,
    .shape {
      display: none;
    }
  }
}

figcaption {
  color: #fff;
  font-family: "Nitro A", "Nitro B", sans-serif;
  font-size: 3.2vw;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.9;
  position: relative;
  z-index: 100;

  @media screen and (max-width: 840px) {
    font-size: 2.8vw;
    line-height: 1;
  }

  @media screen and (max-width: 650px) {
    font-size: 2rem;
    line-height: 1;
    margin: 0 auto;
    max-width: 80vw;
    width: 100%;
  }
}

// Firefox hacks
// @-moz-document url-prefix() { 
//   blockquote {
//      font-size: .62vw;
//   }
// }

// IE Edge hacks
// @supports (-ms-ime-align: auto) {
//   blockquote {
//      font-size: .62vw;
//   }
// }