// The Pharcyde - Drop -----------------------------------------------------------------

@import "partials/common";

$primary-color: #3188EA;
$secondary-color: #ffffff;

body {
  background-color: $primary-color;
  color: $secondary-color;
  position: relative;
  width: 100%;
}
a {
  color: $secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: darken($primary-color, 20%);
  }
}
#header {
  position: absolute;
  z-index: 20;
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      fill: darken($primary-color, 20%);
    }
  }
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: darken($primary-color, 20%);
    }
  }
}
.overlay-nav {
  background-color: rgba($primary-color, 0.98)
}
#footer {
  background-color: $secondary-color;
  color: $primary-color;
  a {
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 20%);
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $primary-color;
      }
      &:hover:after {
        border-right-color: darken($primary-color, 20%);
      }
    }
    > a.next {
      &:after {
        border-left-color: $primary-color;
      }
      &:hover:after {
        border-left-color: darken($primary-color, 20%);
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $primary-color;
}
.iTunesPreviewPlayer:after {
  color: $primary-color;
}
.iTunesPreviewPlayer:hover:after {
  color: darken($primary-color, 20%);
}
#main {
  font: 500 115%/1.5 "ff-meta-serif-web-pro", Georgia, Times New Roman, serif;
  padding: 0;
  @extend %clearfix;
}
article {
  margin: 0 auto;
  width: 100%;
  text-align: left;
  @extend %clearfix;
  header {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5em 2em 5em;
    position: relative;
    width: 100%;
    @include box-sizing(border-box);
    h1 {
      font-family: "alternate-gothic-no-1-d";
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 0 10px 0 darken($primary-color, 10%);
      width: 100%;
    }
    &:before {
      background-color: lighten($primary-color, 5%);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  figure {
    margin: -200px auto 0;
    padding-top: 300px;
    position: relative;
    overflow-x: hidden;
    &:before {
      background-color: darken($primary-color, 10%);
      border-style: solid;
      border-width: 300px 450px 0 450px;
      border-color: lighten($primary-color, 5%) transparent transparent transparent;
      content: "";
      display: block;
      height: 0;
      left: 50%;
      margin-left: -450px;
      position: absolute;
      top: 0;
      width: 0;
      z-index: -1;
    }
    blockquote {
      background-color: darken($primary-color, 10%);
      max-width: 900px;
      margin: 0 auto;
      padding: 4em 2em 6em;
      position: relative;
      z-index: 2;
      @extend %clearfix;
      @include box-sizing(border-box);
      > p {
        margin: 0 auto 3em;
        width: 50%;
        &:first-letter {
          font-family: "alternate-gothic-no-1-d";
          float: left;
          font-size: 7em;
          line-height: 0.6;
          margin: 0.18em 0.1em 0 0;
          text-transform: upercase;
        }
        @media screen and (max-width: 670px) {
          width: 70%;
        }
        @media screen and (max-width: 500px) {
          width: 90%;
        }
      }
      &:after {
        background-color: darken($primary-color, 20%);
        border-style: solid;
        border-width: 300px 600px 0 600px;
        border-color: darken($primary-color, 10%) transparent transparent transparent;
        content: "";
        display: block;
        height: 0;
        left: 50%;
        margin-left: -600px;
        position: absolute;
        bottom: -100px;
        width: 0;
      }
    }
    > div {
      background-color: darken($primary-color, 20%);
      margin-top: -200px;
      position: relative;
      width: 100%;
      @include box-sizing(border-box);
    }
    figcaption {
      font-family: "alternate-gothic-no-1-d";
      font-size: 2em;
      font-weight: 400;
      line-height: 0.8;
      margin: 0 auto;
      max-width: 900px;
      padding: 400px 2em 200px;
      text-align: center;
      text-shadow: 0 10px 0 darken($primary-color, 31%);
      width: 100%;
      text-transform: uppercase;
      @include box-sizing(border-box);
      // &:before {
      //   border-style: solid;
      //   border-width: 300px 600px 0 600px;
      //   border-color: darken($primary-color, 10%) transparent transparent transparent;
      //   content: "";
      //   display: block;
      //   height: 0;
      //   left: 50%;
      //   margin-left: -600px;
      //   position: absolute;
      //   top: 0;
      //   width: 0;
      // }
      span, cite {
        display: block;
      }
      cite > a:last-child {
        line-height: 1;
      }
      cite > span {
        &:first-child {
          line-height: 0.87;
        }
        + a {
          line-height: 0.7;
        }
      }
      a:hover {
        color: darken($primary-color, 30%);
      }
    }
  }
}