// Raekwon ft Ghostface Killah &amp; Nas - Verbal Intercourse -----------------------------------------------------------------

@import "partials/common";

$primary-color: #141414;
$secondary-color: #0018ff;

body {
  background-color: #fff;
  color: $primary-color;
  position: relative;
  width: 100%;
}
a {
  color: $secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    text-decoration: underline;
  }
  &.toggle-nav:hover {
    color: $primary-color;
    text-decoration: none;
  }
}
#header {
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      fill: $primary-color;
    }
  }
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $primary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  a {
    color: lighten($primary-color, 40%);
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-right-color: #fff;
      }
    }
    > a.next {
      &:after {
        border-left-color: lighten($primary-color, 40%);
      }
      &:hover:after {
        border-left-color: #fff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: lighten($primary-color, 40%);
}
.iTunesPreviewPlayer:after {
  color: lighten($primary-color, 40%);
}
#main {
  font: 400 112.5%/1.5 "quatro-slab", 'Georgia', 'Palatino Linotype', Times New Roman, Times, serif;
}
article {
  // border-bottom: 1px solid $primary-color;
  color: $primary-color;
  text-align: left;
  margin: 3em auto;
  max-width: 1200px;
  width: 100%;
  z-index: 2;
  @include box-sizing(border-box);
  header {
    border-top: 1px solid $primary-color;
    padding-bottom: 5em;
    position: relative;
    width: 100%;
    > h1 {
      font-size: 8em;
      font-weight: 900;
      line-height: 1.2;
      text-align: center;
    }
    @media screen and (max-width: 870px) {
      padding-bottom: 6.5em;
    }
    @media screen and (max-width: 600px) {
      span {
        display: block;
      }
    }
    @media screen and (max-width: 580px) {
      padding-bottom: 7.5em;
    }
  }
  figure {
    position: relative;
    @extend %clearfix;
    p {
      float: left;
      margin-right: 2%;
      width: 32%;
      > span {
        display: block;
        font-size: 2em;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 0.8em;
        @media screen and (max-width: 870px) {
          font-size: 1.6em;
        }
      }
      &.last {
        margin-right: 0;
      }
      > img {
        display: block;
        margin-bottom: 1.2em;
        width: 100%;
      }
      @media screen and (max-width: 600px)  {
        display: block;
        float: none;
        margin: 0 auto 3em;
        width: 70%;
        &:nth-child(3) {
          margin-right: auto;
        }
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
    > figcaption {
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      clear: both;
      left: 0;
      margin-top: -5em;
      padding: 1em 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      @media screen and (max-width: 870px) {
        margin-top: -6.5em;
      }
      @media screen and (max-width: 580px) {
        margin-top: -7.5em;
      }
    }
  }
}