// Hip-hop quoted - Base styles -----------------------------------------------------------------

@import "partials/common";
@import "partials/reset";
@import "partials/itunes_preview_player";

$primary-color: #ff004f;
$white: #fff;
$black: #000;

html {
  height:100%;
  width:100%;
}
body {
  font-family: 'Georgia', serif;
  min-height: 100%;
  position: relative;
  width:100%;

  &.nav-on {
    overflow: hidden;
  }
 
  @include box-sizing(border-box);
}
a {
  text-decoration: none;
  @include transition(color 0.2s linear);
}
h1,h2,h3,h4 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
cite {
  font-style: normal;
}

// Button styles
.button {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
}
#main {
  display: block;
  margin: 0 auto;
  padding:0 1.5em 2em;
  position: relative;
  width: 100%;
  z-index: 2;
  @include box-sizing(border-box);
}
article {
  @include box-sizing(border-box);
}
#header {
  margin-bottom: 2em; 
  padding:1em 1.5em;
  .toggle-nav {
    display: inline-block;
    height: 21px;
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    width: 25px;
    rect {
      fill: $black;
      @include transition(fill 0.1s ease-in-out);
    }
  }
  #logo {
    display: inline-block;
    height: 80px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width:218px;
    > svg {
      display: inline-block;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      path {
        @include transition(all 0.2s ease-in-out);
      }
    }
  }
  .button {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    @media screen and (max-width: 500px) {
      font-size: 0.8em;
      top: 2.3em;
    }
  }
}

// Responsive nav 
.nav-on #header {
  z-index: 10000;
}
.overlay-nav {
  background-color: rgba($black, 0.9);
  bottom: 0;
  display: none;
  font-size: 1em;
  font-family: georgia;
  overflow-y: scroll;
  left: 0;
  opacity: 0;
  padding: 5% 8em;
  position: fixed;
  right: 0;
  text-transform: capitalize;
  top: 0;
  z-index: -1;
  @include box-sizing(border-box);
  @include transition(opacity 0.2s ease);
  &.on {
    display: block;
    opacity: 1;
    z-index: 10000;
  }
  .close-nav {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
  }
  h2 {
    color: #fff;
    font-size: 6em;
    font-weight: 400;
    margin-bottom: 0.4em;
  }
  a {
    color: #fff;
    &:hover {
      color: #000;
    }
  }
}
#navigation {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include columns(2, 10);
    li {
      margin-bottom: 0.5em;
    }
  }
} 
#footer {
  color: #fff;
  overflow: hidden;
  padding: 0.5em 1em;
  text-align: center;
  width: 100%;
  z-index: 100;
  @include transition(bottom 0.15s ease-in-out);
  @include box-sizing(border-box);
  > ul {
    margin: 0;
    padding: 3em 0;
    @extend %clearfix;
    li {
      list-style: none;
    }
  }
  &.sticky {
    background-color: rgba(#000, 1);
    box-shadow: -10px 0 5px rgba(#3e3e3e, 0.3);
    bottom: 0;
    font: 500 87.5%/1.5 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    left: 0;
    position:fixed;
    text-align: left;
    > ul {
      padding: 0;
      > li {
        display:inline;
        float: left;
        margin: 0 1.5em 0 0;
        padding-top: 0.25em;
        vertical-align: middle;
        &.page-nav {
          margin-right: 0;
          padding-top: 0;
          position: absolute;
          margin-right: 0;
          right: 0;
          top: 0;
        }
        &.audio {
          padding-top: 0;
        }
        &.buy {
          span:after {
            content: " on iTunes";
            @media screen and (max-width: 500px) {
              content: "";
            }
          }
        }
      }
    }
    &.footer-down {
      bottom: -60px;
    }
    &.footer-up {
      bottom: 0;
    }
  }
  a:hover {
    color: #ffffff;
  }
  #audio-clip {
    width: 90px;
  }
}
.page-nav {
  margin-right: 0;
  > a {
    border-left: 1px solid rgba(#fff, 0.2);
    display: inline-block;
    height: 46px;
    line-height: 53px;
    margin-left: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 40px;
    &:after {
      border-style: solid;
      content: "";
      display: inline-block;
      height: 0;
      width: 0;
    }
    &.prev {
      &:after {
        border-width: 9px 15px 9px 0;
        border-color: transparent #000000 transparent transparent;
        @include transition(border-color 0.1s ease);
      }
      &:hover:after {
        border-right-color: #ffffff;
      }
    }
    &.next {
      &:after {
        border-width: 9px 0 9px 15px;
        border-color: transparent transparent transparent #000000;
        @include transition(border-color 0.1s ease);
      }
      &:hover:after {
        border-left-color: #ffffff;
      }
    }
    > span {
      display: inline-block;
      text-indent: -99999px;
    }
  }
}

// Content Pages ------------------------------------------------------------------------------------

.content-page {
  background-color: #202020;
  color: #fff;
  font: 500 150%/1.5 "ff-meta-serif-web-pro", Georgia, sans-serif;
  position: relative;
  a {
    color: #666666;
    @include transition(all 0.3s ease);
    &:hover {
      color: #fff;
    }
  }
  #main {
    padding-bottom: 1em;
    h1 {
      font-weight: 700;
      font-size: 3em;
      margin-bottom: 0.5em;
      text-align: center;
    }
  }
  p {
    margin-bottom: 1.5em;
  }
  #header {
    margin-bottom: 0;
    text-align: center;
    #logo {
      height: auto;
      margin-top: 2em;
      padding-bottom: 25%;
      width: 50%;
      > svg path {
        fill: #fff;
      }
      &:hover svg path {
        fill: #666666;
      }
      @media screen and (max-width: 800px) {
        padding-bottom: 30%;
        width: 80%;
      }
      @media screen and (max-width: 600px) {
        padding-bottom: 35%;
        width: 100%;
      }
    }
  }
}

// Home page

.page-index {
  #main {
    padding: 0;
  }
}

#home {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 3%;
  text-align: center;
  width: 100%;
  @include box-sizing(border-box);
  @media screen and (max-width: 500px) {
    padding: 0 10%;
  }
  > h1 {
    color: #fff;
    font-size: 2em !important;
    font-weight: 400;
    line-height: 1.2;
    margin: -1em 0 1.5em !important;
    @media screen and (max-width: 900px) {
      margin-top: 0 !important;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.2em !important;
      margin-top: 1em !important;
    }
  }
  nav {
    margin: 0 auto;
    margin-bottom: 0;
    padding-top: 0.6em;
    position: relative;
  }
  ul {
    letter-spacing: -4px;
    word-spacing: -4px;
  }
  li {
    display: inline-block;
    list-style: none;
    letter-spacing: 0;
    margin: 0;
    position: relative;
    padding: 0;
    word-spacing: 0;
    vertical-align: top;
    width: 30%;
    @include transition(all 0.1s ease-in-out);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    &:hover {
      @include transform(scale(1.025));
      z-index: 10;
    }
    &:nth-child(3n), &:last-child {
      margin-right: 0;
    }
    h2 {
      display: none;
    }
    img {
      display: block;
      width: 100%;
      @include box-sizing(border-box);
    }
    @media screen and (max-width: 850px) {
      width: 50%;
    }
    @media screen and (max-width: 500px) {
      margin-right: 0;
      width: 100%;
    }
  }
}

// About page

#about {
  text-align: left;
  margin: 0 auto;
  max-width: 580px;
  width: 100%;
  > p {
    margin-bottom: 1.5em;
  }
}

// Store

#prints {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  width: 100%;
  ul {
    letter-spacing: -4px;
    word-spacing: -4px;
    > li {
      display: inline-block;
      letter-spacing: 0;
      margin: 0 0 5% 5%;
      vertical-align: top;
      word-spacing: 0;
      width: 45%;
      &:nth-child(2n+1) {
        margin-left: 0;
      }
      > a {
        display: block;
        margin-bottom: 1em;
        > img {
          border: 10px solid #fff;
          display: block;
          width: 100%;
          @include box-sizing(border-box);
        }
        &.button {
          background-color: #fff; 
          color: #000;
          &:hover {
            background-color: #666666;
            color: #fff;
          }
        }
      }
      > h2 {
        margin-bottom: 0.5em;
        font-weight: 700;
      }
      > p {
        font-size: 0.8em;
        margin-bottom: 1em;
      }
      @media screen and (max-width: 600px) {
        display: block;
        margin: 0 0 1.5em;
        width: 100%;
      }
    }
  }
}

// Error pages 

.page-x404, .page-x500 {
  text-align: center;
  #header {
    #logo {
      padding-bottom: 15%;
      width: 40%;
    }
  }
  h1 {
    font-size: 6em;
  }
}

// Page animations --------------------------------------------------------------------

main {
  -webkit-animation: pageAnimate .5s ease-in-out;
  animation: pageAnimate .5s ease-in-out;
}

@-webkit-keyframes pageAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pageAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// JS elements

.fit {
  display: inline-block;
  white-space: nowrap;
}