// Hip-hop quoted - Base styles -----------------------------------------------------------------

@import "partials/common";
@import "partials/reset";
@import "partials/itunes_preview_player";

html {
  height:100%;
  width:100%;
}
body {
  min-height: 100%;
  position: relative;
  width:100%;
  @include box-sizing(border-box);
  > div {
    display: none !important;
  }
  &.nav-on {
    overflow: hidden;
  }
}
#main {
  display: block;
  margin:0 auto;
  padding:0 1.5em 6em;
  position: relative;
  width: 100%;
  z-index: 2;
  @include box-sizing(border-box);
}
#header {
  margin-bottom: 2em; 
  padding:1em 1.5em;
  .toggle-nav {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    right: 1.5em;
    text-transform: uppercase;
    top: 0.8em;
    z-index: 1;
  }
  #logo {
    display: inline-block;
    height: 80px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width:218px;
    > svg {
      display: inline-block;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      path {
        @include transition(fill 0.3s ease);
      }
    }
  }
}
a {
  color: #232323;
  text-decoration: none;
  @include transition(color 0.1s linear)
}
h1,h1,h3,h4 {
  font-weight: normal;
}
cite {
  font-style: normal;
}

// Responsive nav 
.nav-on #header {
  z-index: 10000;
}
.overlay-nav {
  background-color: rgba(#000000, 0.9);
  bottom: 0;
  display: none;
  font-size: 1em;
  font-family: georgia;
  overflow-y: scroll;
  left: 0;
  opacity: 0;
  padding: 5% 8em;
  position: fixed;
  right: 0;
  text-transform: capitalize;
  top: 0;
  z-index: -1;
  @include box-sizing(border-box);
  @include transition(opacity 0.2s ease);
  &.on {
    display: block;
    opacity: 1;
    z-index: 10000;
  }
  .close-nav {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
  }
  h2 {
    color: #fff;
    font-size: 6em;
    font-weight: 400;
    margin-bottom: 0.4em;
  }
  a {
    color: #fff;
    &:hover {
      color: #000;
    }
  }
}
#navigation {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include columns(2, 10);
    li {
      margin-bottom: 0.5em;
    }
  }
} 
#footer {
  background-color: rgba(#000, 1);
  bottom: 0;
  color: #fff;
  font: 400 15px/1.5 "Georgia", Times New Roman, serif;
  left: 0;
  overflow: hidden;
  padding: 0.5em 1em;
  position:fixed;
  width: 100%;
  z-index: 100;
  @include transition(bottom 0.15s ease-in-out);
  @include box-sizing(border-box);
  &.footer-down {
    bottom: -47px;
  }
  &.footer-up {
    bottom: 0;
  }
  > ul {
    margin: 0;
    @extend %clearfix;
    > li {
      display:inline;
      float: left;
      margin: -0.1em 0 0 1.5em;
      padding-top: 0.25em;
      vertical-align: middle;
      &:nth-child(2) {
        margin-left: 0;
      }
      &.page-nav {
        float: right;
        margin-left: 0;
        > a {
          display: inline-block;
          height: 16px;
          margin-left: 1em;
          padding-top: 0.3em;
          position: relative;
          width: 16px;
          &:first-child {
            &:after {
              border-style: solid;
              border-width: 8px 14px 8px 0;
              border-color: transparent #ffffff transparent transparent;
              content: "";
              display: inline-block;
              height: 0;
              width: 0;
            }
          }
          &:last-child {
            &:after {
              border-style: solid;
              border-width: 8px 0 8px 14px;
              border-color: transparent transparent transparent #ffffff;
              content: "";
              display: inline-block;
              height: 0;
              width: 0;
            }
          }
          > span {
            display: inline-block;
            text-indent: -99999px;
          }
        }
      }
      &.audio {
        padding-top: 0;
      }
    }
  }
  a:hover {
    color: #fff;
  }
  #audio-clip {
    width: 90px;
  }
}

// Homepage ------------------------------------------------------------------------------------

.page-index {
  background: url("../images/home-background.jpg") no-repeat fixed top center;
  background-size: cover;
  color: darken(#36D7B7, 20%);
  font: 400 200%/1.3 "skippy-sharp", 'Georgia', serif;
  position: relative;
  &:before {
    background-color: rgba(#000, 0.8);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  a {
    color: #fff;
    @include transition(all 0.3s ease);
    &:hover {
      color: #36D7B7;
    }
  }
  #main {
    padding-bottom: 1em;
  }
  #header {
    margin-bottom: 0;
    text-align: center;
    #logo {
      height: auto;
      margin-top: 2em;
      padding-bottom: 20%;
      width: 50%;
      > svg path {
        fill: #fff;
      }
    }
  }
  #footer {
    background-color: transparent;
    color: #fff;
    font: 400 100%/1 "skippy-sharp", 'Georgia', serif;
    position: static;
    text-align: center;
    ul {
      float: none;
      padding-bottom: 3em;
      position: static;
    }
    a:hover {
      color: #36D7B7;
    }
  }
  #home {
    text-align: center;
    h1 {
      color: #fff;
      font-size: 1.4em;
      font-weight: 400;
      margin-bottom: 0.5em;
    }
    nav {
      margin-bottom: 0;
    }
    li {
      list-style: none;
    }
  }
}

// Typekit loading elements --------------------------------------------------------------------

.wf-loading main,
.wf-loading #header {
  opacity: 0;
}
.wf-active main,
.wf-active #header  {
  opacity: 1;
  visibility: visible;
  @include transition(opacity 0.24s ease-in-out);
}