// Hip-hop quoted - Base styles -----------------------------------------------------------------

@import "partials/common";
@import "partials/reset";
@import "partials/itunes_preview_player";

html {
  height:100%;
  width:100%;
}
body {
  height:100%;
  position: relative;
  width:100%;
  @include box-sizing(border-box);
  > div {
    display: none !important;
  }
}
#main {
  display: block;
  margin:0 auto;
  padding:0 30px;
  position: relative;
  width: 100%;
  z-index: 10;
  @include box-sizing(border-box);
  @include transition(all 0.3s ease);
}
#header {
  margin-bottom: 2em; 
  padding:1em 1.5em;
  position: relative;
  left: 0;
  @include transition(left 0.3s ease);
  .toggle-menu {
    font-size: 28px;
    position: absolute;
    right: 1em;
    top: 1.2em;
  }
  #logo {
    display: inline-block;
    height: 80px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width:218px;
    > svg {
      display: inline-block;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
    }
  }
  label {
    @include transition(color 0.1s linear)
  }
}
a {
  color: #232323;
  text-decoration: none;
  @include transition(color 0.1s linear)
}
cite {
  font-style: normal;
}

// Responsive nav 

.main-nav-check {
  display: none;
}
#navigation {
  background-color: #232323;
  bottom: 0;
  height: 100%;
  font-size: 0.8em;
  margin-right: -300px;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: scroll;
  width: 300px;
  z-index: 1;
  @include transition(all 0.3s ease);
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    border-bottom: 1px solid #323232;
    > a {
      color: #fff;
      display: block;
      padding: 0.6em 1em;
      @include transition(background-color 0.25s slide);
      &:hover {
        background-color: #2f2f2f;
      }
    }
  }
}
#main-nav-check:checked {
  ~ #main,
  ~ #header,
  ~ #footer {
    left: -300px;
  }
  ~ #navigation {
    margin-right: 0;
  }
} 
#footer {
  overflow: hidden;
  padding:3em 1.5em 1.6em;
  position:relative;
  > ul {
    float: right;
    > li {
      display:inline;
      margin-left:20px;
    }
  }
  #audio-clip {
    float: left;
    margin-top: -5px;
    width: 200px;
  }
}

// Homepage ------------------------------------------------------------------------------------

.page-index {
  background-color: #36D7B7;
  color: darken(#36D7B7, 20%);
  font:112.5%/1.5 "ff-meta-serif-web-pro", 'Georgia', serif;
  a,.toggle-menu {
    color: #fff;
    @include transition(all 0.3s ease);
    &:hover {
      color: darken(#36D7B7, 20%);
    }
  }
  #header {
    text-align: center;
    #logo {
      height: auto;
      margin-top: 4em;
      padding-bottom: 20%;
      width: 50%;
      > svg path {
        fill: #fff;
      }
    }
  }
  #navigation {
    background-color: darken(#36D7B7, 5%);
    li {
      border-color: #36D7B7;
      a:hover {
        background-color: darken(#36D7B7, 10%);
      }
    }
  }
  #footer {
    text-align: center;
    ul {
      padding-bottom: 3em 0;
      position: static;
    }
  }
  #home {
    text-align: center;
    h1 {
      color: #fff;
      font-size: 1.8em;
      font-weight: 400;
      margin-bottom: 1em;
    }
    nav {
      margin-bottom: 3em;
    }
    li {
      list-style: none;
    }
  }
}

// Typekit loading elements --------------------------------------------------------------------

.wf-loading h1, 
.wf-loading h2, 
.wf-loading h3, 
.wf-loading p,
.wf-loading nav {
  opacity: 0;
}
.wf-active h1, 
.wf-active h2, 
.wf-active h3, 
.wf-active p {
  opacity: 1;
  visibility: visible;
  @include transition(opacity 0.24s ease-in-out);
}