// Smif-n-Wessun - Bucktown -----------------------------------------------------------------

@import "partials/common";

$primary-color: #000000;
$secondary-color: #ccaa7a;

body {
  background: #413527 url("../images/smif-n-wessun/bucktown-background.jpg") fixed;
  color: $primary-color;
  position: relative;
  width: 100%;
}
a {
  color: $secondary-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &.toggle-nav:hover {
    color: $primary-color;
    text-decoration: none;
  }
}
#header {
  .toggle-nav {
    rect {
      fill: $secondary-color;
    }
    &:hover rect {
      fill: $primary-color;
    }
  }
  #logo {
    path {
      fill: $secondary-color;
      pointer-events: all;
    }
    &:hover path {
      fill: $primary-color;
    }
  }
}
#footer.sticky {
  background-color: rgba($primary-color, 0.95);
  color: $secondary-color;
  a {
    color: $secondary-color;
    &:hover {
      color: #fff;
    }
  }
  .page-nav {
    > a.prev {
      &:after {
        border-right-color: $secondary-color;
      }
      &:hover:after {
        border-right-color: #fff;
      }
    }
    > a.next {
      &:after {
        border-left-color: $secondary-color;
      }
      &:hover:after {
        border-left-color: #fff;
      }
    }
  }
}
.iTunesPreviewPlayer {
  background-color: $secondary-color;
}
.iTunesPreviewPlayer:after {
  color: $secondary-color;
}
#main {
  font: 400 112.5%/1.5 'Georgia', 'Palatino Linotype', Times New Roman, Times, serif;
}
article {
  background: #413527 url("../images/smif-n-wessun/bucktown-note-v1.jpg") center top;
  box-shadow: 0 0 10px #000;
  color: $primary-color;
  text-align: left;
  margin: 3em auto;
  max-width: 960px;
  padding: 0.5em 2em 2em;
  width: 100%;
  z-index: 2;
  @include box-sizing(border-box);
  @media screen and (max-width: 500px) {
    padding: 1em;
  }
  header {
    position: relative;
    text-transform: uppercase;
    > h1 {
      font-family: "stud";
      font-size: 6em;
      font-weight: 900;
      line-height: 0.9;
      text-align: center;
      > span:last-child {
        border-top: 10px solid #000;
        border-bottom: 10px solid #000;
        margin-top: 0.2em;
        line-height: 1.2;
      }
      @media screen and (max-width: 500px) {
        font-size: 1em;
      }
    }
  }
  figure {
    position: relative;
    @extend %clearfix;
    p {
      float: left;
      margin: 1em 4% 1.5em 0;
      width: 48%;
      &:first-letter {
        font-family: "stud";
        font-size: 3em;
        float: left;
        line-height: 0.6;
        margin: 0 0.2em 0 0;
        padding-top: 0.2em;
      }
      &.two, &:last-child {
        margin-right: 0;
      }
      @media screen and (max-width: 600px) {
        float: none;
        margin-right: 0;
        width: 100%;
      }
    }
    hr {
      background-color: $primary-color;
      color: $primary-color;
      border: none;
      clear: both;
      height: 10px;
      width: 100%;
    }
    > figcaption {
      border-top: 10px solid $primary-color;
      border-bottom: 10px solid $primary-color;
      clear:both;
      font-family: "stud";
      font-size: 3em;
      line-height: 1.1;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      word-break: break-all;
      span,a {
        display: block;
      }
      a {
        color: darken($secondary-color, 50%);
        &:hover {
          color: #000;
        }
      }
      > cite {
        span:first-child {
          line-height: 0.9;
        }
      }
      @media screen and (max-width: 600px) {
        > a {
          font-size: 0.42em;
        }
      }
      @media screen and (max-width: 500px) {
        font-size: 0.8em;
      }
    }
  }
}