<% content_for :javascript do %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'rtk2bgd' }
      });
    });
  </script>
<% end %>

<h1>Yo!</h1>

<p>That page doesn't exist bro.</p>