<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "rtk2bgd", :include_big_text => false, :include_lettering => false, :script => false } %>
<% end %>

<h1>Yo!</h1>

<p>That page doesn't exist bro.</p>