<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "rtk2bgd", :include_big_text => false, :include_lettering => false, :script => false } %>
<% end %>

<h1>Shit!</h1>

<p>Looks like a bug in the system playa.</p>