<% content_for :javascript do %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'rtk2bgd' }
      });
    });
  </script>
<% end %>

<h1>Shit!</h1>

<p>Looks like a bug in the system playa.</p>