%footer
  #audio_clip
    = yield_content :audio
    %p If you want this clip removed please contact me. All clips have links to purchase the record
  %p.about
    Made by 
    = link_to("olliekav", "http://olliekav.com")
    -
    = link_to("About", "/about")
    -
    = link_to("Archive", "/archive")