<header id="header">
  
  <%= partial "logo_v2" %>
  
  <% if current_page.data.buy_link %>
    <a href="<%= current_page.data.buy_link %>" class="button" target="_blank">Buy print</a>
  <% end %>

</header>