<ul>
  <% quote_pages.each_with_index do |p, index| %>
    <li>
      <% link_to p.url do %>
        <%= image_tag("screenshots/#{p.data.screenshot}", alt: "") %>
        <h2><%= p.data.title %></h2>
      <% end %>
    </li>
  <% end %>
</ul>