<% pages = sitemap.resources.find_all{|p| p.source_file.match(/\.html/)}.sort_by {|p| p.url} %>
<ul>
  <% pages.each_with_index do |p, index| %>
    <% unless(p.url == "index.html" || p.url == "about.html") %>
      <li>
        <%= link_to p.data.title, p.url %>
      </li>
    <% end %>
  <% end %>
</ul>