<% pages = sitemap.resources.find_all{|p| p.source_file.match(/\.html/) && !p.path.match(/about/) && !p.path.match(/404/) && !p.path.match(/500/) && !p.path.match(/prints/) && !p.path.match(/index/)}.sort_by {|p| p.data.order.to_i}.reverse! %>
<ul>
  <% pages.each_with_index do |p, index| %>
    <li>
      <% link_to p.url do %>
        <%= image_tag("screenshots/#{p.data.screenshot}", alt: "") %>
        <h2><%= p.data.title %></h2>
      <% end %>
    </li>
  <% end %>
</ul>