<div class="overlay-nav">
  <h2>Contents</h2>
  <nav class="main-nav" id="navigation" role="navigation">
    <%= partial "list_pages" %>
  </nav>
  <%= link_to("Close", "#", :class => "close-nav") %>
</div>