<% pages = sitemap.resources.find_all{|p| p.source_file.match(/\.html/) } %>
<input class="main-nav-check" id="main-nav-check" type="checkbox"></input>
<nav class="main-nav" id="navigation">
  <%= partial "list_pages" %>
</nav>