---
title: A Tribe Called Quest - Oh My God
player_color: ffffff
track: a tribe called quest oh my god
artist: A Tribe Called Quest
song: Oh My God
album: Midnight Marauders
wiki_link: http://en.wikipedia.org/wiki/A_Tribe_Called_Quest
song_link: https://itunes.apple.com/album/oh-my-god/id265670545?i=265670679&uo=4
album_link: https://itunes.apple.com/album/midnight-marauders/id265670545?uo=4
cat_id: 265670679
order: 4
screenshot: atcq_oh_my_god.jpg
genius_link: http://genius.com/A-tribe-called-quest-oh-my-god-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("https://use.typekit.net/npk5zfs.css") %>
  <%= stylesheet_link_tag("a-tribe-called-quest-oh-my-god.css") %>
<% end %>

<article>
  <header>
    <h1>Oh My God</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        Listen up everybody the bottom line,
        I’m a black intellect, but unrefined.
        With precision like a bullet, target bound,
        just livin like a hooker, the harlot sounds.
        now when I say the harlot,
        you know I mean the hot
        V-A-V-A-Vader, the brothers in the spot,
        Jalick, Jalick ya wind up ya hit.
        Captain of the poets, I’m the #7 pick,
        lick, lick, lick boy on your backside,
        lick, lick, lick boy on your backside,
        listen to the fader, Shaheed lets it glide.
        Tip the earthly body, heavens on my side,
        Even in Santo Domingo, man I gotta Gringo,
        Yo, we got mics, when do we go?
        Know a little nigga who can rhyme when you ask me,
        Short, dark, plus his voice is raspy.
      </p>
      <p>
        One for the treble, 2 for the bass,
        you know the style Tip, it's time to flip this.
        I like my beats hard like two day old shit,
        steady eating booty MCs like cheese grits.
        My man Al B Sure, he's in effect mode,
        Used to have a crush on Dawn from En Vogue.
        It's not like honey dip would wanna get with me,
        But just in case I own more condoms than T.L.C.
        Now the formula is this: me, Tip, and Ali,
        For those who can't count it goes 1-2-3.
        The anti batty boy, big up is who I be,
        Brothers find this hard to do but never me.
        Some brothers try to diss but Malik, you see 'em bitching,
        Me no care about them dibby MC, my shit is hitting.
        Trini gladiator, anti-hesitater,
        Shaheed push the fader from here to Grenada.
        Mr Energetic, who me sound pathetic?
        When's the last time you heard a funky diabetic?
      </p>
      <p>
        Complementary are we, the three for poetry,
        I got a humdinger coming hook line and sinker.
        The Timbo hoofs with the prints on the ground,
        Timbos on the toes, I like the way it's going down.
        Down like a lady of the evening,
        When it goes in Toots just believe it's in,
        Cause Queens is the county, Jamaica is the place,
        Take off your cleats cause you can't run the race.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>