---
title: A Tribe Called Quest – Oh My God
player_color: 000000
track: tribe called quest oh my god
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("a-tribe-called-quest-oh-my-god.css") %>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'npk5zfs' }
      });
    });
  </script>
<% end %>

<article>
  <header>
    <h1>Oh My God</h1>
  </header>
  <blockquote>
    <p>
      Listen up everybody the bottom line<br/>
      I’m a black intellect, but unrefined<br/>
      With precision like a bullet, target bound<br/>
      just livin like a hooker, the harlot sounds<br/>
      now when I say the harlot,<br/>
      you know I mean the hot<br/>
      V-A-V-A-Vader, the brothers in the spot<br/>
      Jalick, Jalick ya wind up ya hit<br/>
      Captain of the poets, I’m the #7 pick<br/>
      lick, lick, lick boy on your backside<br/>
      lick, lick, lick boy on your backside<br/>
      listen to the fader, Shaheed lets it glide<br/>
      Tip the earthly body, heavens on my side<br/>
      Even in Santo Domingo, man I gotta Gringo<br/>
      Yo, we got mics, when do we go?<br/>
      Know a little nigga who can rhyme when you ask me<br/>
      Short, dark, plus his voice is raspy<br/>
      One for the treble, two for the bass<br/>
      You know my style Tip, now watch me rip this<br/>
      I like my beats harder than two day old shit<br/>
      Steady eatin' booty MCs like cheese grits<br/>
      My man Al B. sure, he's in effect mode<br/>
      Used to have a crush on Dawn from En Vogue<br/>
      It's not like honey dip would wanna get with me<br/>
      But just in case I own more condoms than TLC<br/>
      Now the formula is this, me, Tip and Ali<br/>
      For those who can't count it goes one, two, three<br/>
      The answer, big up is who I who<br/>
      Brothas find this hard to do but never me<br/>
      Some brothas try to dis Malik, you see'm catchin' me<br/>
      And I care 'bout them booty MCs, my shit be hittin'<br/>
      Trainin' gladiator, anti-hesitater<br/>
      Shaheed push the fader from here to Granada<br/>
      Mister Energetic, who me, sound pathetic?<br/>
      When's the last time you heard a funky diabetic?
    </p>
    <p>
      <cite>
        Quote by 
        <%= link_to("ATCQ", "http://en.wikipedia.org/wiki/A_Tribe_Called_Quest") %>
        from
        <%= link_to("Oh my god", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=265670679&id=265670545&s=143441&uo=6") %>
        on the album 
        <%= link_to("Midnight Maruaders", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=265670650&id=265670545&s=143441&uo=6") %>
      </cite>
    </p>
  </blockquote>
</article>

