<% content_for :javascript do %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'rtk2bgd' }
      });
    });
  </script>
<% end %>

<section id="about">
  
  <h1>About</h1>

  <p>This site started out as a labour of love in 2008 to combine two of my loves in life, Hip-Hop and Typography/Design and explore some of the web's capabilities to do some interesting layouts. It was originally built in Wordpress but over time became quite difficult to manage and scale to my needs.</p>

  <p>Fast forward to 2014 and I've slowly been rebuilding the site over the past year to take advantage of new web technologies, HTML5, CSS3, webfonts and advanced layout tools. SVG's are used for images and it is now full responsive to work across a multitude of devices and screen sizes.</p>

  <p>As this is my playground to try out new things, I'm only supporting the latest browsers and OS's, there is a limit to the amount of testing I can do so be prepared for things to sometimes not quite work as expected. It is an experiment after all! I'll try my best to make sure it works for most people.</p>

  <p>The site is built on <a href="http://middlemanapp.com/">Middleman App</a> using <a href="http://www.typography.com/">Hoefler &amp; Co</a> and <a href="http://typekit.com">Typekit</a> for the font serving. It wouldn't have been possible without <a href="https://github.com/zachleat/BigText">bigtext.js</a> and <a href="http://letteringjs.com/">lettering.js</a> to do some of the font resizing and more interesting typography effects as unfortunately CSS isn't quite upto it yet. I hope for one day I don't have to rely on JS for any of this. I'm also using <a href="https://github.com/michaelvillar/iTunesPreviewPlayer">iTunesPreviewPlayer.js</a> to render the music clips. Due to lack of support in Firefox/IE for iTunes ACC files the sound bytes for each track only work in Safari &amp; Chrome &amp;, I'm not prepared to have a flash fall back for this.</p>

  <p>Enjoy the site and hopefully it inspires you to create your own personal projects.</p>


</section>