---
title: Aesop Rock - Battery
player_color: ffffff
track: aesop rock battery
artist: Aesop Rock
song: Battery
album: Labour Days
wiki_link: http://en.wikipedia.org/wiki/Aesop_Rock
song_link: https://itunes.apple.com/album/battery/id313373386?i=313373618&uo=4
album_link: https://itunes.apple.com/album/labor-days/id313373386?uo=4
cat_id: 313373618
order: 18
screenshot: aesop_rock_labour_day.jpg
genius_link: http://genius.com/Aesop-rock-battery-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("aesop-rock-battery.css") %>
<% end %>

<% content_for :javascript do %>
  <script>
    $('h1, .chorus, figcaption, figcaption>a, figcaption>cite').bigtext().resize();
  </script>
<% end %>

<article>
  <header>
    <h1>
      <span>Yo change the</span>
      <span>fuckin</span>
      <span>channel</span>
    </h1>
  </header>
  <figure>
    <blockquote>
      <p>
        I burn a Coma candle,
        When the flame fades, consider my flatline a soldier's sample,
        We them cats talkin noise behind that New York trash heap,
        Where the stench of commuter briefcase replaces a bad sleep,
        And it's, worker zig-zagers versus piggy badge flashers,
        Training Generation Fallout,
        Waterfall bricklayer pincushion crawl out,
        There's smoke in my iris,
        But I painted a sunny day on the insides of my eyelids,
        So I'm ready now (What you ready for?),
        I'm ready for life in this city,
        And my wings have grown almost enough to lift me,
        I'm a dinosaur with Jones Beach in my hourglass,
        Passing the time with serial killer coloringbooks and bags of marbles,
        Don't tell me you ain't the droid that held the match to the charcoals,
        Don't tell me Lucifer and God don't carpool,
        (This is our school),
        I'm not trying to graduate to life at the curse on the lounge barstool,
        Head in a jar on the desk, feet dangling in a shark pool,
        (Man please) Man please,
        My name stands for my being,
        And my being stands for the woman who stood,
        And braved the storm could raise this evening,
        (Brother, sun, sister, moon, mother beautiful),
        Yeah middle sibling suitable but far from son of excellence,
        Back in a long time ago, I was to way the wishes wish,
        But missers miss, I slept through my appointment,
        Saw the liquid dreams of a thousand babies solidify,
        And picked the rose and wielded,
        The second I introduced myself as Nervous,
        Well it appears the scars of learning have spoken,
        Some are burning, some have frosen,
        Some deserve tall tales, some have wrote them,
        Some are just a brutal repercussion of devotion,
        Mine are all of the above cuz everything leads to erosion,
        Now where I live there's a homeless man,
        He sits upon a crate,
        He makes a rusty trumpet sound like the music that angels make,
        Now if you ever come and visit me, I suggest you watch the show,
        Tell him Aesop Rock sent ya just to hear his horn blow like this.
      </p>
      <p class="chorus">
        <span>And I ain't</span>
        <span>getting any</span>
        <span>younger</span>
      </p>
      <p>
        My knuckles wear their bruises well,
        I've yet to lose that hunger,
        But only time can tell,
        Prodigal Son with a prodigal wish to sew that prodigal stitch,
        And crucify bigot voodoo doll on two popsickle sticks,
        See your name is Ambiguity,
        My name is something hands can't hold,
        But hearts part ocean scapes just to watch the starlet unfold,
        It's like sketching a circle in the dirt with a pointed stick,
        Knowing the wind'll kill it some day, still it calls my burning wits for now,
        And if I plow the fields that don't guarantee plentiful harvest,
        But starving artists die, I set my alarm for five o'clock,
        Idols block survival crops the cycle stops for nothing,
        The Bible's carp revivalist winos flock by the hundreds,
        To the opening, scarlet carpets greeting their duel,
        Leading the stubborn mule to cruel rugburn,
        But y'all numb from gut fuel,
        I administer eclipse, there ain't no motor like a martyr-made motor,
        Cuz a martyr-made motor don't quit,
        I am an epiphany, I am webbed foot mammal,
        Channel surfing my way to the top,
        Tugboat in a bottle,
        With no holes poked in the nozzle,
        I fed em bedlam diluted in limelight,
        Till that rookie boogie graduated hostile,
        And the vehicle is grandeur and it veered over the median,
        The second my halo ran outta helium,
        Demoted to thorn crown, damn talk about numbskull,
        I was born bound to a stencil called symmetry,
        But my energy's a rental,
        So I take this now to save,
        My cute senorita beholding a flame to a lost wick,
        Thank you James Anthony for the band-aids on my ego,
        Y'all are family for life,
        I'll take that bullet to preserve you,
        I wanna be something spectacular,
        On the day the sun runs outta batteries,
        Attach my fashion to the casualties of anarchy,
        Save my nickels up to buy that homeless man a brand new horn,
        Then sit up on his crate as I witness the beauty born like this.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data, include_span: true } %>
  </figure>
</article>