---
title: Aesop Rock – Battery
---

- content_for :head do
  %title Aesop Rock – Battery

- content_for :stylesheet do
  = stylesheet_link_tag "/stylesheets/aesop-rock–battery.css"

- content_for :typekit do
  %script{ :src => '//use.typekit.com/cbs4rag.js' }

- content_for :audio do
  <audio src="/audio/aesop-rock–battery.mp3" preload="auto" />

- content_for :posts_navigation do
  %nav
    %ul
      %li=link_to("Next", "/ludacris–mvp")
      %li=link_to("Prev", "/nas-i-gave-you-power")

%article
  %header
    %h1 
      Battery

%figure
  %blockquote
    %p
      Yo change the fuckin channel<br/>
      I burn a Coma candle<br/>
      When the flame fades, consider my flatline a soldier's sample<br/>
      We them cats talkin noise behind that New York trash heap<br/>
      Where the stench of commuter briefcase replaces a bad sleep<br/>
      And it's, worker zig-zagers versus piggy badge flashers<br/>
      Training Generation Fallout<br/>
      Waterfall bricklayer pincushion crawl out<br/>
      There's smoke in my iris<br/>
      But I painted a sunny day on the insides of my eyelids<br/>
      So I'm ready now (What you ready for?)<br/>
      I'm ready for life in this city<br/>
      And my wings have grown almost enough to lift me<br/>
      I'm a dinosaur with Jones Beach in my hourglass<br/>
      Passing the time with serial killer coloringbooks and bags of marbles<br/>
      Don't tell me you ain't the droid that held the match to the charcoals<br/>
      Don't tell me Lucifer and God don't carpool<br/>
      (This is our school)<br/>
      I'm not trying to graduate to life at the curse on the lounge barstool<br/>
      Head in a jar on the desk, feet dangling in a shark pool<br/>
      (Man please) Man please<br/>
      My name stands for my being<br/>
      And my being stands for the woman who stood<br/>
      And braved the storm could raise this evening<br/>
      (Brother, sun, sister, moon, mother beautiful)<br/>
      Yeah middle sibling suitable but far from son of excellence<br/>
      Back in a long time ago, I was to way the wishes wish<br/>
      But missers miss, I slept through my appointment<br/>
      Saw the liquid dreams of a thousand babies solidify<br/>
      And picked the rose and wielded<br/>
      The second I introduced myself as Nervous<br/>
      Well it appears the scars of learning have spoken<br/>
      Some are burning, some have frosen<br/>
      Some deserve tall tales, some have wrote them<br/>
      Some are just a brutal repercussion of devotion<br/>
      Mine are all of the above cuz everything leads to erosion<br/>
      Now where I live there's a homeless man<br/>
      He sits upon a crate<br/>
      He makes a rusty trumpet sound like the music that angels make<br/>
      Now if you ever come and visit me, I suggest you watch the show<br/>
      Tell him Aesop Rock sent ya just to hear his horn blow like this<br/>
    %p
      And I ain't getting any younger<br/>
      My knuckles wear their bruises well<br/>
      I've yet to lose that hunger<br/>
      But only time can tell<br/>
      Prodigal Son with a prodigal wish to sew that prodigal stitch<br/>
      And crucify bigot voodoo doll on two popsickle sticks<br/>
      See your name is Ambiguity<br/>
      My name is something hands can't hold<br/>
      But hearts part ocean scapes just to watch the starlet unfold<br/>
      It's like sketching a circle in the dirt with a pointed stick<br/>
      Knowing the wind'll kill it some day, still it calls my burning wits for now<br/>
      And if I plow the fields that don't guarantee plentiful harvest<br/>
      But starving artists die, I set my alarm for five o'clock<br/>
      Idols block survival crops the cycle stops for nothing<br/>
      The Bible's carp revivalist winos flock by the hundreds<br/>
      To the opening, scarlet carpets greeting their duel<br/>
      Leading the stubborn mule to cruel rugburn<br/>
      But y'all numb from gut fuel<br/>
      I administer eclipse, there ain't no motor like a martyr-made motor<br/>
      Cuz a martyr-made motor don't quit<br/>
      I am an epiphany, I am webbed foot mammal<br/>
      Channel surfing my way to the top<br/>
      Tugboat in a bottle<br/>
      With no holes poked in the nozzle<br/>
      I fed em bedlam diluted in limelight<br/>
      Till that rookie boogie graduated hostile<br/>
      And the vehicle is grandeur and it veered over the median<br/>
      The second my halo ran outta helium<br/>
      Demoted to thorn crown, damn talk about numbskull<br/>
      I was born bound to a stencil called symmetry<br/>
      But my energy's a rental<br/>
      So I take this now to save<br/>
      My cute senorita beholding a flame to a lost wick<br/>
      Thank you James Anthony for the band-aids on my ego<br/>
      Y'all are family for life<br/>
      I'll take that bullet to preserve you<br/>
      I wanna be something spectacular<br/>
      On the day the sun runs outta batteries<br/>
      Attach my fashion to the casualties of anarchy<br/>
      Save my nickels up to buy that homeless man a brand new horn<br/>
      Then sit up on his crate as I witness the beauty born like this<br/>
  %figcaption
    Quote by 
    = link_to("Ludacris", "http://en.wikipedia.org/wiki/Ludacris")
    %cite
      from
      = link_to("MVP", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408778&id=296408163&s=143444&uo=6")
      on the album 
      = link_to("Theatre of the Mind", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408762&id=296408163&s=143444&uo=6")