---
title: Alkaholiks - Contents unda pressure
player_color: ffffff
player_country: gb
track: alkaholiks contents unda pressure
artist: Alkaholiks
song: Contents unda pressure
album: Likwidation
wiki_link: https://en.wikipedia.org/wiki/Tha_Alkaholiks
song_link: https://geo.itunes.apple.com/gb/album/contents-unda-pressure/392245615?i=392245696&mt=1&app=music
album_link: https://geo.itunes.apple.com/gb/album/likwidation/392245615?mt=1&app=music
cat_id: 392245615
order: 44
screenshot: alkaholiks_contents_unda_pressure.jpg
genius_link: https://genius.com/Tha-alkaholiks-contents-unda-pressure-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("alkaholiks-contents-unda-pressure.css") %>
<% end %>

<% content_for :javascript do %>
  <script>
    setTimeout(function(){
      var circleHeader = new CircleType(document.getElementById('circle-wrap'))
    }, 100)
  </script>
<% end %>

<article>
  <header>
    <h1 id="circle-wrap">Contents Unda Pressure.</h1>
    <%= image_tag "alkaholiks/pint.jpg", alt: "" %>
  </header>
  <figure>
    <blockquote>
      <div>
        <span class="shape-one"></span>
        <p>I’m the beer  rational outta national, my cash flow is thick like mashed potato-oes in the gravy. Wsup wavy, thanks to my homey King Tee-la, the host wit the most, Im coast to coast like Aunt Peela. The Cowboys beat the Steelers so nigga where’s my $50, boom bap to your cap if your eyes is lookin shiftee. In this game of rappin your ass will never win, and let you play b-b rickers wit Quik, Suge and Mack 10. Who need to come join these words like conjunction, a friend before I bring the end to your bodily functions. When I speak I go deep, like when I’m stabbin it, you comin up empty like your Mother Hubbard’s cabinet. Cause you keep comin wit rhymes done so cheaply, example is the school of mankind niggas so peep me. You Range-Rovin, Tommy Hil and bustin Glocks, while I’m in the studio bustin lyrics in my socks. And the A-C is broken, no jokin, we got the rum without the coke in, the fuckin DAT machine is smokin. The pizza still ain’t here, we out of beer, and I think this motherfuckin engineer is a queer.</p>
      </div>
      <div>
        <span class="shape-two"></span>
        <p>And my dip is blowin up my hip whats up honey, eh J-Ro the land lord really wants his money. AWW shit. Ain’t no describin’, the way that Tash be feelin’ when he’s vibin’, be feelin like a deadly secret agent on assignment. Dont fuck wit microfilms, I want the microphones and tables, that some niggas stole while I was at a meeting wit my label. ‘Cause Tash will rock your cradle wit the fatal rhymes that pound, put you down cuz your lyrics suck more than Divine Brown. While I’m off that Royal Crown gettin party at the Atmospheric, wit the 40’s and the Hennesy to get yall in the spirit. So bounce to the lyrics of the noble Likwit warrior, get the stress out or try to maintain like X and Gloria. Poundin’ your surroundin’ stuffin at you from the Liks, styles harder to decode than grafitti on the bricks. 
        </p>
      </div>
      <div>
        <span class="shape-three"></span>
        <p>So read my tag and weep, while I drive you off the deep, wit the Alkie style that rock you and made Quantum wanna leap. Cuz Tash in the streets plays for keeps on micros, It’s the never ending quest for west coast rap titles. Yo I walk in the place, kicks un-laced, wit a bitter beer face, (and a 40?) naw a whole case. Wit flows like these, we not your average MC’s, we be the drunken masters of ceremonies. These rappers come out hard then turn fake like rayon, put I choose to stick to the streets like a crayon. In order to go pop, we’d have to stop comin’ fresher, contents under pressure! And there ain’t no tellin when we bout to explode, like tall cans in the freezer when they get too cold. We gotta title to hold, west coast ghetto gold, more than half a million know these beats got soul. We still under pressure, that’s my motivation, to let this drunk technique leak throughout the nation. I’m stressed out, for weeks wit no sleep, and no roll in the studio cuz I know this shits gotta blow.</p>
      </div> 
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data, include_span: true } %>
  </figure>
</article>