---
title: Bahamadia - Rugged Ruff
player_color: CB5B10
track: bahamadia rugged ruff
artist: Bahamadia
song: Rugged Ruff
album: Kollage
wiki_link: http://en.wikipedia.org/wiki/Bahamadia
song_link: https://itunes.apple.com/album/rugged-ruff/id724462403?i=724462461&uo=4
album_link: https://itunes.apple.com/album/kollage/id724462403?uo=4
cat_id: 724462461
order: 22
screenshot: bahamadia_rugged_ruff.jpg
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("bahamadia-rugged-ruff.css") %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/749704/css/fonts.css" />
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag("jquery.lettering.js") %>
  <script>
    $(function(){
      $("h1").lettering('words');
    });
  </script>
<% end %>

<article>
  <header>
    <h1><%= current_page.data.title %></h1>
  </header>
  <figure>
    <blockquote>
      <p class="verse one">
        I got it hemmed - mad methods to microphone mechanism from inner city, 
        Curriculm to cuttin edge for headz like circumcisions in yah mental, 
        Zone I'm slyer than Stallone basic instincts like Sharon Stone, 
        Pockets Puffyer than Combs caliber narrated rate supreme elevation,
        Fly-er than aviation plus freaky as domonatrix, dramatics are, 
        Manifested, thought spreadin like infection at pinnacle of perfection, 
        Brain runs on fuel injection, cyphers are intercepted like plays by, 
        Quarter backs bare witness to the fitness I be layin on the wax.....
      </p>
      <p class="verse two">
        Compositions be causin calamities rapidly, what mc would dare take a, 
        Stab at three vocabulary mastery presented retention extended through, 
        Iller style invented brain cells excel like v6 engines when I be, 
        Enterin' - grammatical vortexes twistin' like rolodexes context is, 
        Randomly selected ran like red lights by eager paramedics majestic, 
        Verbal fragments tagged dah graphics dat wreck more havoc on niggas, 
        Cabbages den semi automatic, plus automated but never faded datum kick, 
        In verbatim related to hip-hop....
      </p>
      <p class="verse three">
        In stereo phonic or mono my lingo tingle topics revolves around, 
        Science of optics and poses as nuances scripture glitters like, 
        Diamonds or sparkle like magnesium - premium equates da medium that, 
        Blows me up like helium histionics provided pumped up more Jam than, 
        Technotronix prime and mo' toxic than hydrocarbon in dioxin rupture, 
        Rhythms with quartz deletin jumble diction I rips it in repetition, 
        Like salots in Hinduism - It's like dat...
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>
