---
title: Big L - Ebonics
player_color: ffffff
track: big l ebonics
artist: Big L
song: Ebonics
album: Kollage
wiki_link: http://en.wikipedia.org/wiki/Big_L
song_link: https://itunes.apple.com/album/ebonics/id19679757?i=19679767&uo=4
album_link: https://itunes.apple.com/album/the-big-picture/id19679757?uo=4
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("big-l-ebonics.css") %>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'lnv1nzw' }
      });
    });
  </script>
<% end %>

<article>
  <header>
    <h1>Pay attention. <span>And listen real closely how I break this slang shit down</span></h1>
  </header>
  <figure>
    <blockquote>
      <p class="verse">
        Check it, my weed smoke is my lye<br>
        A ki of coke is a pie<br>
        When I'm lifted, I'm high<br>
        With new clothes on, I'm fly<br>
        Cars is whips and sneakers is kicks<br>
        Money is chips, movies is flicks<br>
        Also, cribs is homes, jacks is pay phones<br>
        Cocaine is nose candy, cigarettes is bones<br>
        A radio is a box, a razor blade is a ox<br>
        Fat diamonds is rocks and jakes is cops<br>
        And if you got robbed, you got stuck<br>
        If you got shot, you got bucked<br>
        And if you got double-crossed, you got fucked<br>
        Your bankroll is your poke, a choke hold is a yoke<br>
        A kite is a note, a con is a okey doke<br>
        And if you got punched that mean you got snuffed<br>
        To clean is to buff, a bull scare is a strong bluff<br>
        I know you like the way I'm freaking it<br>
        I talk with slang and I'mma never stop speaking it
        <span class="chorus">
          Speak with criminal slang<br>
          That’s just the way that I talk, yo<br>
          Vocabulary spills, I’m ill<br>
        </span>
      </p>
      <p class="verse">
        Yo yo, A burglary is a jook, a wolf's a crook<br>
        Mobb Deep already explained the meanin' of shook<br>
        If you caught a felony, you caught a F<br>
        If you got killed, you got left<br>
        If you got the dragon, you got bad breath<br>
        If you 730, that mean you crazy<br>
        Hit me on the hip means page me<br>
        Angel dust is sherm, if you got AIDS, you got the germ<br>
        If a chick gave you a disease, then you got burned<br>
        Max mean to relax, guns and pistols is gats<br>
        Condoms is hats, critters is cracks<br>
        The food you eat is your grub<br>
        A victim's a mark<br>
        A sweat box is a small club, a ticker's your heart<br>
        Your apartment is your pad<br>
        Your old man is your dad<br>
        The studio is the lab and heated is mad<br>
        I know you like the way I'm freaking it<br>
        I talk with slang and I'mma never stop speaking it
        <span class="chorus">
          Speak with criminal slang<br>
          That’s just the way that I talk, yo<br>
          Vocabulary spills, I’m ill<br>
        </span>
      </p>
      <p class="verse">
        The iron horse is the train and champagne is bubbly<br>
        A deuce is a honey that's ugly<br>
        If your girl is fine, she's a dime<br>
        A suit is a vine, jewelry is shine<br>
        If you in love, that mean you blind<br>
        Genuine is real, a face card is a hundred dollar bill<br>
        A very hard, long stare is a grill<br>
        If you sneaking to go see a girl, that mean you creeping<br>
        Smiling is cheesing, bleeding is leaking<br>
        Beggin' is bumming, if you nuttin you cummin<br>
        Taking orders is sonnin', an ounce of coke is a onion<br>
        A hotel's a telly, a cell phone's a celly<br>
        Jealous is jelly, your food box is your belly<br>
        To guerrilla mean to use physical force<br>
        You took an L, you took a loss<br>
        To show off mean floss, uh<br>
        I know you like the way I'm freaking it<br>
        I talk with slang and I'mma never stop speaking it
        <span class="chorus">
          Speak with criminal slang<br>
          That’s just the way that I talk, yo<br>
          Vocabulary spills, I’m ill<br>
        </span>
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>