---
title: Big L – Ebonics
---

- content_for :head do
  %title Big L – Ebonics

- content_for :stylesheet do
  = stylesheet_link_tag "/stylesheets/big-l–ebonics.css"

- content_for :typekit do
  %script{ :src => '//use.typekit.com/cbs4rag.js' }

- content_for :audio do
  <audio src="/audio/big-l–ebonics.mp3" preload="auto" />

- content_for :posts_navigation do
  %nav
    %ul
      %li=link_to("Next", "/ludacris–mvp")
      %li=link_to("Prev", "/nas-i-gave-you-power")

%article
  %header
    %h1 
      Ebonics

%figure
  %blockquote
    %p
      Check it, my weed smoke is my lye
      A ki of coke is a pie
      When I'm lifted, I'm high
      With new clothes on, I'm fly
      Cars is whips and sneakers is kicks
      Money is chips, movies is flicks
      Also, cribs is homes, jacks is pay phones
      Cocaine is nose candy, cigarettes is bones
      A radio is a box, a razor blade is a ox
      Fat diamonds is rocks and jakes is cops
      And if you got robbed, you got stuck
      If you got shot, you got bucked
      And if you got double-crossed, you got fucked
      Your bankroll is your poke, a choke hold is a yoke
      A kite is a note, a con is a okey doke
      And if you got punched that mean you got snuffed
      To clean is to buff, a bull scare is a strong bluff
      I know you like the way I'm freaking it
      I talk with slang and I'mma never stop speaking it
    %p
      Yo yo, A burglary is a jook, a wolf's a crook
      Mobb Deep already explained the meanin' of shook
      If you caught a felony, you caught a F
      If you got killed, you got left
      If you got the dragon, you got bad breath
      If you 730, that mean you crazy
      Hit me on the hip means page me
      Angel dust is sherm, if you got AIDS, you got the germ
      If a chick gave you a disease, then you got burned
      Max mean to relax, guns and pistols is gats
      Condoms is hats, critters is cracks
      The food you eat is your grub
      A victim's a mark
      A sweat box is a small club, a ticker's your heart
      Your apartment is your pad
      Your old man is your dad
      The studio is the lab and heated is mad
      I know you like the way I'm freaking it
      I talk with slang and I'mma never stop speaking it
    %p
      The iron horse is the train and champagne is bubbly
      A deuce is a honey that's ugly
      If your girl is fine, she's a dime
      A suit is a vine, jewelry is shine
      If you in love, that mean you blind
      Genuine is real, a face card is a hundred dollar bill
      A very hard, long stare is a grill
      If you sneaking to go see a girl, that mean you creeping
      Smiling is cheesing, bleeding is leaking
      Beggin' is bumming, if you nuttin you cummin
      Taking orders is sonnin', an ounce of coke is a onion
      A hotel's a telly, a cell phone's a celly
      Jealous is jelly, your food box is your belly
      To guerrilla mean to use physical force
      You took an L, you took a loss
      To show off mean floss, uh
      I know you like the way I'm freaking it
      I talk with slang and I'mma never stop speaking it

  %figcaption
      Quote by 
      = link_to("Ludacris", "http://en.wikipedia.org/wiki/Ludacris")
      %cite
        from
        = link_to("MVP", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408778&id=296408163&s=143444&uo=6")
        on the album 
        = link_to("Theatre of the Mind", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408762&id=296408163&s=143444&uo=6")