---
title: Blackalicious - Alphabet Aerobics
player_color: ffffff
track: blackalicious alphabet aerobics
artist: Blackalicious
song: Alphabet Aerobics
album: A2G EP
wiki_link: http://en.wikipedia.org/wiki/Blackalicious
song_link: https://itunes.apple.com/album/alphabet-aerobics-cut-chemist/id36631709?i=36631700&uo=4
album_link: https://itunes.apple.com/album/a2g-ep/id36631709?uo=4
cat_id: 36631709
order: 11
screenshot: blackalicious_alphabet_aerobics.jpg
genius_link: http://genius.com/Blackalicious-alphabet-aerobics-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("blackalicious-alphabet-aerobics.css") %>
<% end %>

<article>
  <header>
    <h1>Alphabet Aerobics</h1>
  </header>
  <figure>
    <blockquote>
      <ol>
        <li>
          Artificial amateurs, aren't at all amazing
          Analytically, I assault, animate things
        </li>
        <li>
          Broken barriers bounded by the bomb beat
          Buildings are broken, basically I'm bombarding
        </li>
        <li>
          Casually create catastrophes, casualties
          Canceling cats, got their canopies collapsing
        </li>
        <li>
          Detonate a dime of dank daily doin' dough
          Demonstrations, Don Dada on the down low
        </li>
        <li>
          Eating other editors with each and every energetic epileptic episode
          Elevated etiquette
        </li>
        <li>
          Furious, fat, fabulous, fantastic
          Flurries of funk fell, feeding the fanatics
        </li>
        <li>
          Gift got great, global goods gone glorious
          Gettin godly in this game with the goriest
        </li>
        <li>
          Hit em high, hella height, historical
          Hey holocaust hints, hear 'em holler at your homeboy
        </li>
        <li>
          Imitators idolize, I intimidate
          In an instant, I'll rise in an irate state
        </li>
        <li>
          Juiced on my jams like Jheri curls jocking joints
          Justly, it's just me, writing my journals
        </li>
        <li>
          Kindly I'm kindling all kinds of King Kong
          Karate kick uptight Brits in my kingdom
        </li>
        <li>
          Let me live a long life, lyrically lessons is
          Learned lame louses just lose to my livery
        </li>
        <li>
          My mind makes marvelous movies, masses
          Marvel and move, many mock what I've mastered
        </li>
        <li>
          Niggas nap knowing I'm nice, naturally
          Knack, never lack, make noise nationally
        </li>
        <li>
          Operation, opposition, off, not optional
          Out of sight, out of mind, wide beaming opticals
        </li>
        <li>
          Perfected poem, powerful punchlines
          Pummeling petty powder puffs in my prime
        </li>
        <li>
          Quite quaint quotes keep quiet it's Quannum
          Quarrelers ain't got a quarter of what we got, uh
        </li>
        <li>
          Really raw raps, risin up rapidly
          Riding the rushing radioactivity
        </li>
        <li>
          Super scientifical sound search sought
          Silencing super fire saps that are soft
        </li>
        <li>
          Tales ten times talented, too tough
          Take that, challengers, get a tune up
        </li>
        <li>
          Universal, unique, untouched
          Unadulterated, the raw uncut
        </li>
        <li>
          Verb vice lord victorious valid
          Violate vibes that are vain make em vanish
        </li>
        <li>
          Why in my world would a wise wordsmith just
          Weaving up words, weed it up, I'm a wordsmith
        </li>
        <li>
          Xerox my X-radiation holes extra large
          X-height letters and xylophone tones
        </li>
        <li>
          Yellow-back, yak mouth, young ones' yaws
          Yesterday's lawn yardsale, I yawn
        </li>
        <li>
          Zig-Zag zombies, zooming to the zenith
          Zero in, zen thoughts, overzealous rhyme ZEA-LOTS!....
        </li>
        <li>
          <span>can you say it faster?</span>
        </li>
      </ul>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>