---
title: Blak Twang - Dettwork Southeast
player_color: ffffff
player_country: gb
player_attribute: songTerm
track: dettwork southeast
artist: Blak Twang
song: Dettwork Southeast
wiki_link: https://en.wikipedia.org/wiki/Blak_Twang
song_link: https://itunes.apple.com/album/dettwork-southeast/id918090564?i=918090575
buy_link: http://www.redbubble.com/people/hiphopquoted/works/15547665-blak-twang-dettwork-southeast?p=art-print
cat_id: 918090575
order: 37
screenshot: blak_twang_dettwork_southeast.jpg
genius_link: http://genius.com/Blak-twang-dettwork-southeast-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("blak-twang-dettwork-southeast.css") %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { font_id: "joo1qle", script: false } %>
<% end %>

<article>
  <header>
    <h1>Dettwork <span>Southeast</span></h1>
  </header>
  <figure>
    <blockquote>
      <p>
        It’s like this and this and that, all across the map. I chit-chat with a UK-Blak twang when I rap. Layin down facts like British Rail tracks. Cockney rhymin slang, and black conundrums dem pun the dungeon. This is how I function in London, from Newcross to Picadilly circus, from tower blocks accross the circuit. No surplus no deficit, no more no less. If its southeast or northwest or shredded wheat or east, from Old kent road to Ladbroke grove. I lay low, handle most of my biz on my cellular dog and bone. We pass through, Elephant and Castle, take the backstreets to save the hastle. Deliverin a parcel, over the bridge and through the tunnel. Beyond the horizon, where the sky scrapers meet the sky linin. My eyes on the prize seen, not the pot of gold. At the end of the rainbow I want the bumbaclot doh so I can go up town, and spend dem queens heads in the west end. Check some beans wiv my bredrin dem. Lean from getting prenged all weekend. Wreckin mics and collectin cheques. Its that rudeee from the east end.
      </p>
      <p>
         I keep it rougher with my accent, no play actin, strictly UK black ting, asian and anglo-saxon. Now hear what happen when im rappin. Peace to all the people in Clapham and all the barbers cuttin pattens. My visions of the streets, vividly rigid like a poor mans hangups. Paintin pictures in rhymes like Van Gough, I stand tuff. Black like my afro, no dandruff, no head and shoulders, no bleach no rollers keep your hands off directly. Travelcards get me from here to anywherever my destination be. Yeah yeah you get me, sexy buffalo wings up in my focus. They used to push a mini but now they ridin in lotus, bible bashers and crack smokers. Purves, snatchers and posers, bald headed braids walkin round like Isaac Hayes, black moses. Old fogees with cold bogey, ya runny noses lookin hopeless. Take notice.
      </p>
      <p>
        Now if I ain’t in Brixton you might catch me up in Hackney. A riddim role, scopin all the girls in the jungle clothes. Moschino, Versace, and Polo, many police shirts, with Ralph Lauren labels, buyin dem bagels. Then I head up north to Seven Sisters, see Muslims doin business, Jahovas Witnesses handin out leaflets. Its an everyday routine, if you get my meanin, steamin, robbin and stealin, in West Ealin. Champagne bubblin from London to Dublin. Mudlin, I merchandise my service up in scotland. Commin tru commin tru like a british rail train. Its Blak Twang holdin up for the domain. You’no’w’mean.
      </p>
      <p class="chorus">
        OI! this strictly for the rudebwoys in London. <br><br>Worldwide in suburbs and inner city dungeons. <br><br>Boppers and sweets mackin up the high street. Never eat shredded wheat in Dettwork Southeast
      </p>
    </blockquote>
    <div class="fig-wrapper">
      <%= partial 'figcaption', locals: { data: current_page.data } %>
    </div>
  </figure>
</article>