---
title: Camp Lo - Luchini (This is It)
player_color: ffffff
player_country: gb
track: camp lo luchini 
artist: Camp Lo
song: Luchini (This is It)
wiki_link: http://en.wikipedia.org/wiki/Camp_Lo
song_link: https://itunes.apple.com/us/album/luchini-this-is-it/id298544145?i=298544174&uo=4
album_link: https://itunes.apple.com/us/album/uptown-saturday-night/id298544145?uo=4
cat_id: 298544145
order: 35
screenshot: camp_lo_luchini.jpg
genius_code: 12717
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/camp-lo-luchini-this-is-it.css" %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "obq1daq", :include_big_text => false, :include_lettering => true, :script => "$('h1').lettering('words').children('span').lettering();$('figcaption').lettering('words');" } %>
<% end %>

<article>
  <header>
    <h1>Camp Lo - Luchini</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        Introducing phantom of the dark, walk through my heaven
        With levitation from reefers, drenching divas in E7
        Showboating with Rugers, flash vines, Belafonte vigor
        Let's skate for what this worth as we confiscate your figures.
      </p>
      <p class="chorus">
        This is it, what.
        Luchini pouring from the sky...
      </p>
      <p>
        Casanova Brown levitating jiggy in dashikis
        A la hotta car, fifty-four, chasing diamond runners
        Headed ice bound, the big chilla diamond convention
        Harlem Buck Strut, freezing world heist, Hollywood
        Madame Butterfly, let me in your house of pleasure
        From the knuckle swat, shadowboxers catching black-eyed blues.
      </p>
      <p>
        I play the thief, what
        Sensations at the Mardi Gras be screaming Chee-ba
        Fulfilling pleasures in my castles, blow the smoke out
        The Garcia Vega substitutes when the Dutch is gone
        The Lo don't stop, give me shouts
        It's the seasoned sautéers, soufflérs for swerving on corners
        We magnets to moolah, living with Charlie's Angels on this
        No smiling we're sliding, that gets you caught up in the octa
        Or deaded for moving, it's just like that as we proceed.
      </p>
      <p class="chorus">
        Let's get rich, what.
        The jiggy vines and sugar dimes...
      </p>
      <p>
        Saturday night special better take it light, you Jah Jah
        You're a Capitan, quest to the coast of Key Largo
        Wire the chain gang, keep your ears out for Roy Ayers
        Sip the Fontainebleau, house of bamboo paradise.
      </p>
      <p>
        Fallen pharaohs courtesy of Black Caesar, the convincer
        Silky days, satin nights, taking flight, Donald Goines
        Sweet sensation Spanish flying with the lady Scarface
        Bottoms up sunshine, Love Potion No. 9.
      </p>
      <p>
        And we hailing from the Magic City
        Transcending Sued-a on your aura
        Found 'chini in London, relaxation in Bora Bora
        Got notion to bring it, sing it, never been my function
        Stoning, robbing, we heisting merchandise and gunning
        Love it, leave it, but bless the war chief for his bison
        Get it, got it, the Lo will forever be nice and.
      </p>
      <p class="chorus">
        Can't quit, what,
        Now pop the cork and steam the Vega and get lit
        What, what, what.
      </p>
      <p>
        Yeah, the Sonny Cheeba he be sipping Armaretta
        The Geechie Grace, yes he be sipping Armaretta
        We float the tri-state draped in the satin vines
        This Coolie Hijack packed from the sugar shack
        Then what we do after we sip the Armaretta
        We start the Harlem River Quiver, dig it sweet daddy
        Sharpen the crimson blade, High Sierra serenade
        Anatomy for seduction be this ebony junction.
      </p>
      <p>
        As we exit the place with grace
        Drizzy Armaretta, the bursting of clouds, it pours
        Everything seems better on flats, with love we move
        Only in the mist, it's Lo, it's life and we can't get enough of this.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>