---
title: "Common - I used to love H.E.R."
player_color: ffffff
track: common i used to lover her
artist: Common
song: I used to love H.E.R.
album: Resurrection
wiki_link: http://en.wikipedia.org/wiki/Common_(rapper)
song_link: https://itunes.apple.com/album/i-used-to-love-h.e.r./id267707382?i=267707438&uo=4
album_link: https://itunes.apple.com/album/resurrection/id267707382?uo=4
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("common-i-used-to-love-her.css") %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag("jquery.lettering.js") %>
  <script>
    $(function(){
      $("h1").lettering('words');
    });
  </script>
<% end %>

<article>
  <header>
    <h1>I used to love her</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        I met this girl, when I was ten years old.
        And what I loved most she had so much soul.
        She was old school, when I was just a shorty.
        Never knew throughout my life she would be there for me.
        On the regular, not a church girl she was secular.
        Not about the money, those studs was mic checking her.
        But I respected her, she hit me in the heart.
        A few New York niggas, had did her in the park.
        But she was there for me, and I was there for her.
        Pull out a chair for her, turn on the air for her.
        And just cool out, cool out and listen to her.
        Sitting on a bone, wishing that I could do her.
        Eventually if it was meant to be, then it would be.
        Cause we related, physically and mentally.
        And she was fun then, I'd be geeked when she'd come around.
        Slim was fresh yo, when she was underground.
        Original, pure, untampered, a down sister.
        Boy I tell ya, I miss her.
      </p>
      <p>
        Now periodically I would see.
        Old girl at the clubs, and at the house parties.
        She didn't have a body but she started getting thick quick.
        Did a couple of videos and became Afrocentric.
        Out goes the weave, in goes the braids beads medallions.
        She was on that tip about stopping the violence.
        About my people she was teaching me.
        By not preaching to me, but speaking to me in a method that was leisurely.
        So easily I approach.
        She dug my rap, that's how we got close.
        But then she broke to the West coast, and that was cool.
        Cause around the same time, I went away to school.
        And I'm a man of expanding, so why should I stand in her way.
        She probably get her money in L.A.
        And she did stud, she got big pub but what was foul.
        She said that the pro-black, was going out of style.
        She said, Afrocentricity, was of the past.
        So she got into R&amp;B hip-house bass and jazz.
        Now black music is black music and it's all good.
        I wasn't salty, she was with the boys in the hood.
        Cause that was good for her, she was becoming well rounded.
        I thought it was dope how she was on that freestyle shit.
        Just having fun, not worried about anyone.
        And you could tell, by how her titties hung.
      </p>
      <p>
        I might've failed to mention that this chick was creative.
        Once the man got to her, he altered her native.
        Told her if she got an image and a gimmick.
        That she could make money, and she did it like a dummy.
        Now I see her in commercials, she's universal.
        She used to only swing it with the inner-city circle.
        Now she be in the burbs looking rock and dressing hippie.
        And on some dumb shit, when she comes to the city.
        Talking about popping Glocks serving rocks and hitting switches.
        Now she's a gangsta rolling with gangsta bitches.
        Always smoking blunts and getting drunk.
        Telling me sad stories, now she only fucks with the funk.
        Stressing how hardcore and real she is.
        She was really the realest, before she got into showbiz.
        I did her, not just to say that I did it.
        But I'm committed, but so many niggas hit it.
        That she's just not the same letting all these groupies do her.
        I see niggas slamming her, and taking her to the sewer.
        But I'mma take her back hoping that the shit stop.
        Cause who I'm talking bout y'all is hip-hop.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>