---
title: D&amp;D All-Stars - 1..2.. Pass It (Remix)
player_color: ffffff
player_country: gb
track: d and d all stars 1 2 pass it
artist: D&amp;D All-Stars
song: 1..2.. Pass It (Remix)
wiki_link: http://en.wikipedia.org/wiki/1,_2_Pass_It
song_link: https://itunes.apple.com/us/album/1-2-pass-it-remix/id281537051?i=281537105&amp;uo=4
cat_id: 281537105
order: 34
screenshot: d_and_d_all_stars.jpg
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/d-and-d-all-stars-1-2-pass-it-remix.css" %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "soo1mcm", :include_big_text => false, :include_lettering => false, :script => false } %>
  <script>
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api?version=3";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('video-iframe', {
        events: {
          'onReady': onPlayerReady
        }
      });
    }
    function onPlayerReady(event) {
      player.mute();
      player.playVideo();
    }
  </script>
<% end %>

<div class="video"><iframe id="video-iframe" style="height:100%; width: 100%;" frameborder="0" allowfullscreen="1" width="640" height="360" src="https://www.youtube.com/embed/6XB24E9HTqU?autohide=1&amp;cc_load_policy=0&amp;controls=3&amp;enablejsapi=1&amp;fs=0&amp;autoplay=1&amp;modestbranding=1&amp;origin=http%3A%2F%2Fhiphopquoted.dev&amp;iv_load_policy=3&amp;loop=1&amp;showinfo=0&amp;rel=0&amp;transparent=opaque&amp;hd=1&amp;playlist=6XB24E9HTqU&amp;start=10&amp;end=263"></iframe></div>

<article>
  <header>
    <h1>1.. 2.. Pass It</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        <span>Why, oh why, oh why</span>
        Why does a DJ test and he end up die.
        I know, I know, I know, I can't explain,
        Pack up a shot just blow dem brain.
        Who are the man with the gun inna his hand,
        Step up on the scene like Captain Caveman.
        You want the music everybody scream louder,
        Lick bare shot and smell the gun powder.
      </p>
      <p>
        <span>Freestyle flow</span> to make the crowd just go,
        The old to the new, the new to the old.
        The rhythm be working up on me,
        The crowd be jumping up for me, the people are waiting up on me.
        To enter the stage in the rage, Mad Lion's out the cage,
        Now it's time for me to engage, uhh.
        And bear witness, the lyrical fitness,
        The jumps, the dives, the leaps, are you getting this?
        Next to step up, microphone check up,
        KRS-ONE, so come and get your wreck up.
      </p>
      <p>
        <span>Our mother</span> who art in Heaven number seven is the weapon,
        With the Goddess I'm stepping lyrically I'm never begging, you know.
        I'm the difference between indo and oregano,
        Imagine how fresh I am now, I made these lyrics up a year ago.
        So report back it was fat, fit, all that, quick, pump that, drop the S-hit,
        I'm lyrically physically fit.
        Catch me bugging on the mic, every day and every night,
        Every hour, every second, man it don't stop, get it, get it.
        Yes, admit it when I'm way up in it,
        You can't hide cause my radar's going bibip bibip bibip.
        I reside in the watchtower watching MCs land.
      </p>
      <p>
        <span>Yeah! Mother&shy;fuckers</span> know who's the best,
        If it ain't Fat Joe then it must be Lord Finesse.
        Think not, then show what you got,
        But don't grab this mic, the shit's too hot.
        I'm the born killer, nigga from the Bronx,
        Rappers talk shit but there's really no comp.
        Bring it on if you think you can hang,
        And if not then let me do my thing.
        Yeah, so Smif-n-Wessun if you're down with me,
        Represent one time on the M-I-C.
      </p>
      <p>
        <span>Mr. Ripper, get your gear</span> and prepare for war,
        Mr. Vickster, you ain't gotta tell me no more.
        Cause what I see, on the daily,
        Deals with reality, so come follow we on this journey.
        Through Brooklyn where the crooks dwell in the projects overlooking,
        In the form of the streets, you know them well.
        Bet your ass this grass is greener,
        Than a 20 sack of sensimila brought straight from Medina.
        You know the vibe when Smif-n-Wessun twist up the Thai,
        Peace to my people in the Ville, peace to my heads in the Stuy,
        We do or die, we test your stamina,
        So any challenger we pass the motherfucker off to the Damaja.
      </p>
      <p>
        <span>Super scient&shy;ifical</span> madness,
        My status is the baddest every time I bless the apparatus.
        You wish to take me out, so you study,
        Meanwhile my clothes, mics and foes are left bloody.
        Cruddy, filthy from the ground on up,
        When I plan my attack I doubt that you're ready.
        Rain on competition like razor sharp confetti,
        Kung Fu techniques from the perverted monastery.
        Sifu Ru manipulates the microphone,
        And rhymes like bullets penetrate your zone.
        See we bring more drama than Kevin Costner,
        No I'm not Jamaican but yes I'm a Rasta.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>