---
title: Eric B &amp; Rakim - Paid in Full
player_color: ffffff
track: rakim paid in full
artist: Eric B &amp; Rakim
song: Paid in Full
album: Paid in Full
wiki_link: http://en.wikipedia.org/wiki/Eric_B_%26_Rakim
song_link: https://itunes.apple.com/album/paid-in-full/id57547365?i=57547395&uo=4
album_link: https://itunes.apple.com/album/paid-in-full-expanded/id57547365?uo=4
cat_id: 57547395
order: 8
screenshot: rakim_paid_in_full.jpg
genius_code: 1658
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("eric-b-and-rakim-paid-in-full.css") %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag("jquery.lettering.js") %>
  <script>
    $(function(){
      $("h1").lettering('words');
    });
  </script>
<% end %>

<article>
  <header>
    <h1>Paid in Full</h1>
  </header>
  <figure>
    <blockquote>
      <p><span>Thinking</span> of a master plan<br> Cause ain’t nothing<br> but sweat inside my hand<br> So I dig into my pocket<br> all my money spent<br> So I dig deeper<br> but still coming<br> up with lint<br> So I start my mission<br> leave my residence<br> Thinking how could<br> I get some <span>dead</span> <span>presidents</span></p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>
<p class="copyright">Photo copyright <%= link_to("angrycitizen.org", "http://angrycitizen.org") %></p>