---
title: Evidence - You
player_color: ffffff
track: Evidence - You - Cats & Dogs
artist: Evidence
song: You
album: Cats & Dogs
wiki_link: https://en.wikipedia.org/wiki/Evidence_(musician)
song_link: https://geo.itunes.apple.com/us/album/you/462952478?i=462952514&mt=1&app=music
album_link: https://geo.itunes.apple.com/us/album/cats-dogs-deluxe-version/462952478?mt=1&app=music
cat_id: 462952478
order: 46
screenshot: evidence_you.jpg
genius_link: https://genius.com/Evidence-you-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("https://cloud.typography.com/613014/7355012/css/fonts.css") %>
  <%= stylesheet_link_tag("evidence-you.css") %>
<% end %>

<article>
  <header>
    <h1><span>Y</span><span>o</span><span>u</span></h1>
  </header>
  <figure>
    <blockquote>
      <p>I'm on another level, I mean another label, players don't die, we try our luck at other tables. And when I lose, I learn I'm still winning major, I jump forward then back and through the missing stages. A perfect day to make a perfect entrance, a perfect sentence, I can't perfect. But I just keep pushing pencils, no fake trace stencils, do it all by hand so they have respect. I know the feeling when you're dealing with accomplishments, wishing they would diss you, instead they give you compliments. That's what made you who you are, not what you became, part of being a star is getting burned in flames. Kind of ill, the mind's a trip, 20/20 when we broke but blind when rich. I just see it as a sign but kept rhyming instead, and keep lighting up these pads like Simon Says.</p>
      <p>One's a lonely number, two's the first loser, so how the fuck can you win and become a drug abuser? Slappin' these beats, I'm no snooze, six million ways to die, go ahead and choose one! We from the same block, but all we getting is the same guap, I think one of us needs to shine. Only room for one, one of us needs to go, Sink a boat and only one'll survive. Caution at the wheel, Westside when I drive slow, first sign of tidal waves when you see the tide low. Wanted for murder and theft, they said I'm liable, I shot the sheriff but didn't steal his rifle. I can't define what's real and what's imagination, since I signed that deal before my graduation. I went from running track and field to tracks with feel, to Grammys with Ye before Late Registration.</p>
      <p>Fast-forward: No kids, one car, no Rollie, one crib, trips to Chile with kush in the Philly. Every journey starts with one step, that's on me, one foot in front of the other like, "Come on, feet!". One life, one love, bat a G for one glove, for Mike rest in peace, shot a bullet from one snub. I keep it pushin' as one does, you only get one shot, one glance, one chance at one buzz. One never knows hopes and dreams, the farther we fly, the closer it seems. Back to the one squared, all I need in this life is one snare. One mic, direct flights and Nike One Airs. One of a kind, still one to my grind, one time for your motherfucking mind. When I flow, know that the rain soon comes. See, you might win some, but you just lost one.</p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>
