---
title: Fliptrix - One Time
player_color: ffffff
track: fliptrix one time
artist: Fliptrix
song: One Time
album: Patterns of Escapism
wiki_link: http://www.high-focus.com/home/artists/fliptrix/
song_link: https://geo.itunes.apple.com/gb/album/one-time/id1154460863?i=1154460982&mt=1&app=music
album_link: https://geo.itunes.apple.com/gb/album/patterns-of-escapism/id1154460863?mt=1&app=music
cat_id: 1154460863
order: 43
screenshot: fliptrix_one_time.jpg
genius_link: https://genius.com/Fliptrix-one-time-lyrics
---

<% content_for :stylesheet do %>
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/613014/7838572/css/fonts.css" />
  <%= stylesheet_link_tag("fliptrix-one-time.css") %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { font_id: "cfz8kog", script: "$('h1').lettering('words').children('span').lettering();" } %>
<% end %>

<article>
  <header>
    <h1>One Time</h1>
  </header>
  <figure>
    <blockquote>
      <p></p>
      <p>I stop your heart like it's flat lining, bring the ruckus like I'm something out of Staten Island. You're sat stagnating, no one even bats an eyelid, I made your sulky boat flip like I capsized it. Fuck looking like a mug, you're better haps smiling, push solar plexus outwards so respects rising.</p>
      <p>See my flow stays chilling like I dashed ice in splash of acid, and I mixed it with a little bit of shit to get me twisted that's the incredible psilocybin. Am I crazy or insane son i'm still deciding, sun or rain I bring the pain when i'm writing, in ghost trains wylin, that's how I'm styling.</p>
      <p>Stole it from the yard I'm embarking like a pirate, what I say is no facade I bring the mother fucking wave. You'd better pray for Noah's Ark or stay ducking from the po po, like hoes do in the dark coz the cro stays sparked.</p>
      <p></p>
      <p>I ain't chasing down dragons, like hobos at the park. My names up on a poster all the way from here to Mars. My status is at large, but I don't cater for no charts. I'm jumping on a plane to make a wage from spraying bars! Every other day it's either than train or car, see this train of thought has got these people far.</p>
      <p>That's the HF family RLD & Blah, from the bottom to the top we're gonna elevate the craft. Crush planets till they vanish at the universe's heart, everything is frequency it's freaky but it's art. Our sequence in the stars might lead us down a path. It's our right to choice, our life to make last.</p>
      <p>No knives have been grasped, yet names have been carved. In the bark of the tree of life, see our light in the dark. Remove toxins like Zeolite, be advanced, in your thought patterns, feel alive being calm.</p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data, include_span: true } %>
  </figure>
</article>

<p class="clock-attr">Clock animation from <br><a href="http://www.3quarks.com/en/SVGClock/">Rüdiger Appel</a></p>

<object type="image/svg+xml" data="/images/fliptrix/clock.svg"></object>