---
title: Foreign Beggars - Hold On
player_color: ffffff
track: foreign beggars hold on
artist: Foreign Beggars
song: Hold On
album: Asylum Speakers
wiki_link: http://en.wikipedia.org/wiki/Foreign_Beggars
song_link: https://geo.itunes.apple.com/ca/album/hold-on-original-feat.-dvs/id474710992?i=474710993&uo=6
album_link: https://geo.itunes.apple.com/ca/album/asylum-speakers/id474748840?uo=6
buy_link: http://www.redbubble.com/people/hiphopquoted/works/15547562-foreign-beggars-hold-on?p=art-print
cat_id: 474710992
order: 36
screenshot: foreign_beggars_hold_on.jpg
genius_link: http://genius.com/Foreign-beggars-hold-on-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("foreign-beggars-hold-on.css") %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/659388/css/fonts.css" />
<% end %>

<article>
  <header>
    <h1>there's<br> <em>people</em> like<br> me <em>outside</em><br> your <em>door</em>.</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        Step in the ring, blaze cats, slay bate twats. Make that train, wait back, spread an 8-track. Spitting out all kind of rhyme with the way that. Make any rapper wanna stop with the late chat. Nobody knows a nigga looking to bring by. You couldn’t even rock a toe with a play back. Foreign beggar fam over run as I take that. Rap Montana, write my name by the train tracks. Kit Kat rappers get bucked and bitch slapped. Cut, black eye, some wanna play flip-flap? Sit back up, chit chatter, where da check at? Charge next man £10 for a Tic Tac. Spit down lyric quick fast when they say cash. Ship-wrecked rappers get bucked with a big ba. Kill any mini-man dick with a shit gat. Spill a man’s guts with the face of a pick-axe. Woah? commin on a bit gotta get a (lick sharp?). Quick fix, bitch, then did a bit of crack rock. Red-hot rapper, nigga nock about his spit right. Lock up any amatuer that wanna come shit talk. Ruba dub dub get dumped in the trunk. Armed with a mic and a big bag of punk run a muck and then I’ll come. Make a hall stand up, fuck ‘em up and to the back to the front. From my earliest pillaging and scheming with mad men. Bad men form all the way from Erith to Camden. Challenging any man dem who spit on a track. I never saw talkin’ shit and get ready to lamp him. Big bad rappers get slapped up in tandem. Acting like dons but they’re openly rampant. Jump up in the back of the car like he was strapped in. None of us panic, here I come with my fat pen.
      </p>
      <p>
        Blud, I ain’t trying to prove nothing, move something. Too many man are left dead for nothing. Get battered up, whacked up, spurred for nothing. Beat down, hurt, or left murked for nothing blad. But thats just how tings were gwannin. When a man said hes a bad man from morning. Now wait till Sunday morning, his family’s in church, dressed in black; mourning. Nobody had a chance to warn him coz he had just been. On stage performing and certain girl-dem had started to swarm him. And after that just sounds quite alarming. One brother said your a chief and yes you can. Tell that im looking beef coz i live around all the depression. On the streets my main stress relief. Bust one, and in your belly. Bust one, and in your teeth. And heap on anyone I’m looking to eat. Cos any idiot could have drawn the gun back. Lick out the barrel and make the gun clap. Me I just step at the mic and I run checks. Give them the eye and I shall return in a comeback. Mr Vulga asked me to guest track. Instead of me telling the man dem to get flat. The manor that I’m living in, yes I rep that. Anything I want in life yes I get that. Disrespect me, get disrespect back. Are you really from the ends blad?. Forget that. Are you really, really, really, really, really, really, really, really, really, really, really, from the ends blad? Forget that. Are you really, really, really, really, really, really, really, really, really, really, really, from the ends blad? Forget that.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>