---
title: Gang Starr ft J Cole - Family & Loyalty
player_color: ffffff
track: Gang Starr - J Cole - Family & Loyalty
artist: Gang Starr ft J Cole
song: Family & Loyalty
album: One of Best Yet
wiki_link: https://en.wikipedia.org/wiki/Gang_Starr
song_link: https://geo.music.apple.com/us/album/family-and-loyalty-feat-j-cole/1478664293?i=1478664295&mt=1&app=music
album_link: 
cat_id: 1478664295
order: 48
screenshot: gang_starr_j_cole_family_and_loyalty.jpg
genius_link: https://genius.com/Gang-starr-family-and-loyalty-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("https://use.typekit.net/dmo7zyp.css") %>
  <%= stylesheet_link_tag("gang-starr-j-cole-family-and-loyalty.css") %>
<% end %>

<picture class="diamond">
  <source srcset="/images/gang-starr/diamond-dark.svg" media="(prefers-color-scheme: dark)">
  <%= image_tag "gang-starr/diamond.svg", alt: "" %>
</picture>

<article>
  <header>
    <h1>Diamonds are forever like family & loyalty</h1>
  </header>
  <figure>
    <blockquote>
      <h3>R.I.P Guru <br>1961–2010</h3>
      <p>Diamonds are forever like friends that’ll kill for you, went up in a jewelry store, burglary, steal for you, build with you, split the diamond into ice blue. Thrice he tried to disrespect our kinship, I don’t like you, and now you axed out the fam’. But I’m cashin’ checks with Premier on this jam, Robin Leach, interviews on the beach, when we shake hands, nothin’ but ice on the reach, and I teach, like the Rap Reverend Ike without the perm’, I preach. There’s more you need to learn, I return for my streets, gainin’ my wealth, trainin’ myself. For corny confrontation with haters who be playin’ themselves. Diamonds are like my world of rap, your rhymin’, huh, it’s like a world of crap.</p>
      <p>Pick up the pen, write down the sins, cleanse, lay that shit down, play it for friends, make a few M’s, then do it again. J. Cole, who’d have thought you woulda been rhymin’ with ghosts, Guru flows forever like a diamond. The most could never afford the precious jewels, that’s precisely why I’m blessin’ you with clear-cut messages, I’m destined to invest in urban sections where depression rules. I hope to heal the destitute before I leave this vestibule, between the heavens and the seven circles, where some dead homies maybe rest, I plan to resurrect a few. I press the truth against the neck of devils, Look at the youth just like a precious pebble. Meant to be protected, mentally we let this poison of Western philosophy make us sloppy. We forgot we are the chosen, from hip-hop to astronomy, they copy what we showed ‘em. Niggas be talkin’ slick, but only try me over modems. In person they starstruck, they hearts flutter, I’m like the realest one you ever met, if you don’t feel this one, give it a sec. Go live a little, let the years pass, experience pain, watch the tears crash on to the floor. Hurt brings wisdom, wisdom brings a whole ‘nother sort of understandin’. Diamonds only worth what we demandin’, uh, uh. And niggas payin’ top-dollar, once upon a time I paid a 100 for mine, now I’m a lot smarter.</p>
      <p>I rock diamonds that cut glass out of window panes, baldhead Slick blazing tracks when the indo’s flame. Rocks that bling, rocks that make them jock my team, rocks that shine, rocks that keep my hand on my nine, rocks that blind, make the High Rocks drop down, one of a kind, niggas best jet from the spot when I cock mine. Diamonds are like your man you always call fam, diamonds are like your grandma you always call ma’am, diamonds are like having the whole worlbvvd in your hand, diamonds are like the shows I ripped with no band. Rockin’ your knot, stoppin’ your plot, it’s me, Baldhead Slick Duke, coppin’ your block. For you it’s only pain, for me it’s only gain, diamonds are like loyalty, iced out like royalty, diamonds are like my wifey, so sweet the way she spoils me.</p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>