- content_for :head do
  %title Gang Starr – Full Clip

- content_for :stylesheet do
  = stylesheet_link_tag "/stylesheets/gang-starr-full-clip.css"

- content_for :typekit do
  %script{ :src => '//use.typekit.com/cbs4rag.js' }

- content_for :audio do
  <audio src="/audio/gang-starr-full-clip.mp3" preload="auto" />

- content_for :posts_navigation do
  %nav
    %ul
      %li=link_to("Next", "/ludacris–mvp")
      %li=link_to("Prev", "/nas-i-gave-you-power")

%article
  %header
    %h1 
      Full Clip

%figure
  %blockquote
    %p
      Fresh out the gate again, time to raise the stakes again
      Fatten my plate again, y'all cats know we always play to win
      G-A-N-G to the Starr son
      Haters took this shit too far son
      So that's all for you, I'm wiping out your whole team
      I'll splatter your dreams with lyrics to shatter your schemes
      The badder you seem, the more lies you tell
      The more lies you sell, and by surprise you fell
      Into my deathtrap, right into my clutches
      Stupid, you know the God must bless every single mic he touches
      I've suffered, just so I could return harder
      Wanna be the shit starter, fuck around, make you a martyr
      I make ya famous, turn around and make ya nameless
      Cause you never understood how vital to me this rap game is
      Save it and hold that, you catch a hot one
      Rhymes chase a fake nigga down soon as I spot one
    %p
      So if you stand in my way, I'm gonna have to spray
      Learn that if you come against me son you're gonna have to pray
      Since back in the day I held the weight and kept my head up
      They wanna see the God catch an L it's all a set up
      I give no man or thing power over me
      Why these niggas so jealous and looking sour, over me?
      I'm bolder G, I'm like impossible to stop
      I'm like that nigga in the ring with you, impossible to drop
      I'm like two magazines fully loaded to your one
      Plus I ain't gonna quit spitting til you're done
      Plus, more than ever I got my whole shit together
      More than a decade of hits that'll live forever
      Catching rep off my name, you're bound to fry
      Know how many niggas that I know is down to die
      We never fail, and we ain't never been frail
      You niggas talk crime, but you scared of jail
    %p
      Attacking like a slick Apache, lyrics are trigger happy
      Blowing back your wig piece just for the way you're looking at me
      Cock back, blaow, I hit you up right now
      I don't know why so many of y'all wanna be thugs anyhow
      Face the consequence of your childish nonsense
      I could make your head explode just by my lyrical content
      Get you in my scope and metaphorically snipe ya
      I never liked ya, I gas that ass and then ignite ya
      The flame thrower, make your peeps afraid to know ya
      How many times I told ya, play your position small soldier
      My heart is colder, makes me wanna resort to violence
      Stop beating me in the head son, nah, I'm not buying it
      I'm ready to blast, ready to surpass and harass
      I'm ready to flip, yeah I'm ready to dip with all the cash
      I hold my chrome steady, with a tight grip
      So watch your dome already cause this one might hit

  %figcaption
      Quote by 
      = link_to("Ludacris", "http://en.wikipedia.org/wiki/Ludacris")
      %cite
        from
        = link_to("MVP", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408778&id=296408163&s=143444&uo=6")
        on the album 
        = link_to("Theatre of the Mind", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408762&id=296408163&s=143444&uo=6")