---
title: Gang Starr - Battle
player_color: ffffff
track: gang starr battle
artist: Gang Starr
song: Battle
album: 8 Mile
wiki_link: http://en.wikipedia.org/wiki/Gang_Starr
song_link: https://itunes.apple.com/album/battle/id1018049?i=1018027&uo=4
album_link: https://itunes.apple.com/album/8-mile-music-from-inspired/id112116?uo=4
cat_id: 1018027
order: 5
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("gang-starr-battle.css") %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "rdw4xyq", :include_big_text => false, :include_lettering => false, :script => false } %>
<% end %>

<article>
  <header>
    <h1>
      I ain’t talkin romance but you’ll get swept off your feet
    </h1>
  </header>
  <%= image_tag("gang_starr/rose.jpg", :alt => "") %>
  <figure>
    <blockquote>
      <p>
        I used to guzzle 40's, and own a beat up Caddy<br>
        Since the hood still love me, I'll turn the heat up daddy<br>
        I went from mackin fly honies on the train<br>
        To straight relaxin on the beach, countin money gettin brain<br>
        Soon as you rappers get a chance you wanna floss a lot<br>
        You buy a iced out watch because it cost a lot<br>
        Then you in the club, stylin with dough<br>
        Profilin with hoes that we boned, a while ago<br>
        You rookies haven't done enough laps around the track<br>
        You had one hot single, but then your album sounds wack<br>
        Son you bore me with your war stories<br>
        You ain't even do that shit, so that's just more stories<br>
        How you expect us to take you seriously?<br>
        The look in my eye punk, has got you scared of me<br>
        I'm blastin your sons, I'm snatchin your funds<br>
        You catch a royal ass-whoopin, you've been askin for one
      </p>
      <p>
        Bitch you don't even know, the half about me<br>
        I bring it straight to your chest, ask your staff about me<br>
        I'm just a little bit older, plus a whole lot wiser<br>
        I might advise ya, or I might pulverize ya<br>
        I can visit any city, get respect in the street<br>
        While you alone in your room, shook to death of the streets<br>
        I'll take a second to speak, I keep my weapon in reach<br>
        I ain't talkin romance but you'll get swept off your feet<br>
        I keeps a ghetto chick, that loves to blast and she peddle shit<br>
        Groupies fake moves, I get her to settle shit<br>
        You can't compare to the status right here<br>
        Legendary worldwide, we can battle right here<br>
        Listen junior, I'mma tear back your wig<br>
        This ain't TV but I'll show you what a "Fear Factor" is<br>
        Stop grillin me, and all that frontin is killin me<br>
        You leave me no choice but to hurt your feelings G
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>