---
title: Gravediggaz - Six Feet Deep
player_color: ffffff
track: gravediggaz six feet deep
artist: Gravediggaz
song: 6 Feet Deep
album: 6 Feet Deep
wiki_link: http://en.wikipedia.org/wiki/Gravediggaz
song_link: https://itunes.apple.com/album/6-feet-deep/id305647794?i=305648104&uo=4
album_link: https://itunes.apple.com/album/6-feet-deep/id305647794?uo=4
cat_id: 305647794
order: 15
screenshot: gravediggaz_six_feet_deep.jpg
genius_link: http://genius.com/Gravediggaz-6-feet-deep-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("gravediggaz-six-feet-deep.css") %>
<% end %>

<article>
  <header>
    <h1>
      6 Feet Deep
    </h1>
  </header>
  <figure>
    <blockquote>
      <p>
        I floss my teeth on a gospel track<br>
        I'm not an apostle, but I bring the axe to ya back<br>
        I chew and attack<br>
        Like Crest on plaque<br>
        After that, your world is black<br>
        You drop into a hole<br>
        Your mold separates from your soul<br>
        Behold, the Gravediggaz told you 'Beware'<br>
        But you didn't listen<br>
        So now we appear eardrums glisten, ha ha
      </p>
      <p>
        When I wreck I commence to detect<br>
        Ready to dissect so come step alive and die<br>
        Next murder is mayhem<br>
        Diggin graves is a regular<br>
        Treach-orous mangler<br>
        Tha Boston Strangler<br>
        Heated and trapped in a fury of hate<br>
        Daredevil, the rhyme rebel my art terminates<br>
        Subduin and pul-ver-i-zin ya head<br>
        You bled, fell dead, and your tombstone read<br>
        Rza-to-the-recta, Grym-to-the-reap<br>
        Unda-to-the-taker, Gate-to-the-keep<br>
        Creepin thru tha ghettos and the slums and streets<br>
        Gravedigga, nigga, 6 feet
      </p>
      <p>
        Darkness shall fall upon y'all<br>
        Who slept on the styles<br>
        That crept thru tha door<br>
        The grave behave we come to save<br>
        So don't be afraid of the dark<br>
        We spark like light in night<br>
        Excite, excite is right, is right<br>
        Come follow the light<br>
        And see what I see and be what I be<br>
        Tha G-to-the-R-to-the-A-to-the-V...E
      </p>
      <p>
        In the mind I come with the sparks from the attic<br>
        Yet psychopathic brain tracks is tragic<br>
        Twist lifting wrist like riff of a Taurus<br>
        Deep in tha forest, I slay for tha porridge<br>
        Yet it's cold, ya die slow like a tortoise<br>
        Deep in my chorus, ya result Diggamortis<br>
        Let me see I'm castin disease<br>
        Contrary, yet some fairy cause ya bleed
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>