<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "rtk2bgd", :include_big_text => false, :include_lettering => false, :script => false } %>
<% end %>

<section id="home">
  
  <h1>Hip Hop Quotes brought to life with Typography</h1>

  <nav role="navigation">
    <%#= partial "list_pages" %>
  </nav>

</section>
          