- content_for :head do
  %title J-Live – Braggin' Writes

- content_for :stylesheet do
  = stylesheet_link_tag "/stylesheets/j-live-braggin-writes.css"

- content_for :typekit do
  %script{ :src => '//use.typekit.com/cbs4rag.js' }

- content_for :audio do
  <audio src="/audio/j-live-braggin-writes.mp3" preload="auto" />

- content_for :posts_navigation do
  %nav
    %ul
      %li=link_to("Next", "/ludacris–mvp")
      %li=link_to("Prev", "/nas-i-gave-you-power")

%article
  %header
    %h1 
      Braggin' Writes

%figure
  %blockquote
    %p
      For underground metaphors
      You can scrape an inch below the turf, for what it's worth
      My style's been developed in the core of the Earth
      The exhale's volcanic, the inhale is seismic
      So brothers just panic when the Live one arrives with
      The natural ability to run through your crew
      From 2-1-4 to 2-1-3 to 2-1-2
      In other words, from Dallas, to L.A., to the place where J stay
      Everyday is mayday
      So you can talk your shit on how you're wettin' MC's
      With mad blood stains but I'll bet you can't stand the rain
      I look upon your brain with disdain
      Go back and reflect on my endeavors black I can't complain
      It's like a raw deal, consistant with the way I make you feel
      The ends stay revealed while the means I conceal
      And those who try to steal get decapitated
      You wanna snatch my H2O-type flow, but it evaporated
      I displays my credentials over instrumentals
      And my potential, increases at a rate that's exponential
      It's detrimental questionin' my thesis
      The penetration's exact, like amniocentesis
      I rip your rhyme to pieces after drainin' out your fluid
      My vocab is fluent, yours is evident of being truant
      I know you wanna make moves but son you best to take a second look
      Before my knight takes your rook
    %p
      Cause everybody's rapping, and only few can flow
      So why the hell they trying to deal with Live I don't know
      I handle true MC's on their block or at their show
      So if you got some bullshit, please keep it on the low
    %p
      Cause yo, I got the hair-splittin', self-written unbitten style
      That leaves the competition running scared and shaking in their pants
      You best to set it off cause black it ain't no second chance
      Once I'm open, all you doing is hoping that the Live one
      Will put the mic down, but son don't try to snatch it after
      The laughter won't cease from the comparison, how dare you son
      Step around the booth when I'm on
      The microphone magician says poof, you're gone with the wind
      There's no trace of your friends cause you don't know where the
      Beginning ends or where the end begins
      But you see that's the difference, you get sold, I get paid
      Black I told you, get paid
      If you're broke I'll have to rain on your parade
      You belong in special ed if you think you got it made
      J-Live with the mic is like the chef with the blade
      Cause suckers get sliced and sauteed
      Yeah, you thought your joint was fly but the flight was delayed
    %p
      Cause yo, I take the grey matter of pretenders
      Through my mental blender, and then return to sender
      My pen don't pretend to offend
      I intend to render MC's, hanging loose like a fender bender
      I recommend regardless of your gender
      That you strike fucking with J-Live from your agenda
      And remember that whoever lends a helping hand to defend ya
      Will get burned to a cinder
      As I end the, reign of wack MC's with their suicidal tendencies
      Rendering me sick, with the thoughts of killing enemies
      But then I return to reality
      Metaphorically murdering MC's when they battle me
      You can't rattle me
      I'm not your average snake slithering through the grass
      I surpass the serpent as I head to class
      You consider me crass as I wax that ass; style's no joke
      But you best belive I gets the last laugh

  %figcaption
      Quote by 
      = link_to("Ludacris", "http://en.wikipedia.org/wiki/Ludacris")
      %cite
        from
        = link_to("MVP", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408778&id=296408163&s=143444&uo=6")
        on the album 
        = link_to("Theatre of the Mind", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408762&id=296408163&s=143444&uo=6")