---
title: Jehst - City Of Industry
player_color: FFFFFF
track: jehst city of industry
artist: Jehst
song: City Of Industry
album: High Plains Drifter
wiki_link: http://en.wikipedia.org/wiki/Jehst
song_link: https://itunes.apple.com/album/city-of-industry/id72571994?i=72571734&uo=4
album_link: https://itunes.apple.com/album/the-return-of-the-drifter/id474722134?uo=4
cat_id: 72571734
order: 19
screenshot: jehst_city_of_industry.jpg
genius_link: http://genius.com/Jehst-city-of-industry-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("jehst-city-of-industry.css") %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { font_id: "hud2lml", script: "$('h1').lettering('words');" } %>
<% end %>

<article>
  <header>
    <h1>City of Industry</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        Airborne, my thoughts shrouded by cloud-form. The land ravaged in the wake of this ground war. The quintessential outlaw. Eye of the storm. My tears fall as the torrential downpour. The flood, your death wish written in blood. I came in from the cold, clothes drippin’ with mud. Grippin’ a club, primitive as Stig Of The Dump. Swingin’ a punch, the bad seed, pick of the bunch. I drink black rain, take another swig and I’m drunk. Taste venom on the tip of my tongue, my lip’s cold, spittin’ out toxins I couldn’t dissolve, or withhold. I never sold my soul for fool’s gold, So I’m still free, but too numb to feel pity. Some broke down, now the steel city’s a ghost town. Snowflakes cover the ground in white carpets, seasons of espionage as time passes. The lion-hearted, survival of the hardest artist. My open arms embrace darkness, still cravin’ carnage and infamy but even parasites starve in this carcass of industry.
      </p>
      <p>
        You can see me as cynical, trapped in my own gothic vision, encapsulating chaos in this composition. Calculated, like the lies of a politician, grippin’ a slingshot, I size up the opposition. I drop a match in the clouds and watch the flames rise, fire-water fallin’ from these grey skies, to painted trainlines Chrome over redbrick, reflective, like a gemstone in a cesspit. Jehst gives belief to a skeptic, the truth neglected, like open wounds that turn septic. Infected, by the forked tongue of a liar, now my thoughts are the colour of fire, and my nights spent bunnin’ the kya. Uninspired by the freak-show, I see ghosts, dance in the trail of my weed smoke. My words are folklore, that survived the cold war, new world order and so forth. I go north, ankle deep in snowfall, leapin’ over dry stone walls with a holdall. Steam clouds rise from my fiery breath. It’s the last twilight before the silence of death.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>
