---
title: MF Doom - Figaro
player_color: fb5482
track: MF Doom - Figaro
artist: MF Doom
song: Figaro
album: Madvillainy
wiki_link: https://en.wikipedia.org/wiki/MF_Doom
song_link: https://geo.music.apple.com/us/album/figaro/887699504?i=887699523&itsct=music_box&itscg=30200&ct=songs_figaro&app=music&ls=1
album_link: https://geo.music.apple.com/us/album/madvillainy/887699504?itsct=music_box&itscg=30200&ct=albums_madvillainy&ls=1&app=music
cat_id: 887699504
order: 49
screenshot: mf_doom_figaro.jpg
genius_link: https://genius.com/Madvillain-figaro-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("mf-doom-figaro.css") %>
<% end %>

<article>
  <%= image_tag "/images/mf-doom/mf-doom-mask.svg", alt: "", class: "mask-image" %>
  <%= image_tag "/images/mf-doom/mf-doom-tag.svg", alt: "", class: "tag-image" %>
  <header>
    <h1>MF DOOM</h1>
    <h2>1971 – 2020</h2>
  </header>
  <figure>
    <blockquote>
      <p>The rest is empty with no brain, but the clever nerd, the best MC with no chain ya ever heard.  Take it from the TEC-9 holder, they’ve bit but don’t know their neck shine from Shinola. Everything that glitters ain’t fishscale, lemme think, don’t let her faint get Ishmael. A shot of Jack got her back it’s not an act stack, forgot about the cackalack, holla back; clack-clack, blocka. Villainy, feel him in ya heart chakra, chart-toppa, start-shit stoppa, be a smart shoppa. Shot-a-Cop day around the way ‘bout to stay, but who’d a know there’s two mo’ that wonder where the shooter go. ‘Bout to jet, get him, not a bet, dead ‘em, let ‘em spit the venom said ‘em got a lot of shit with ‘em. Let the rhythm hit ‘em, it’s stronger in the other voice, we makes the joints that make ‘em spread ‘em butta moist. Man, please, the stage is made of panties, from the age of baby hoochies on to the grannies, ban me the dough rake, daddy, the flow make her fatty shake, patty cake, patty cake. For fake, if he was Anita Baker’s man, he’d take her for her masters, hit it once an’ shake her hand.</p>
      <p>On some ol’ thank ya ma’am an’ ghost her, she could mind the toaster if she sign the poster. A whole host of roller coaster riders, not enough tracks (is it?), hot enough black (for ya). It’s too hot to handle, you got blue sandals, who shot ya? Ooh got you new spots to vandal? Do not stand still, boast yo’ skills, close but no krills, toast for po’ nils, post no bills. Coast to coast Joe Shmoe’s flows ill, go chill, not supposed to overdose No-Doz pills. Off pride tykes talk wide through scar meat, off sides like how Worf rides with Starfleet. Told ya, on some get-rich shit, as he get older he gets colder than a witch tit. This is it, make no mistakes, Where my nigga go? Figaro, Figaro. O’s beats and my rhymes attack, a scary act, all black like Ms. Mary Mack. Wait ‘til you see ‘em live on the piano, DOOM sings soprano, like, “Una, duociano.” My momma told me, blast ‘em and pass her her glass of Ol’ E, not to be troublesome. But I could sure use a quick shot of double rum, no stick of bubble gum. I like ice cream ,we could skip the weddin’. Have a nice dream, she only let him stick the head in.</p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>
