---
title: Mobb Deep - Nighttime Vultures
player_color: ffffff
track: mobb deep nighttime vultures
artist: Mobb Deep
song: Nighttime Vultures
album: Hell On Earth
wiki_link: https://en.wikipedia.org/wiki/Mobb_Deep
song_link: https://geo.itunes.apple.com/us/album/nighttime-vultures-feat-lex-diamonds-a-k-a-raekwon/id293069191?i=293069309&mt=1&app=music
album_link: https://geo.itunes.apple.com/us/album/hell-on-earth/id293069191?mt=1&app=music
cat_id: 293069309
order: 42
screenshot: mobb_deep_nighttime_vultures.jpg
genius_link: https://genius.com/Mobb-deep-nighttime-vultures-lyrics
---

<% content_for :stylesheet do %>
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/613014/7838572/css/fonts.css" />
  <%= stylesheet_link_tag("mobb-deep-nighttime-vultures.css") %>
<% end %>

<article>
  <figure>
    <blockquote>
      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" viewBox="0 0 900 1217">
        <title>mobb-deep-nighttime-vultures</title>
        <text transform="translate(3 30)" font-size="25" fill="#000" font-family="'Ideal Sans SSm A', 'Ideal Sans SSm B'">
          <tspan x="171" y="0" letter-spacing="1">I rose early mornin, spread </tspan><tspan x="171" y="29" letter-spacing="1">my wings yawnin, vague memory of last </tspan><tspan x="171" y="58" letter-spacing="1">night now it’s all dawnin. Look down and see </tspan><tspan x="0" y="87" letter-spacing="1">dry blood all on my garment, It stained all my Guess farmer’s, </tspan><tspan x="0" y="116" letter-spacing="1.1">colored enormous. I hopped up, outta my bed holdin my head, </tspan>
          <tspan x="0" y="145" letter-spacing="1.2">flashbacks of gun shots shot past my head, I can recall an eight </tspan><tspan x="0" y="174" letter-spacing="0.3">man brawl three men fall. Bullets flew I had to drug my man behind a </tspan><tspan x="0" y="203" letter-spacing="1.2">wall, left a wet trail, delivered these slugs like air mail. Directly at </tspan><tspan x="0" y="232" letter-spacing="1.1">the cat that made my man </tspan><tspan x="460" y="232" letter-spacing="0.2">blood spill. An eye for an eye you </tspan><tspan x="0" y="261" letter-spacing="1">know my science of life, Is </tspan><tspan x="499" y="261" letter-spacing="2.6">you man or mice, thugs or </tspan><tspan x="0" y="290" letter-spacing="1.8">the cowardly type? I kick </tspan><tspan x="520" y="290" letter-spacing="2">that ‘98 shit for your ears </tspan><tspan x="0" y="319" letter-spacing="1.65">to list, nigga P way ahead </tspan><tspan x="530" y="319" letter-spacing="1">of his time, surpassed kids. </tspan><tspan x="0" y="348" letter-spacing="1.4">Kickin’ rhymes that’s true </tspan><tspan x="528" y="348" letter-spacing="4">lies, let me break ‘em </tspan><tspan x="0" y="377" letter-spacing="0.55">down to size minimize they </tspan><tspan x="525" y="377" letter-spacing="2.8">air time. After this you </tspan><tspan x="0" y="406" letter-spacing="1.5">never will go back to that </tspan><tspan x="513" y="406" letter-spacing="1.8">which, sit back an’ write </tspan><tspan x="0" y="435" letter-spacing="0">half ass shit. The last official </tspan><tspan x="481" y="435" letter-spacing="3">taking out the artificial. </tspan><tspan x="0" y="464" letter-spacing="1.8">Let me relieve you replace that shit with some lethal, Mobb, </tspan><tspan x="0" y="493" letter-spacing="-0.2">remember the name it’s been along, that nigga’s shook to death from </tspan><tspan x="0" y="522" letter-spacing="0.3">the first fuckin song. Fluidly my mind flooded with jewels infinite, </tspan><tspan x="0" y="551" letter-spacing="1.2">the kinda rap bandits in attics stuck on some live shit. Bear </tspan><tspan x="0" y="580" letter-spacing="0.6">witness to this diligent street cat, I carry myself hold myself </tspan><tspan x="0" y="609" letter-spacing="1.6">down in fact. This one dedicated to my niggas on run, </tspan><tspan x="0" y="638" letter-spacing="2.2">holdin big gats go for your gun. Prepare to crush </tspan><tspan x="0" y="667" letter-spacing="1.8">them we trust none, man </tspan><tspan x="0" y="696" letter-spacing="2.4">who ain’t down with the </tspan><tspan x="0" y="725" letter-spacing="2.6">clan. The Mobb dynasty </tspan><tspan x="0" y="754" letter-spacing="1.9">apparantly you thought I </tspan><tspan x="0" y="783" letter-spacing="0.7">was some other type, nigga </tspan><tspan x="0" y="812" letter-spacing="2.55">you could fuck with you </tspan><tspan x="0" y="841" letter-spacing="0.4">shit outta luck. Boss I break </tspan><tspan x="0" y="870" letter-spacing="2.2">your compass throw you </tspan><tspan x="0" y="899" letter-spacing="1.1">way off course, we buildin </tspan><tspan x="0" y="928" letter-spacing="3.2">from ground up startin </tspan><tspan x="0" y="957" letter-spacing="0.5">from ground zero, mafia on </tspan><tspan x="0" y="986" letter-spacing="1.2">da see the name upon the </tspan><tspan x="0" y="1015" letter-spacing="1.4">mural. Durable physically </tspan><tspan x="0" y="1044" letter-spacing="1.1">fit raps articulate, you get </tspan><tspan x="0" y="1073" letter-spacing="-0.2">your whole skeleton cracked</tspan><tspan x="0" y="1102" letter-spacing="1.6">somethin ridiculous. Still </tspan><tspan x="0" y="1131" letter-spacing="0.4">facinated by my ste, little P </tspan><tspan x="0" y="1160" letter-spacing="0.1">wanna be me, huh you no D.</tspan>
        </text>
        <text transform="translate(2 85)" font-size="100" fill="#000" font-family="'Gotham SSm A', 'Gotham SSm B'"><tspan letter-spacing="-6">YO</tspan></text>
      </svg>
      <%= image_tag("mobb-deep/mobb-deep-nighttime-vultures.png", :alt => "", :class => "svg-ff-replace") %>
    </blockquote>
    <p class="rip">
      R.I.P. <br><a href="https://en.wikipedia.org/wiki/Prodigy_(rapper)" target="_blank">Prodigy</a>
      <span>November 2 1974 –<br> June 20 2017</span>
    </p>
    <%= partial 'figcaption', locals: { data: current_page.data, include_span: true } %>
  </figure>
</article>