---
title: Mobb Deep - Survival of the Fittest
player_color: ffffff
track:  mobb deep survival of the fittest
artist: Mobb Deep
song: Survival of the Fittest
album: The Infamous
wiki_link: http://en.wikipedia.org/wiki/Mobb_Deep
song_link: https://itunes.apple.com/album/survival-of-the-fittest/id255342338?i=255342460&uo=4
album_link: https://itunes.apple.com/album/the-infamous/id255342338?uo=4
cat_id: 255342460
order: 28
screenshot: mobb_deep_survival_of_the_fittest.jpg
genius_link: http://genius.com/Mobb-deep-survival-of-the-fittest-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("mobb-deep-survival-of-the-fittest.css") %>
<% end %>

<article>
  <header>
    <h1>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 260.4 957 521.7" enable-background="new 0 260.4 957 521.7" xml:space="preserve">
        <text transform="matrix(1 0 0 1 241.8468 720.8419)" fill="#FFFFFF" font-weight="800" font-family="adelle" font-size="209.2932">fittest</text>
        <text transform="matrix(1 0 0 1 105.4151 579.4434)" fill="#FFFFFF" font-weight="800" font-family="adelle" font-size="140" letter-spacing="-2">of</text>
        <text transform="matrix(1 0 0 1 275.8459 539.411)" fill="#FFFFFF" font-weight="800" font-family="adelle" font-size="88.8553" letter-spacing="-1">the</text>
        <text transform="matrix(1 0 0 1 1.392526e-04 453.465)" fill="#FFFFFF" font-weight="800" font-family="adelle" font-size="223.9774">Survival</text>
      </svg>
    </h1>
  </header>
  <figure>
    <blockquote>
      <p>
        There's a war going on outside, no man is safe from,
        You could run but you can't hide forever.
        From these, streets, that we done took,
        You walking with your head down scared to look.
        You shook, cause ain't no such things as halfway crooks.
        They never around when the beef cooks in my part of town,
        It's similar to Vietnam.
        Now we all grown up and old, and beyond the cop's control,
        They better have the riot gear ready.
        Tryin to bag me and get rocked steady.
        By the mac one-double, I touch you,
        And leave you with not much to go home with,
        My skin is thick, cause I be up in the mix of action
        If I'm not at home, puffing lye relaxin.
        New York got a nigga depressed,
        So I wear a slug-proof underneath my Guess.<br><br>
        God bless my soul, before I put my foot down and begin to stroll,
        And to the drama I built, and all unfinished beef,
        You will soon be killed, put us together,
        It's like mixing vodka and milk.
        I'm goin out blasting, taking my enemies with me,
        And if not, they scarred, so they will never forget me.
        Lord forgive me the Hennesey got me not knowing how to act,
        I'm falling and I can't turn back.
        Or maybe it's the words from my man Killer Black,
        That I can't say so it's left a untold fact, until my death.
        My goal's to stay alive,
        Survival of the fit only the strong survive.
      </p>
      <p>
        I 'm trapped, in between two worlds, trying to get dough y'know,
        When the dough get low the jewels go, but never that,
        As long as fiends smoke crack,
        I'll be on the block hustling counting my stacks.
        No doubt, watchin my back and proceed with caution,
        Five-oh lurking, no time to get lost in -- the system,
        Niggas using fake names to get out quick.
        My brother did it and got bagged with two ounces,
        Illegal world where squads hit the block hard,
        Ask my man Twin when he got bagged, that fucked me up God.
        But shit happens for a reason,
        You find out who's your true peoples when you're upstate bleeding.<br><br>
        You can't find a shorty to troop your bid with you,
        Hit with a 2 to 4 it's difficult,
        Wild on the streets I try to maintain,
        Tight with my loot, cause hoes like to run game.
        Some niggas like to trick but I ain't with that tricking shit,
        I'm like a Jew, saving dough so I can big whip,
        Pushing a Lex, now I'm set, ready to jet.
        No matter how much loot I get I'm staying in the projects, forever,
        Jakes on the blocks we out-clever,
        If beef, we never separate and pull together.
        When worse comes to worst, my peoples come first,
        Try to react and get them motherfucking feelings hurt.
        My crew's all about loot,
        Fuck lookin cute, I'm strictly Timb boots and Army certified suits,
        Puffin L's, laid back, enjoying the smell.
        In the Bridge getting down it ain't hard to tell,
        You better realize.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>