---
title: Mos Def - Mathematics
player_color: FFFFFF
track: mos def mathematics
---

<% content_for :stylesheet do %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/711904/css/fonts.css" />
  <%= stylesheet_link_tag "/stylesheets/mos-def-mathmatics.css" %>
<% end %>

<article>
  <header>
    <h1>Mathematics</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        Yo, check it <span>one</span> for Charlie Hustle, <span>2</span> for Steady Rock
        <span>3</span> for the forthcoming live future shock.
        It's <span>5</span> dimensions, <span>6</span> senses,
        <span>7</span> firmaments of heaven and hell, <span>8</span> Million Stories to tell.
        <span>9</span> planets faithfully keep in orbit,
        With the probable <span>tenth</span>, the universe expands length.
        The body of my text possess extra strength.
        Power-lift the powerless up out of this towering inferno,
        My ink so hot it burn through the journal.
        I'm blacker than midnight on Broadway and Myrtle
        Hip-Hop passed all your tall social hurdles
        Like the nationwide project-prison-industry complex
        Working-class poor: better keep your alarm set
        Streets too loud to ever hear freedom ring
        Say evacuate your sleep, it's dangerous to dream
        But you chain cats j-j-pow! You dead now
        Killing fields need blood to graze the cash cow
        It's a number game, but shit don't add up somehow
        Like I got, 16 to 32 bars to rock it
        But only 15% of profits ever see my pockets like
        69 billion in the last 20 years
        Spent on national defense but folks still live in fear like
        Nearly half of America's largest cities is one-quarter black
        That's why they gave Ricky Ross all the crack
        16 ounces to a pound, 20 more to a ki
        A 5-minute sentence hearing and you're no longer free
        40% of Americans own a cell phone
        So they can hear everything that you say when you ain't home
        I guess Michael Jackson was right: "You Are Not Alone"
        Rock your hardhat, black, cause you in the Terrordome
        Full of hard niggas, large niggas, dice-tumblers
        Young teens and prison greens facing life numbers
        Crack mothers, crack babies and AIDS patients
        Young bloods can't spell but they could rock you in PlayStation
        This new math is whipping motherfuckers' ass
        You want to know how to rhyme you better learn how to add
        It's mathematics
      </p>
      <p>
        It's <span>one</span> universal law but <span>2</span> sides to every story
        <span>3</span> strikes and you be in for life, mandatory
        <span>4</span> MC's murdered in the last <span>4</span> years
        I ain't trying to be the <span>fifth</span> one, the millennium is here
        Yo it's <span>6</span> Million Ways to Die, from the <span>7</span> deadly thrills
        <span>8</span>-year olds getting found with <span>9</span>mils
        It's <span>10</span> P.M., where your seeds at? What's the deal?
        He on the hill pumping krill to keep they belly filled
        Light in the ass with heavy steel, sights on the pretty shit in life
        Young soldiers trying to earn their next stripe
        When the average minimum wage is $5.15
        You best believe you've got to find a new grind to get C.R.E.A.M
        The white unemployment rate? It's nearly more than triple for black
        Some front-liners got their gun in your back
        Bubbling crack, jewel theft and robbery to combat poverty
        And end up in the global jail economy
        Stiffer stipulations attached to each sentence
        Budget cutbacks but increased police presence
        And even if you get out of prison still living
        Join the other 5 million under state supervision
        This is business: no faces, just lines and statistics
        From your phone, your zip code to S-S-I digits
        The system break man, child, and women into figures
        2 columns for "who is" and "who ain't niggas"
        Numbers is hard and real and they never have feelings
        But you push too hard, even numbers got limits
        Why did one straw break the camel's back? Here's the secret:
        The million other straws underneath it: it's all mathematics
      </p>
    </blockquote>
    <figcaption>
      Quote by 
      <%= link_to("Mos Def", "http://en.wikipedia.org/wiki/Mos_Def") %>
      <cite>
        from
        <%= link_to("Mathmatics", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=3689581&id=3689585&s=143441&uo=6") %>
        on the album 
        <%= link_to("Black on both sides", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=3689565&id=3689585&s=143441&uo=6") %>
      </cite>
    </figcaption>
  </figure>
</article>
