---
title: Mos Def – Mathematics
---

- content_for :head do
  %title Mos Def – Mathematics

- content_for :stylesheet do
  = stylesheet_link_tag "/stylesheets/mos-def–mathmatics.css"

- content_for :typekit do
  %script{ :src => '//use.typekit.com/cbs4rag.js' }

- content_for :audio do
  <audio src="/audio/mos-def–mathmatics.mp3" preload="auto" />

- content_for :posts_navigation do
  %nav
    %ul
      %li=link_to("Next", "/ludacris–mvp")
      %li=link_to("Prev", "/nas-i-gave-you-power")

%article
  %header
    %h1 
      Mathematics

%figure
  %blockquote
    %p
      Yo, check it one for Charlie Hustle, 2 for Steady Rock
      3 for the forthcoming live future shock
      It's 5 dimensions, 6 senses
      7 firmaments of heaven and hell, 8 Million Stories to tell
      9 planets faithfully keep in orbit
      With the probable tenth, the universe expands length
      The body of my text possess extra strength
      Power-lift the powerless up out of this towering inferno
      My ink so hot it burn through the journal
      I'm blacker than midnight on Broadway and Myrtle
      Hip-Hop passed all your tall social hurdles
      Like the nationwide project-prison-industry complex
      Working-class poor: better keep your alarm set
      Streets too loud to ever hear freedom ring
      Say evacuate your sleep, it's dangerous to dream
      But you chain cats j-j-pow! You dead now
      Killing fields need blood to graze the cash cow
      It's a number game, but shit don't add up somehow
      Like I got, 16 to 32 bars to rock it
      But only 15% of profits ever see my pockets like
      69 billion in the last 20 years
      Spent on national defense but folks still live in fear like
      Nearly half of America's largest cities is one-quarter black
      That's why they gave Ricky Ross all the crack
      16 ounces to a pound, 20 more to a ki
      A 5-minute sentence hearing and you're no longer free
      40% of Americans own a cell phone
      So they can hear everything that you say when you ain't home
      I guess Michael Jackson was right: "You Are Not Alone"
      Rock your hardhat, black, cause you in the Terrordome
      Full of hard niggas, large niggas, dice-tumblers
      Young teens and prison greens facing life numbers
      Crack mothers, crack babies and AIDS patients
      Young bloods can't spell but they could rock you in PlayStation
      This new math is whipping motherfuckers' ass
      You want to know how to rhyme you better learn how to add
      It's mathematics
    %p
      It's one universal law but 2 sides to every story
      3 strikes and you be in for life, mandatory
      4 MC's murdered in the last 4 years
      I ain't trying to be the fifth one, the millennium is here
      Yo it's 6 Million Ways to Die, from the 7 deadly thrills
      8-year olds getting found with 9mils
      It's 10 P.M., where your seeds at? What's the deal?
      He on the hill pumping krill to keep they belly filled
      Light in the ass with heavy steel, sights on the pretty shit in life
      Young soldiers trying to earn their next stripe
      When the average minimum wage is $5.15
      You best believe you've got to find a new grind to get C.R.E.A.M
      The white unemployment rate? It's nearly more than triple for black
      Some front-liners got their gun in your back
      Bubbling crack, jewel theft and robbery to combat poverty
      And end up in the global jail economy
      Stiffer stipulations attached to each sentence
      Budget cutbacks but increased police presence
      And even if you get out of prison still living
      Join the other 5 million under state supervision
      This is business: no faces, just lines and statistics
      From your phone, your zip code to S-S-I digits
      The system break man, child, and women into figures
      2 columns for "who is" and "who ain't niggas"
      Numbers is hard and real and they never have feelings
      But you push too hard, even numbers got limits
      Why did one straw break the camel's back? Here's the secret:
      The million other straws underneath it: it's all mathematics

  %figcaption
      Quote by 
      = link_to("Ludacris", "http://en.wikipedia.org/wiki/Ludacris")
      %cite
        from
        = link_to("MVP", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408778&id=296408163&s=143444&uo=6")
        on the album 
        = link_to("Theatre of the Mind", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408762&id=296408163&s=143444&uo=6")