---
title: Nas - One Love
player_color: ffffff
track: nas one love
artist: Nas
song: One Love
album: Illmatic
wiki_link: http://en.wikipedia.org/wiki/Nas
song_link: https://itunes.apple.com/album/one-love/id662324135?i=662324544&uo=4
album_link: https://itunes.apple.com/album/illmatic/id662324135?uo=4
cat_id: 662324544
order: 26
screenshot: nas_one_love.jpg
genius_link: http://genius.com/Nas-one-love-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/nas-one-love.css" %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "jje3ehi", :include_big_text => false, :include_lettering => false, :script => false } %>
<% end %>

<article>
  <header>
    <h1>One Love</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        What up kid? I know shit is rough doing your bid,
        When the cops came you should have slid to my crib.
        Fuck it black, no time for looking back it's done,
        Plus congratulations, you know you got a son?
        I heard he looks like ya, why don't your lady write ya?
        Told her she should visit, that's when she got hyper,
        Flipping, talking 'bout he acts too rough,
        He didn't listen he be riffing while I'm telling him stuff.
        I was like yeah, shorty don't care, she a snake too,
        Fucking with them niggas from that fake crew that hate you.
        But yo, guess who got shot in the dome-piece?
        Jerome's niece, on her way home from Jones Beach
        It's bugged, plus little Rob is selling drugs on the dime
        Hanging out with young thugs that all carry nines
        And night time is more trife than ever
        What up with Cormega, did you see him, are y'all together?
        If so then hold the fort down, represent to the fullest
        Say what's up to Herb, Ice and Bullet
        I left a half a hundred in your commissary
        You was my nigga when push came to shove, one what? (One love)
      </p>
      <p>
        Dear Born, you'll be out soon, stay strong,
        Out in New York the same shit is going on.
        The crackheads stalking, loudmouths is talking,
        Hold, check out the story yesterday when I was walking.
        That nigga you shot last year tried to appear,
        Like he hurting something, word to mother, I heard him fronting,
        And he be pumping on your block, your man gave him your Glock,
        And now they run together, what up son, whatever,
        Since I'm on the streets I'mma put it to a cease,
        But I heard you blew a nigga with a ox for the phone piece.
        Wilding on the Island, but now in Elmira,
        Better chill cause them niggas will put that ass on fire,
        Last time you wrote you said they tried you in the showers,
        But maintain when you come home the corner's ours,
        On the reals, all these crab niggas know the deal,
        When we start the revolution all they probably do is squeal.
        But chill, see you on the next V-I,
        I gave your ma duke's loot for kicks, plus sent you flicks,
        Your brother's buckwilding in 4-Main, he wrote me,
        He might beat his case, 'til he come home, play it low key.
        So stay civilized, time flies,
        Though incarcerated your mind die, I hate it when your moms cries.
        It kinda wants to make me murder, for reala,
        I even got a mask and gloves to bust slugs but one love.
      </p>
      <p>
        Sometimes I sit back with a Buddha sack,
        Mind's in another world thinking how can we exist through the facts.
        Written in school text books, bibles, et cetera,
        Fuck a school lecture, the lies get me vexed-er.
        So I be ghost from my projects, I take my pen and pad,
        For the weekend hittin L's while I'm sleeping.
        A two day stay, you may say I need the time alone,
        To relax my dome, no phone, left the nine at home.
        You see the streets had me stressed something terrible,
        Fucking with the corners have a nigga up in Bellevue,
        Or HDM, hit with numbers from 8 to 10,
        A future in a maximum state pen is grim.
        So I comes back home, nobody's out but Shorty Doo-Wop,
        Rolling two phillies together in the Bridge we called 'em oo-wops.
        He said "Nas, niggas cold be busting off the roof,
        So I wear a bullet proof and pack a black trey-deuce".
        He inhaled so deep, shut his eyes like he was sleep.
        Started coughing, one eye peeked to watch me speak,
        I sat back like The Mack, my army suit was black,
        We was chilling on these benches where he pumped his loose cracks.
        I took the L when he passed it, this little bastard,
        Keeps me blasted and starts talking mad shit.
        I had to school him, told him don't let niggas fool him,
        Cause when the pistol blows the one that's murdered be the cool one.
        Tough luck when niggas are struck, families fucked up,
        Coulda caught your man, but didn't look when you bucked up.
        Mistakes happen, so take heed never bust up,
        At the crowd catch him solo, make the right man bleed.
        Shorty's laugh was cold blooded as he spoke so foul,
        Only twelve trying to tell me that he liked my style,
        Then I rose, wiping the blunt's ash from my clothes,
        Then froze only to blow the herb smoke through my nose.
        And told my little man I'mma go home.
        Left some jewels in his skull that he can sell if he chose,
        Words of wisdom from Nas: try to rise up above,
        Keep an eye out for Jake, Shorty Wop, one love.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>
