---
title: Nas - N.Y. State of Mind
player_color: ffee00
track: nas N.Y. State of Mind
artist: Nas
song: New York State of Mind
album: illmatic
wiki_link: http://en.wikipedia.org/wiki/Nas
song_link: https://itunes.apple.com/us/album/n.y.-state-of-mind/id662324135?i=662324539&uo=4
album_link: https://itunes.apple.com/album/illmatic/id662324135?uo=4
---

<% content_for :stylesheet do %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/745226/css/fonts.css" />
  <%= stylesheet_link_tag "/stylesheets/nas-new-york-state-of-mind.css" %>
<% end %>

<article>
  <header>
    <h1>I think of crime, when I'm in a New York state of mind</h1>
  </header>
  <figure>
    <blockquote>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 325.3 1475" preserveAspectRatio="xMinYMin meet" width="100%">
        <!-- <polygon fill="none" stroke="black" points="322,1461.3 322,1203.3 282,1203.3 282,488.3 256.9,488.3 256.9,327.3 226.4,327.3 226.4,285.9 
          202,285.9 202,225.9 118.9,225.9 118.9,285.9 97,285.9 97,327.3 67,327.3 67,488.3 42,488.3 42,1203.3 2,1203.3 2,1461.3 "/> -->
        <text transform="matrix(1 0 0 1 118.9121 232.043)">
          <tspan x="0" y="0" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" style="letter-spacing:0.1;">monkey flip‘em with </tspan>
          <tspan x="0" y="15" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" style="letter-spacing:0.2;">the funky rhythym I </tspan>
          <tspan x="0" y="30" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" style="letter-spacing:0.1;">be kickin’, Musician, </tspan>
          <tspan x="0" y="45" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" style="letter-spacing:-0.18;">inflictin’ composition </tspan>
          <tspan x="-21.9" y="60" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" style="letter-spacing:0.12;">of pain; I’m like Scarface sniffin </tspan>
          <tspan x="-21.9" y="75" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" style="letter-spacing:0.47;">cocaine. Holding an M-16, see </tspan>
          <tspan x="-21.9" y="90" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" style="letter-spacing:0.46;">with the pen I'm extreme now </tspan>
          <tspan x="-51.9" y="105" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" style="letter-spacing:-0.06;">bullet holes left in my peepholes,  I’m suited up in </tspan>
          <tspan x="-51.9" y="120" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8">street clothes hand me a nine and I’ll defeat foes. </tspan>
          <tspan x="-51.9" y="149" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="28" letter-spacing="-1">Y’ALL KNOW </tspan>
          <tspan x="-51.9" y="177" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="28" letter-spacing="1">MY STEELO </tspan>
          <tspan x="-51.9" y="190" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.33">with or without the airplay I keep some E&amp;J, </tspan>
          <tspan x="-51.9" y="205" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.12">sitting bent up in the stairway. Or either on the </tspan>
          <tspan x="-51.9" y="220" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.32">corner betting grants with the cee-lo champs </tspan>
          <tspan x="-51.9" y="235" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.28">laughing at baseheads tryna sell some broken </tspan>
          <tspan x="-51.9" y="250" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.08">amps. G-packs get off quick, forever niggas talk </tspan>
          <tspan x="-76.9" y="265" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.12">shit reminiscing about the last time the Task Force flipped. </tspan>
          <tspan x="-76.9" y="280" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.08">Niggas be running through the block shootin’, time to start the </tspan>
          <tspan x="-76.9" y="295" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.12">revolution catch a body, head for Houston. Once they caught us </tspan>
          <tspan x="-76.9" y="310" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.05">off-guard, the Mac-10 was in the grass and I ran like a cheetah </tspan>
          <tspan x="-76.9" y="325" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.07">with thoughts of an assassin, pick the Mac up, told brothers, </tspan>
          <tspan x="-76.9" y="340" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.09">“back up” the Mac spit lead was hittin’ niggas, one ran - I made </tspan>
          <tspan x="-76.9" y="355" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.25">him backflip. Heard a few chicks scream, my arm shook, couldn’t </tspan>
          <tspan x="-76.9" y="370" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.07">look gave  another squeeze, heard it click, “yo my shit is stuck”, </tspan>
          <tspan x="-76.9" y="385" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.24">try to cock it, it wouldn’t shoot, now I’m in danger, finally </tspan>
          <tspan x="-76.9" y="400" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.02">pulled it back and saw three bullets caught up in the chamber. </tspan>
          <tspan x="-76.9" y="415" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.25">So now I’m jetting to the  building lobby and it was full of children </tspan>
          <tspan x="-76.9" y="430" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.07">probably couldn’t see as high as I be. It’s like the game ain’t the </tspan>
          <tspan x="-76.9" y="445" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.16">same got younger niggas pulling the triggers bringing fame </tspan>
          <tspan x="-76.9" y="460" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.18">to their name, and claim some corners crews without guns</tspan>
          <tspan x="-76.9" y="475" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.02">are goners. In broad daylight, stickup kids: they run up on us, </tspan>
          <tspan x="-76.9" y="490" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.03">4-5’s and gauges, Macs, in fact same niggas will catch a back-</tspan>
          <tspan x="-76.9" y="505" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.06">to-back, snatching your cracks in black. There was a snitch on </tspan>
          <tspan x="-76.9" y="520" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.48">the block getting niggas knocked so hold your stash ‘til </tspan>
          <tspan x="-76.9" y="535" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.28">the coke price drop. I know this crackhead who said she’s </tspan>
          <tspan x="-76.9" y="550" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.5">got to smoke nice rock and if it’s good, she’ll bring you </tspan>
          <tspan x="-76.9" y="565" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.31">customers in measuring pots, but yo, you gotta slide on a </tspan>
          <tspan x="-76.9" y="580" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.13">vacation, inside information  keeps large niggas erasin’ and </tspan>
          <tspan x="-76.9" y="595" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.41">their wives basin’. It drops deep as it does in my breath. </tspan>
          <tspan x="-76.9" y="625" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="29" letter-spacing="-1.22">I NEVER SLEEP,</tspan>
          <tspan x="-76.9" y="655" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="29" letter-spacing="-1.68">CAUSE SLEEP IS</tspan>
          <tspan x="-76.9" y="685" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="29" letter-spacing="-1.4">THE COUSIN OF</tspan>
          <tspan x="-76.9" y="740" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="61" letter-spacing="-1.4">DEATH</tspan>
          <tspan x="-76.9" y="755" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.27">Beyond the walls of intelligence, life is defined. I think of </tspan>
          <tspan x="-76.9" y="770" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.43">crime, when I’m in a New York state of mind. Be having </tspan>
          <tspan x="-76.9" y="785" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.32">dreams that I’m a gangsta, drinking Moets, holding Tecs.</tspan>
          <tspan x="-76.9" y="800" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.17">Making sure the cash came correct, then I stepped. Investments </tspan>
          <tspan x="-76.9" y="815" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.11">in stocks, sewing up the blocks, to sell rocks winning gunfights </tspan>
          <tspan x="-76.9" y="830" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.14">with mega-cops. But just a nigga walking with his finger on </tspan>
          <tspan x="-76.9" y="845" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.06">the trigger, make enough figures until my pockets get bigger.</tspan>
          <tspan x="-76.9" y="860" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.05">I ain’t the type of brother made for you to start testin’, give me </tspan>
          <tspan x="-76.9" y="875" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.02">a Smith &amp; Wesson, I have niggas undressin’. Thinking of cash </tspan>
          <tspan x="-76.9" y="890" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.25">flow, buddah and shelter, whenever frustrated, I’m a hijack Delta. </tspan>
          <tspan x="-76.9" y="905" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.2">In the PJ’s, my blend tape plays, bullets are strays, young bitches </tspan>
          <tspan x="-76.9" y="920" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.04">is grazed, each block is like a maze. Full of black rats trapped </tspan>
          <tspan x="-76.9" y="935" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.14">plus the Island is packed, from what I hear in all the stories </tspan>
          <tspan x="-76.9" y="950" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.1">when my peoples come back, black. I’m living where the nights </tspan>
          <tspan x="-76.9" y="965" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.05">is jet-black, the fiends fight to get crack, I just max, I dream I </tspan>
          <tspan x="-76.9" y="980" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.15">can sit back. And lamp like Capone, with drug scripts sewn, </tspan>
          <tspan x="-116.9" y="995" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.05">or the legal luxury life, rings flooded with stones, holmes. I got too many rhymes, </tspan>
          <tspan x="-116.9" y="1010" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.22">I don’t think I’m too sane life is parallel to hell but I must maintain, and be prosperous, </tspan>
          <tspan x="-116.9" y="1025" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.39">though we live dangerous cops could just arrest me, blaming us, we’re held </tspan>
          <tspan x="-116.9" y="1040" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.39">like hostages. It’s only right that I was born to use mics and the stuff that I </tspan>
          <tspan x="-116.9" y="1055" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.19">write is even tougher than dykes. I’m taking rappers to a new plateau, through </tspan>
          <tspan x="-116.9" y="1070" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.24">rap slow, my rhymin’ is a vitamin held without a capsule. The smooth criminal on beat </tspan>
          <tspan x="-116.9" y="1085" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.1">breaks, never put me in your box if your shit eats tapes. The city never sleeps, full of </tspan>
          <tspan x="-116.9" y="1100" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.12">villains and creeps, that’s where I learned to do my hustle, had to scuffle with freaks. </tspan>
          <tspan x="-116.9" y="1130" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="30" letter-spacing="-0.35">I’M AN ADDICT FOR</tspan>
          <tspan x="-116.9" y="1177" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="54.3" letter-spacing="-1.6">SNEAKERS</tspan>
          <tspan x="-116.9" y="1190" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="0.36">20’s of buddha and bitches with beepers, in the streets I can greet ya, about </tspan>
          <tspan x="-116.9" y="1205" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.31">blunts I teach ya. Inhale deep like the words of my breath, I never sleep, cause sleep is the </tspan>
          <tspan x="-116.9" y="1220" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="8" letter-spacing="-0.22">cousin of death.  I lay puzzle as I backtrack to earlier times .  Nothing’s equivalent to the </tspan>
          <tspan x="-116.9" y="1243" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-weight="700" font-size="22" letter-spacing="-0.9">NEW YORK STATE OF MIND</tspan>
        </text>
        <text transform="matrix(1 0 0 0.99 125.5 213.793)" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="155" letter-spacing="-1">I</text>
        <text transform="matrix(4.489659e-11 -1 0.99 4.444763e-11 167 95)" font-family="'Sentinel SSm A', 'Sentinel SSm B'" font-size="23">Rappers</text>
        </svg>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>