---
title: Nas - I gave you power
player_color: 
track: nas i gave you power
artist: Nas
song: I gave you power
album: It Was Written
wiki_link: http://en.wikipedia.org/wiki/Nas
song_link: https://itunes.apple.com/album/i-gave-you-power/id211507540?i=211508448&uo=4
album_link: https://itunes.apple.com/album/it-was-written/id211507540?uo=4
cat_id: 211508448
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/nas-i-gave-you-power.css" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag("bigtext.js") %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'cbs4rag' },
        active: function() {
          $('h1').bigtext();
        }
      });
    });
  </script>
<% end %>

<article>
  <header>
    <h1><span>I gave you</span> <span>power</span></h1>
  </header>
  <figure>
    <blockquote>
      <p>
        I seen some cold nights and bloody days,
        they grab and me bullets spray,
        they use me wrong so I sing this song 'til this day.
        My body is cold steel for real, 
        I was made to kill, that's why they keep me concealed. 
        Under car seats they sneak me in clubs,
        been in the hands of mad thugs,
        they feed me when they load me with mad slugs. 
        Seventeen precisely, one in my head,
        they call me Desert Eagle, semi-auto with lead. 
        I'm seven inches four pounds, been through so many towns, 
        Ohio to Little Rock to Canarsie, livin harshly.
        Beat up and battered, they pull me out, 
        I watch as niggaz scattered, makin me kill, 
        but what I feel it never mattered.
        When I'm empty I'm quiet, findin myself fiendin to be fired, 
        a broken safety, niggaz place me in shelves,
        under beds, so I beg for my next owner to be a thoroughbred, 
        keep me full up with hollow heads.
      </p>
      <p class="chorus">
        How you like me now? I go blaow.
        It's that shit that moves crowds makin every ghetto foul,
        I might have took your first child,
        Scarred your life, crippled your style.
        I gave you power, 
        I made you buck wild.
      </p>
      <p>
        Always I'm in some shit, my abdomen is the clip,
        the barrel is my dick, uncircumcised.
        Pull my skin back and cock me, I bust off when they unlock me,
        results of what happens to niggaz shock me.
        I see niggaz bleedin runnin from me in fear, stunningly tears,
        fall down the eyes of these so-called tough guys, for years.
        I've been used in robberies, givin niggaz heart to follow me, 
        placin peoples in graves, funerals made cause I was sprayed,
        I was laid in a shelf, with a grenade,
        met a wrecked-up tech with numbers on his chest that say.
        Five-two-oh-nine-three-eight-five and zero,
        had a serial defaced, hopin one day, police would place,
        where he came from, a name or some sort of person to claim him,
        tired of murderin, made him wanna be a plain gun.
        But yo I had some other plans, like the next time the beef is on 
        I make myself jam right in my owner's hand.
      </p>
      <p class="chorus">
        How you like me now? I go blaow.
        It's that shit that moves crowds makin every ghetto foul,
        I might have took your first child,
        Scarred your life, crippled your style.
        I gave you power, 
        I made you buck wild. 
      </p>
      <p>
        Yo, weeks went by and I'm surprised,
        still stuck in the shelf with all the things that an outlaw hides.
        Besides me it's bullets, two vests and then a nine, 
        there's a grenade in a box, and that tech that kept cryin.
        Cause he ain't been cleaned in a year, he's rusty as clear, 
        he's bout to fall to pieces, cause of his murder career.
        yo, I can hear somebody comin in, open the shelf, 
        his eyes bubblin, he said, "It was on", 
        I felt his palm troubled him shakin, 
        Somebody stomped him out, his dome was achin.
        He placed me on his waist, the moment I've been waitin, 
        my creation was for blacks to kill blacks 
        It's gats like me that accidentally, go off, makin niggaz memories.
        But this time, it's done intentionally, 
        he walked me outside, saw this cat 
        Cocked me back, said, "Remember me?".
        He pulled the trigger but I held on, it felt wrong, 
        knowing niggaz is waiting in hell for 'im.
        He squeezed harder, I didn't budge, sick of the blood, 
        sick of the thugs, sick of wrath of the, next man's grudge.
        What the other kid did was pull out, no doubt, 
        a newer me in better shape, before he lit out, he lead the chase. 
        My owner fell to the floor, his wig split so fast, 
        I didn't know he was hit, it's over with.
        Heard mad niggaz screamin, niggaz runnin, cops is comin, 
        Now I'm happy, until I felt somebody else grab me.
        Damn!
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>