---
title: Notorious BIG - 10 Crack Commandments
player_color: 999999
track: notorious big 10 crack commandments
artist: Notorious BIG
song: 10 Crack Commandments
album: Life After Death
wiki_link: http://en.wikipedia.org/wiki/Notorious_B.I.G.
song_link: https://itunes.apple.com/album/ten-crack-commandments/id78996618?i=78996590&uo=4
album_link: https://itunes.apple.com/album/life-after-death-deluxe-version/id78996618?uo=4
cat_id: 78996618
order: 5
screenshot: biggie_ten_crack_commandments.jpg
genius_code: 51
---

<% content_for :stylesheet do %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/639904/css/fonts.css" />
  <%= stylesheet_link_tag "/stylesheets/notorious-big-10-crack-commandments.css" %>
<% end %>

<article>
  <header>
    <h1>10 Crack commandments</h1>
  </header>
  <figure>
    <blockquote>
      <h3>I have been in this game for years, it made me an animal...</h3>
      <p>
        It’s rules to this shit, I wrote me a manual.
        A step by step booklet for you to get,
        your game on track, not your wig pushed back.
      </p>
      <ol>
        <li>
          <h3>Rule nombre uno</h3>
          Never let no one know how much, dough you hold,
          cause you know. The cheddar breed jealousy,
          specially if that man fucked up,
          get your ass stuck up.
        </li>
        <li>
          <h3>Number two</h3>
          Never let em know your next move,
          Don’t you know Bad Boys move in silence or violence.
          Take it from your highness (uh-huh),
          I done squeezed mad clips at these cats for they bricks and chips.
        </li>
        <li>
          <h3>Number three</h3>
          Never trust no-bo-dy.
          Your moms’ll set that ass up, properly gassed up. Hoodie to mask up, shit, for that fast,
          buck, she be layin in the bushes
          to light that ass up.
        </li>
        <li>
          <h3>Number four</h3>
          Know you heard this before,
          Never get high, on your own supply.
        </li>
        <li>
          <h3>Number five</h3>
          Never sell no crack where you rest at,
          I don’t care if they want a ounce,
          tell em bounce.
        </li>
        <li>
          <h3>Number six</h3>
          That god damn credit, dead it,
          You think a crackhead payin you back, shit forget it.
        </li>
        <li>
          <h3>Number seven</h3>
          This rule is so underrated,
          Keep your family and business completely seperated,
          Money and blood don’t mix like two dicks and no bitch,
          Find yourself in serious shit.
        </li>
        <li>
          <h3>Number eight</h3>
          Never keep no weight on you,
          Them cats that squeeze your
          guns can hold jobs too.
        </li>
        <li>
          <h3>Shoulda been number one to me</h3>
          If you ain’t gettin bags stay the fuck from police (uh-huh).
          If niggaz think you snitchin ain’t tryin listen,
          They be sittin in your kitchen, waitin to start hittin.
        </li>
        <li>
          <h3>Number ten</h3>
          Number ten: a strong word called consignment,
          Strictly for live men, not for freshmen,
          If you ain’t got the clientele say hell no,
          Cause they gon want they money rain sleet hail snow.
        </li>
      </ol>
      <h3>Follow These Rules</h3>
      <p>You’ll have mad bread to break up,
      If not, twenty-four years, on the wake up.
      Slug hit your temple, watch your frame shake up,
      Caretaker did your makeup, when you pass.
      Your girl fucked my man Jake up, heard in three weeks,
      she sniffed a whole half of cake up.
      Heard she suck a good dick, and can hook a steak up,
      Gotta go gotta go, more pies to bake up, word up, uhh.</p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>