---
title: Notorious BIG – 10 Crack Commandments
---

- content_for :head do
  %title Notorious BIG – 10 Crack Commandments

- content_for :stylesheet do
  = stylesheet_link_tag "/stylesheets/notorious-big-10-crack-commandments.css"

- content_for :typekit do
  %script{ :src => '//use.typekit.com/ttn4xmr.js' }

- content_for :audio do
  <audio src="/audio/notorious-big-10-crack-commandments.mp3" preload="auto" />

- content_for :posts_navigation do
  %nav
    %ul
      %li=link_to("Next", "/gang-starr-battle")
      %li=link_to("Prev", "/a-tribe-called-quest-oh-my-god")

%article
  %header
    %h1 
      10 Crack commandments

  %blockquote
    %p
      I have been in this game for years, it made me an animal
      It’s rules to this shit, I wrote me a manual
      A step by step booklet for you to get
      your game on track, not your wig pushed back.
    %ol
      %li{:id => "quote_one"} 
        %h3 Rule nombre uno
        Never let no one know how much, dough you hold,
        cause you know. The cheddar breed jealousy
        specially if that man fucked up,
        get your ass stuck up.
      %li{:id => "quote_two"} 
        %h3 Number two
        Never let em know your next move
        Don’t you know Bad Boys move in silence or violence
        Take it from your highness (uh-huh)
        I done squeezed mad clips at these cats for they bricks and chips.
      %li{:id => "quote_three"} 
        %h3 Number three
        Never trust no-bo-dy.
        Your moms’ll set that ass up, properly gassed up. Hoodie to mask up, shit, for that fast buck, she be layin in the bushes
        to light that ass up.
      %li{:id => "quote_four"} 
        %h3 Number four
        know you heard this before
        Never get high, on your own supply.
      %li{:id => "quote_five"} 
        %h3 Number five
        Never sell no crack where you rest at
        I don’t care if they want a ounce,
        tell em bounce.
      %li{:id => "quote_six"} 
        %h3 Number six
        That god damn credit, dead it
        You think a crackhead payin you back, shit forget it.
      %li{:id => "quote_seven"} 
        %h3 Number seven
        This rule is so underrated
        Keep your family and business completely seperated
        Money and blood don’t mix like two dicks and no bitch
        Find yourself in serious shit
      %li{:id => "quote_eight"} 
        %h3 Number eight
        Never keep no weight on you
        Them cats that squeeze your
        guns can hold jobs too
      %li{:id => "quote_nine"} 
        %h3 Shoulda been number one to me
        If you ain’t gettin bags stay the fuck from police (uh-huh)
        If niggaz think you snitchin ain’t tryin listen
        They be sittin in your kitchen, waitin to start hittin.
      %li{:id => "quote_ten"} 
        %h3 Number ten
        Number ten: a strong word called consignment
        Strictly for live men, not for freshmen
        If you ain’t got the clientele say hell no
        Cause they gon want they money rain sleet hail snow.

    %p 
      Follow These Rules
      You’ll have mad bread to break up
      If not, twenty-four years, on the wake up
      Slug hit your temple, watch your frame shake up
      Caretaker did your makeup, when you pass
      Your girl fucked my man Jake up, heard in three weeks
      she sniffed a whole half of cake up
      Heard she suck a good dick, and can hook a steak up
      Gotta go gotta go, more pies to bake up, word up, uhh.
      
    %p
      %cite
        Quote by 
        = link_to("ATCQ", "http://en.wikipedia.org/wiki/The_Notorious_B.I.G.")
        from
        = link_to("Oh my god", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=78996590&id=78996618&s=143441&uo=6")
        on the album 
        = link_to("Midnight Maruaders", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=78996590&id=78996618&s=143441&uo=6")
