---
title: O.C. - Time's Up
player_color: ffffff
track: oc times up
artist: O.C.
song: Time's Up
album: Word...Life
wiki_link: http://en.wikipedia.org/wiki/O.C.
song_link: https://itunes.apple.com/album/word...life/id711930741?i=711930770&uo=4
album_link: https://itunes.apple.com/album/word...life/id711930741?uo=4
order: 17
screenshot: oc_word_life.jpg
genius_link: http://genius.com/Oc-times-up-lyrics
---

<% content_for :stylesheet do %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/748124/css/fonts.css" />
  <%= stylesheet_link_tag "/stylesheets/oc-times-up.css" %>
<% end %>

<article>
  <header>
    <h1>Word<br>...Life</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        You lack the minerals and vitamins, irons and the niacin
        Fuck who that I offend, rappers sit back I'm bout to begin
        bout foul talk you sqwak, never even walked the walk
        More less destined to get tested, never been arrested
        My album will manifest many things that I saw did or heard about 
        or told first hand, never word of mouth
        What's in the future for the fusion in the changer?
        Rappers are in danger, who will use wits to be a remainder
        When the missile is aimed, to blow you out of the frame
        Some will keep their limbs and, some will be maimed
        The same suckers with the gab about, killer instincts
        but turned bitch and knowin damn well they lack
        In this division the conniseur, crackin your head with a 4 by 4
        Realize sucka, I be the comin like Noah
        Always sendin you down, perpetratin facadin what you consider
        a image, to me this is, just a scrimmage
        I'm feel I'm stone, not cause I bop or wear my cap cocked
        The more emotion I put into it, the harder I rock
        Those who pose lyrical but really ain't true I feel
      </p>
      <p>
        Speakin in tongues, about what you did but you never done it
        Admit you bit it cause the next man gained platinum behind it
        I find it ironic, so I researched and analyzed
        Most write about stuff they fantasized
        I'm fed up with the bull, on this focus of weed and clips
        and glocks gettin cocked, and wax not bein flipped
        It's the same old same old just strain it from the anal
        The contact, is not com-pexed or vexed
        So why you puhsin it? Why you lyin for? I know where you live
        I know your folks, you was a sucka as a kid
        Your persona's drama, that you acquired in high school in actin class
        Your whole aura is plexi-glass
        What's-her-face told me you shot this kid last week in the park
        That's a lie, you was in church with your moms
      </p>
      <p>
        See I know yo, slow your roll, give a good to go
        Guys be lackin in this thing called rappin just for dough
        Of course we gotta pay rent, so money connects, but uhh
        I'd rather be broke and have a whole lot of respect
        It's the principal of it, I get a rush when I bust
        some dope lines oral, that maybe somebody'll quote
        That's what I consider real, in this field of music
        Instead of puttin brain cells to work they abuse it
        Non-conceptual, non-exceptional
        Everybody's either crime-related or sexual
        I'm here to make a difference, besides all the riffin
        The traps are not stickin, rappers stop flippin
        For those who pose lyrical but really ain't true I feel
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>
