---
title: Ocean Wisdom - Revvin'
player_color: ffffff
player_country: gb
track: ocean wisdom revvin
artist: Ocean Wisdom
song: Revvin'
album: Wizville
wiki_link: http://www.high-focus.com/home/artists/ocean-wisdom/
song_link: https://geo.itunes.apple.com/gb/album/contents-unda-pressure/392245615?i=392245696&mt=1&app=music
album_link: https://geo.itunes.apple.com/us/album/revvin-feat-dizzee-rascal/1339690947?i=1339691277&mt=1&app=music
cat_id: 1339691277
order: 45
screenshot: ocean_wisdom_revvin.jpg
genius_link: https://genius.com/Ocean-wisdom-revvin-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("https://cloud.typography.com/613014/7293792/css/fonts.css") %>
  <%= stylesheet_link_tag("ocean-wisdom-revvin.css") %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag("shapes-polyfill.min") %>
<% end %>

<article>
  <header>
    <h1 aria-label="Ocean Wisdom - Revvin">
      <span aria-hidden="true">Re</span>
      <span aria-hidden="true">vi</span>
      <span aria-hidden="true">n'</span>
    </h1>
  </header>
  <figure>
    <blockquote>
      <div class="verse-one">
        <div class="shape"></div>
        <p>Manna first did this, when man come through in all black. I just nicked suttin’, lime light. Rob out the lime light, t for the manor, busy bunnin’ on a reefer. They never got the memo, that a fellow from the south spitting ether. So either they’re deaf or they’re dumb, if neither they’re mocking it, they’re rocking suttin’ silly for the feature, they’re gimmicky they’re relevant for now with no longevity.  The remedy for that is how you body with them readily so woah, I ain’t got to study how another brother flow, listen to a legend make a better rapper grow, better for competitors that are living with a pro. Swinging with a donny you’re swinging with Ali G, man’s really in a hurry to build up another lead. Brilliant and lovely looking at the esteemed, considering every challenge resulted in their defeat. They beat the beat, I eat the beat, then beat the beat. I treat the beat right, I beat the beat boss. Betray me and die, you be the bobcat, you’re head between thigh. Runnin’ on my cuppa they be shutting down, she sucking on suttin’ and then she duckin’ out .I done a show with the baddest man about, I turn a gunner into a daffodil. Dem man they're holding Ls, dem man ain’t holding Zs, and that’s fact!</p>
      </div>
      <div class="verse-two">
        <div class="shape"></div>
        <p>Dem man are already tell I’m on too much for them try rev, like “Why you trying to rev?” About revvin’ my face, on a Sunday, till I hit man with a awkward leg. Awkward elbow, top of the head, like boom bow, put him to bed.Like Joe Rogan said a man like me ain’t seen that in a thousand fights, man got clocked with a vibrant right, and a hesitant left. Is a man still alive? Watch how I jump on the tune with dell, and a role model. Dem man are all hype, got a man feeling all dilly and white. No dilly no dally, I flick out the light. How you gonna come and try rev, how you gonna act like I’m not ahead, and you’re stuck on the red. You’re easily read, like you’re playing dead. I’m a rebel, I’m ready whenever my level is heavy. You’re light as a feather I beg, beg you know I’m a celeb, but I’m dreading I’ll put you to bed, for some shit that you should have just thought but you said. ‘Cause you’re a pleb, only concern should be getting this bread, are you pulling my leg, gone in the head, copper and lead. He drops and he bled, go get a doctor and send for the med. You should have fled, dearly departed. Look what you gone and you started, you bumbaclart. Should have been smart, but you were retarded instead. Use your brain, don’t lose your lane, maintain, refrain from saying my name. And I’ll do the same, and everything’ll be right as rain. Don’t go against the grain, ‘cause I can get a little off the chain, gassed up on my own no shame, like I’m off the mains. They’re looking at me like I’m at the wrong stop, and I got no ticket, I just hop the train, what have I got to gain?  I already gained the fame, I already got/copped the Range, I come through like Dr Strange.Tell the lane miss me with the games, I don’t entertain, cocaine flow in your vein, but I bring the pain. Give me the long story short don’t make me strain, so I can see you all clear and plain, I’m not a plain Jane, I got Jane insane! Hopping on the cane, she give me top then I rock it again, she give me Brighton dome. I’m up bright and early, with a brighter bone, even when I’m in Rome I feel right at home, the beat got me in a tighter zone. I could have jumped at your hype, but I like my own, and I’m kind of grown.</p>
      </div>
      <div class="verse-three">
        <div class="shape"></div>
        <p>I heard Ocean Wisdom said somebody better get that boy on the phone, let him do what he does. Don’t change one tone, just leave him alone. Eighteen I was eight deep, with a great beat. Lately manna make P, from a G, hopefully manna wrote down a couple notes on me. Oh did he not, he don’t know about me, okay no kidding man a note of me, and then globally fandom are roll for me. Hours on a beat, okay mandem on a show for me. They’re a nobody, with the way they facilitate what I do bait and a anecdote for me would be high road for me and I didn’t ride out on a wasteman wave. That’s a woah woah buddy, you should body down for me, I’ll be showing you the ropes when you trying to just rave. Why help bodies that are not that gully, when you could be summoning the best of the greats. No sales dummy, that is not that funny when you got to rely on the O for the cake. Still fuck it then I fornicate the day away where I get up and I made a pip and then I get to press it on her puss. Luckily the way they gravitate to what I’m doing got them reaching in their pockets that they get it in their cuz, ‘cause they feel a man and follow man and run around the city. Like an animal I put them on their paws, ‘cause the mandem want to draw, as they thought they was I’m on a Wu-Tang vibe on tour. Bred a spliff and let me talk, I ain’t filling them with pork, licking on her loin. Ripping something raw that’s savagery, man’s been on it since Mark and Valerie. This bar cost man calories, smash and attack, eubank swag get a bang in the mouth. Junior swag hold 25 more, Wiz be a fan of just having it out, I run up a tab I told them the score.</p>
      </div>
    </blockquote>
    <div class="caption-wrapper">
      <div class="shape"></div>
      <%= partial 'figcaption', locals: { data: current_page.data, include_span: true } %>
    </div>
  </figure>
</article>