- content_for :head do
  %title Eric B &amp; Rakim – Paid in Full

- content_for :stylesheet do
  = stylesheet_link_tag "/stylesheets/rakim–paid-in-full.css"

- content_for :typekit do
  %script{ :src => '//use.typekit.com/cbs4rag.js' }

- content_for :audio do
  <audio src="/audio/rakim–paid-in-full.mp3" preload="auto" />

- content_for :posts_navigation do
  %nav
    %ul
      %li=link_to("Next", "/ludacris–mvp")
      %li=link_to("Prev", "/nas-i-gave-you-power")

%article
  %header
    %h1 
      Paid in Full

%figure
  %blockquote
    %p
      Thinking of a master plan
      Cause ain’t nothing but sweat inside my hand
      So I dig into my pocket, all my money spent
      So I dig deeper but still coming up with lint

      So I start my mission, leave my residence
      Thinking how could I get some dead presidents
      I need money, I used to be a stick-up kid
      So I think of all the devious things I did

      I used to roll up, this is a hold up, ain’t nothing funny
      Stop smiling, be still, don’t nothing move but the money
      But now I learned to earn cause I’m righteous
      I feel great, so maybe I might just

      Search for a 9 to 5, if I strive
      Then maybe I’ll stay alive
      So I walk up the street, whistling this
      Feeling out of place cause, man, do I miss

      A pen and a paper, a stereo, a tape of
      Me and Eric B and a nice big plate of
      Fish, which is my favorite dish
      But without no money it’s still a wish

      Cause I don’t like to dream about getting paid
      So I dig into the books of the rhymes that I made
      So now's a test to see if I got pull
      Hit the studio, cause I’m paid in full

      Rakim, check this out, yo
      You go to your girl house and I'll go to mine
      Cause my girl is definitely mad
      Cause it took us too long to do this album

      Yo, I hear what you're saying
      So let's just pump the music up
      And count our money

      Yo, well check this out, yo Eli
      Turn down the bass down
      And let the beat just keep on rockin'

  %figcaption
      Quote by 
      = link_to("Ludacris", "http://en.wikipedia.org/wiki/Ludacris")
      %cite
        from
        = link_to("MVP", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408778&id=296408163&s=143444&uo=6")
        on the album 
        = link_to("Theatre of the Mind", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408762&id=296408163&s=143444&uo=6")