---
title: Sean Price - Bar Barian
player_color: ffffff
track: sean price bar barian
artist: Sean Price
song: Bar Barian
album: Mic Tyson
wiki_link: https://en.wikipedia.org/wiki/Sean_Price
song_link: https://geo.itunes.apple.com/ca/album/bar-barian/id567606524?i=567606897&mt=1&app=music
album_link: https://geo.itunes.apple.com/ca/album/mic-tyson-deluxe-edition/id567606524?mt=1&app=music
cat_id: 567606524
order: 38
screenshot: sean_price_bar_barian.jpg
genius_link: http://genius.com/Sean-price-bar-barian-lyrics
---

<% content_for :stylesheet do %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/652648/css/fonts.css" />
  <%= stylesheet_link_tag("sean-price-bar-barian.css") %>
<% end %>

<article>
  <header>
    <h1>
      <span>Sean</span>
      <span>Price</span>
    </h1>
  </header>
  <figure>
    <blockquote>
      <p>
        I don't want to dougie, I just want money. Studied under the understudy the one-twenty. Young dummies can't spar, no life, my flow tight, like your pants are. You don't got a chance, Pa, Ansaar community. Malachi York fricasse, yo fuck a eulogy, fuck jewelry; what jewelry. I took this from another rapper, slapped him with the toolie, G. 
        <br><br>
        Cornball rappers, I see you on BET, relieved of their jewelry, interview Beef DVD. P TNT, the flow dynamite, niggas so-so, bozos ain't rhyming right. I hit a line of white, I smoke a dub of green. Niggas call it purple, what the fuck you mean. Fuck a fistfight, I'm gunning you rappers. I don't give a fuck about none of y'all rappers.
        <span><b>My</b> <b>flow</b> <b>tight</b></span>
      </p>
      <h2>
        <span>Bar</span>
        <span>Barian</span>
      </h2>
      <p>
        Fifth spray shit, the piff stay lit, my bitch stay dipped with the Richard Bey tits. Niggas say shit, they say it ain't shit. Shut the fuck up nigga I'm nothing to play with, P. I bust heaters at your whole damn clique, blaow. Sean Price, the leader of Boot Camp Clik now. Admire the admirable animal rap, smack the shit out of a nigga and hand him his hat. 
        <br><br>
        Banging on wax, niggas don't bang in the street, banging online, niggas don't bang in the street. Playing for keeps, keep playing. I slam your ass on your face til your fucking teeth breaking. P, the jerk that retired, I'm nice so I'm back niggas. Smack earth, wind, fire, and ice out that nigga. Rap niggas, I doubt if there's nigga doing it like me, fuck outta here, P.
        <span><b>Slam</b> <b>your</b> <b>ass</b></span>
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data, include_span: true } %>
    <p class="artwork">Artwork by <%= link_to("Raphael Tanghal","http://therifraf.deviantart.com/") %></p>
  </figure>
</article>