<% content_for :javascript do %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'rtk2bgd' }
      });
    });
  </script>
<% end %>

<section id="store">
  
  <h1>Store</h1>

  <ul>
    <li>
      <a href="http://www.redbubble.com/people/hiphopquoted/works/13081336-nas-n-y-state-of-mind?c=337991-prints&p=art-print"><img src="http://ih1.redbubble.net/image.33729615.1336/flat,800x800,070,f.u1.jpg" alt=""></a>
      <h2><a href="http://www.redbubble.com/people/hiphopquoted/works/13081336-nas-n-y-state-of-mind?c=337991-prints&p=art-print">Nas - N.Y. State of Mind</a></h2>
      <p>Multiple sizes available from $20.45</p>
      <a href="http://www.redbubble.com/people/hiphopquoted/works/13081336-nas-n-y-state-of-mind?c=337991-prints&p=art-print" class="button">Buy now</a>
    </li>
  </ul>


</section>