---
title: Talib Kweli - Drugs, Basketball &amp; Rap
player_color: ffffff
track: talib kweli drugs basketball rap
artist: Talib Kweli
song: Drugs, Basketball, &amp; Rap
album: Right About Now
wiki_link: http://en.wikipedia.org/wiki/Talib_Kweli
song_link: https://itunes.apple.com/album/drugs-basketball-rap-feat./id279485218?i=279485222&uo=4
album_link: https://itunes.apple.com/album/right-about-now-official-sucka/id279485218?uo=4
cat_id: 279485222
order: 19
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/talib-kweli-drugs-basketball-and-rap.css" %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "bwu4rgz", :include_big_text => true, :include_lettering => false, :script => "$('h1, h2').bigtext();" } %>
<% end %>

<article>
  <header>
    <h1><span>Drugs</span> <span>Basketball</span> <span>or the</span> <span>Rap</span></h1>
  </header>
  <figure>
    <blockquote>
      <div>
        <h2><span>Woah!</span></h2>
        <p>
          I'm dealing with, nothing but facts, when I spit it, though,
          You niggas superstitious don't step on the cracks or split the poem.
          Candle light, flickers so bright, I feel the wick can kick a sicker flow,
          And spill it like a liquor store, I spit the shit to make a cripple get up and dance.
          I spit the shit to make the average MC piss in his pants.
          I spit the shit to make a motherfucker call it a night.
          I spit the shit to see fuck wit C. Delores Tucker sex like.
          I take a sip from my creative well, in this game for a minute.
          I play this well to win it, you go to Africa, like Dave Chappelle, you finished.
          Cause your prehistoric raps is boring, the number of whack rappers soaring,
          Like the percentages of teenagers who have abortions.
          These niggas meek, their lyrics weak, and their beats is corporate,
          They try snitching on records their mouths is leaking faucets.
          Dripping them over system than, Chinese water torture,
          Ripping a series of events, more unfortunate than Lemony Snicket.
        </p>
      </div>
      <div>
        <h2><span>Yea!</span></h2>
        <p>
          Medallions mind, bless the mic for the gods, teach the blind,
          Plus get a piece of mine release your minds for each design.
          Baby food for thought, rappers not coonin' for sport,
          Due to these pork eatin niggas of sort.
          Yo you's a fuckface, burnt out loser that's always up late,
          Planet Asia the revolutionary slash nut case.
          A witchcraft black magic, data load up computers,
          <br><br>
          A spread the message wrote to you where when I show illusions,
          If all y'all niggas is killas then how you write your records.
          How'd you find the time stop lying, your minds' infected,
          There's only a few, and I ain't saying niggas don't put it down from you town.
          I'm talkin bout you,
          Yea the fake dude promotin propaganda,
          And open on some fanna, and out right, snitching on them cameras,
          Planet Asia, gold chain black bandanas low,
          Steady Gain Klick Klack rang rang, there they go.
        </p>
      </div>
      <div>
        <h2><span>Yeah!</span></h2>
        <p>
          Just a high skip and a jump,
          Away from getting everything that I could possibly want,
          And prostitutes front.
          Get a 4 bar on the roster, scratch that,
          I'm talkin about a full roster of raps.
          Monsters that rap, buzzed out check the cadence of the frequency,
          Uniquely, we strong arms strategically,
          Easily I twist the killa cali,
          Back alleys burnin backwoods in danelis or,
          He probably with Kweli, out in BK.
          We make it easy for the DJ's, like instant replays,
          Conversation by the buttons, I talk and touch something.
          Straight shots of the Louis he flew me out to London,
          Crunchin numbers flippin more dough, like siccisero,
          Next thing you know we kissin ya ho, without the mistletoe.
          Strong arm steady, agony can ???, fill the rigglies,
          The Big League niggas is dropping indies.
          Let's go.
        </p>
      </div>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data, include_span: true } %>
  </figure>
</article>
