---
title: Wu-Tang Clan - Cream
player_color: ffffff
track: Wu-Tang Clan - Cream
artist: Wu-Tang Clan
song: Cream
album: 36 Chambers
wiki_link: https://en.wikipedia.org/wiki/Wu-Tang_Clan
song_link: https://geo.itunes.apple.com/album/c.r.e.a.m./id269842381?i=269843734&mt=1&app=music
album_link: https://geo.itunes.apple.com/album/enter-wu-tang-36-chambers/id269842381?mt=1&app=music
cat_id: 269843734
order: 39
screenshot: wu_tang_clan_cream.jpg
genius_link: http://genius.com/Wu-tang-clan-cream-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("wu-tang-clan-cream.css") %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { font_id: "exv1jid", script: false } %>
<% end %>

<article>
  <div class="bird">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
  </div>
  <header>
    <h1>Cash Rules</h1>
  </header>
  <figure>
    <blockquote>
      <hr>
      <div class="row">
        <h2 class="verse-one">Raekwon <br>the Chef</h2>
        <p>
          I grew up on the crime side, the New York Times side, staying alive was no jive. Had secondhands, Mom’s bounced on old man, so we moved to Shaolin land. A young youth, yo, rocking the gold tooth, ‘Lo goose, only way I be gettin’ the G off was drug loot. And let’s start it like this son, rolling with this one and that one, pulling out Gats for fun. But it was just a dream for the teen who was a fiend, started smoking woolas at 16, and running up in gates, and doing hits for high stakes, making my way on fire escapes. <br><br> No question I would speed for cracks and weed. The combination made my eyes bleed. No question. I would flow off and try to get the dough all, sticking up white boys in ball courts. My life got no better, same damn ‘Lo sweater, times is rough and tough like leather. Figured out I went the wrong route, so I got with a sick-ass clique and went all out. Catching keys from across seas, rolling in MPV’s every week we made forty G’s. Yo nigga respect mine or here go the TEC-9. Ch-chick-POW move from the gate now.
        </p>
      </div>
      <hr>
      <div class="row">
        <h2 class="verse-two">Inspectah Deck</h2>
        <p>
          It’s been twenty-two long hard years of still struggling, survival got me bugging, but I’m alive on arrival, I peep at the shape of the streets. And stay awake to the ways of the world cause shit is deep. A man with a dream with plans to make cream, which failed; I went to jail at the age of fifteen. A young buck selling drugs and such who never had much, trying to get a clutch at what I could not touch. The court played me short, now I face incarceration, pacin’ - going upstate’s my destination. Handcuffed in the back of a bus, forty of us, life as a shorty shouldn’t be so rough. But as the world turns I learned life is hell, living in the world no different from a cell. Every day I escape from Jakes giving chase, selling base, smoking bones in the staircase. <br><br> Though I don’t know why I chose to smoke sess, I guess that’s the time when I’m not depressed. But I’m still depressed and I ask what’s it worth? Ready to give up so I seek the old Earth, who explained working hard may help you maintain. To learn to overcome the heartaches and pain. We got stickup kids, corrupt cops, and crack rocks and stray shots, all on the block that stays hot. Leave it up to me while I be living proof, to kick the truth to the young Black youth. But shorty’s running wild, smoking sess, drinking beer. And ain’t trying to hear what I’m kicking in his ear. Neglected for now, but yo, it gots to be accepted. That what? That life is hectic.
        </p>
      </div>
      <hr>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>
